|<!doctype html>
|<html>
|<head>
link(rel="stylesheet" type="text/css" href="../../dist/css/stylesheet.css")
|<meta charset="utf-8">
|</head>
|<body>
include ../../src/_global/includes/layout.jade
style
    |h1 {text-transform: uppercase;; background: #ddd; width: 100%; text-align: center; padding: 30px 0;}
    |.display {padding: 150px 0; display: table; margin: 0 auto;}


.display
    a(href="#Advert")
        div +Advert
    a(href="#TextButton")
        div +TextButton
    a(href="#Quote")
        div +Quote
    a(href="#Thumbnail")
        div +Thumbnail
    a(href="#MagazineMockup")
        div +MagazineMockup
    a(href="#SocialMedia")
        div +SocialMedia
    a(href="#Search")
        div +Search
    a(href="#Column")
        div +Column
    a(href="#MenuItem")
        div +MenuItem
    a(href="#Profiles")
        div +Profiles





h1#Advert +Advert
.display(style="width: 400px;") +Advert
    +Advert
.display(style="width: 400px;") +Advert--largeSkyscraper
    +Advert--largeSkyscraper
.display(style="width: 400px;") +Advert--partnerLogo
    +Advert--partnerLogo
.display(style="width: 400px;") +Advert--smallSkyscraper
    +Advert--smallSkyscraper
.display(style="width: 400px;") +Advert--largeSuperbannerr
    +Advert--largeSuperbanner
.display(style="width: 400px;")  +Advert--islandAdverts
    +Advert--container


h1#TextButton +TextButton
.display(style="width: 400px;") +TextButton
    +TextButton
.display(style="width: 400px;") +TextButton--blue
    +TextButton--blue
.display(style="width: 400px;") +TextButton--heading
    +TextButton--heading
.display(style="width: 400px;") +TextButton--report
    +TextButton--report
.display(style="width: 400px;") +TextButton--files
    +TextButton--files(1,2,3,4)
.display(style="width: 400px;") +TextButton--files--noLink
    +TextButton--files--noLink(1,2,3,4)
.display(style="width: 400px;") +TextButton--heading--signedOut
    |+TextButton--heading--signedOut
.display(style="width: 400px;") +TextButton--tender
    +TextButton--tender
.display(style="width: 400px;") +TextButton--otherTenders
    +TextButton--otherTenders
.display(style="width: 400px;") +TextButton--bold
    +TextButton--bold
.display(style="width: 400px;") +TextButton--bold--grey
    +TextButton--bold--grey
.display(style="width: 400px;") +TextButton--bold--blue
    +TextButton--bold--blue
.display(style="width: 400px;") +TextButton--files--noLabel
    +TextButton--files--noLabel



h1#Heading +Heading
.display(style="width: 400px;") +Heading
    +Heading('Text','Text')
.display(style="width: 400px;") +Heading--noArrow--noLinks
    +Heading--noArrow--noLinks('Text','Text')
.display(style="width: 400px;") +Heading--noArrow--noLinks--noBar
    +Heading--noArrow--noLinks--noBar(null, 'Text')


h1#Quote +Quote
.display(style="width: 400px;") +Quote
    +Quote
.display(style="width: 400px;") +Quote--grey
    +Quote--grey


h1#Thumbnail +Thumbnail
.display(style="width: 400px;") +Thumbnail--media
    +Thumbnail--media
.display(style="width: 400px;") +Thumbnail--event
    +Thumbnail--event
.display(style="width: 400px;") +Thumbnail
    +Thumbnail
.display(style="width: 400px;") +Thumbnail--showcase
    +Thumbnail--showcase
.display(style="width: 400px;") +Thumbnail--event--large
    +Thumbnail--event--large
.display(style="width: 400px;") +Thumbnail--report
    +Thumbnail--report
.display(style="width: 400px;") +Thumbnail--tender
    +Thumbnail--tender
.display(style="width: 200px;") +Thumbnail--news
    +Thumbnail--news
.display(style="width: 800px;") +Thumbnail--showcase--archive--media
    +Thumbnail--showcase--archive--media
.display(style="width: 800px;") +Thumbnail--media--showcase
    +Thumbnail--media--showcase
.display(style="width: 200px;") +Thumbnail--magazine
    +Thumbnail--magazine




Thumbnail--showcase--archive--media






h1#MagazineMockup +MagazineMockup
.display(style="width: 400px;") +MagazineMockup
    +MagazineMockup

h1#MenuItem +MenuItem
.display(style="width: 400px;") +MenuItem
    +MenuItem
.display(style="width: 400px;") +MenuItem--login
    +MenuItem--login
.display(style="width: 800px;") +MenuItem--secondary
    +MenuItem--secondary
.display(style="width: 400px;") +MenuItem--secondary--first
    +MenuItem--secondary--first
.display(style="width: 400px;") +MenuItem--main
    +MenuItem--main
.display(style="width: 50px;") +MenuItem--search
    +MenuItem--search
.display(style="width: 400px;") +MenuItem--footer
    +MenuItem--footer
.display(style="width: 400px;") +MenuItem--footer--first
    +MenuItem--footer--first



h1#Column +Column
.display(style="width: 400px;") +Columnxdds
    +Column


h1#Search +SocialMedia
.display(style="width: 400px;") +SocialMedia
    +SocialMedia
.display(style="width: 400px;") +SocialMedia--blacks
    +SocialMedia--black

h1#Profiles +Profiles
.display(style="width: 800px") +Profiles
    +Profiles
.display(style="width: 800px;") +Profiles-contact
    +Profiles-contact


|</body>
|</html>






