select {cursor: pointer; border: none; text-shadow: none;}


#CategoryFeatured-centre {width: 1255px; margin: 60px auto 0 auto}

#CategoryArchive-centre {width: 1255px; margin: 0 auto;}

#CategoryFeatured-row3-col1{ width:  50%; padding-right: 10px;}
#CategoryFeatured-row3-col2{ width:  50%; padding-left: 10px;}


#CategoryArchive-centre {margin-top:  60px; }






#CategoryPagination-centre {text-align: center;}

@include laptop {

    #CategoryFeatured-centre {width: 90%;}
        #CategoryArchive-centre {width: 90%;}

}

@include tablet {

    #__introduction-row1-col1 {margin-bottom: 20px;}

}


@include mobile {
    #CategoryFeatured-row3-col1{ width:  100%; padding-right: 0px; margin-bottom: 20px;}
#CategoryFeatured-row3-col2{ width:  100%; padding-left: 0px; margin-bottom: 20px;}

}


#__introduction-row1-col2-row1 {margin-bottom: 5px;}

#CategoryFeatured-row3 {margin-top: 20px;}

#__Magazine-Category {margin-top: 60px;}

#CategoryPagination-centre {margin-top: 50px;margin-bottom: 100px; width: 500px; margin-left: auto; margin-right: auto;}

#CategoryPagination-row1-col1 {width: 29%; padding-right: 5px}
#CategoryPagination-row1-col2 {width: 29%; padding-left: 5px}
.CategoryPagination-item {width: 14%; padding: 0 5px}

