@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300italic,300,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300italic,300,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,700,700italic);
/* line 23, C:/MSEI/src/_global/utilities.scss */
* {
  Box-sizing: border-box; }

/* line 25, C:/MSEI/src/_global/utilities.scss */
body {
  font-family: Roboto, Arial; }

/* line 28, C:/MSEI/src/_global/utilities.scss */
h1 {
  font-size: 2.375em;
  font-weight: 700;
  line-height: 1.5625em;
  font-weight: 700; }

/* line 35, C:/MSEI/src/_global/utilities.scss */
h2 {
  font-size: 1.625em;
  line-height: 2em;
  font-weight: 400; }

/* line 41, C:/MSEI/src/_global/utilities.scss */
h3 {
  font-size: 1.625em;
  font-weight: 700;
  margin-bottom: 1.25em;
  line-height: 2em; }

/* line 48, C:/MSEI/src/_global/utilities.scss */
p {
  font-size: 1.125em;
  line-height: 1.625em;
  margin-top: 1em;
  margin-bottom: 1em; }

/* line 55, C:/MSEI/src/_global/utilities.scss */
ul {
  font-size: 1.125em;
  line-height: 1.625em;
  margin-top: 0.9375em;
  margin-bottom: 0.9375em;
  text-decoration: none; }

/* line 63, C:/MSEI/src/_global/utilities.scss */
li {
  margin-bottom: 0.5em; }

/* line 68, C:/MSEI/src/_global/utilities.scss */
.u-cf:after {
  content: "" !important;
  display: table !important;
  clear: both !important; }

/* line 74, C:/MSEI/src/_global/utilities.scss */
.u-floatLeft {
  float: left; }

/* line 78, C:/MSEI/src/_global/utilities.scss */
.u-floatRight {
  float: right; }

/* line 82, C:/MSEI/src/_global/utilities.scss */
.u-absolute {
  position: absolute !important; }

/* line 86, C:/MSEI/src/_global/utilities.scss */
.u-relative {
  position: relative !important; }

/* line 90, C:/MSEI/src/_global/utilities.scss */
.u-fixed {
  position: fixed !important; }

/* line 94, C:/MSEI/src/_global/utilities.scss */
.u-noUnderline {
  text-decoration: none !important; }

/* line 98, C:/MSEI/src/_global/utilities.scss */
.u-noMargin {
  margin: 0 !important; }

/* line 102, C:/MSEI/src/_global/utilities.scss */
.u-table {
  display: table !important; }

/* line 106, C:/MSEI/src/_global/utilities.scss */
.u-tableRow {
  display: table-row !important; }

/* line 110, C:/MSEI/src/_global/utilities.scss */
.u-tableCell {
  display: table-cell !important; }

/* line 115, C:/MSEI/src/_global/utilities.scss */
.u-borderLeft {
  border-left: 1px solid #999999; }

/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
/* line 12, C:/MSEI/src/_global/spritesheet.scss */
.icon-arrow {
  background-image: url(../img/spritesheet.png);
  background-position: -172px -144px;
  width: 10px;
  height: 16px; }

/* line 18, C:/MSEI/src/_global/spritesheet.scss */
.icon-arrowWhite, .M__heading-prompt:hover .icon-arrow, .M__textPrompt-row2:hover .icon-arrow {
  background-image: url(../img/spritesheet.png);
  background-position: -172px -128px;
  width: 10px;
  height: 16px; }

/* line 24, C:/MSEI/src/_global/spritesheet.scss */
.icon-close {
  background-image: url(../img/spritesheet.png);
  background-position: -142px -56px;
  width: 24px;
  height: 25px; }

/* line 30, C:/MSEI/src/_global/spritesheet.scss */
.icon-closeQuote {
  background-image: url(../img/spritesheet.png);
  background-position: -66px -141px;
  width: 32px;
  height: 26px; }

/* line 36, C:/MSEI/src/_global/spritesheet.scss */
.icon-closeQuoteRed {
  background-image: url(../img/spritesheet.png);
  background-position: -98px -141px;
  width: 32px;
  height: 26px; }

/* line 42, C:/MSEI/src/_global/spritesheet.scss */
.icon-closeWhite, .M__closeButton-main:hover .M__closeButton-col1 {
  background-image: url(../img/spritesheet.png);
  background-position: -142px -81px;
  width: 24px;
  height: 25px; }

/* line 48, C:/MSEI/src/_global/spritesheet.scss */
.icon-dropdown {
  background-image: url(../img/spritesheet.png);
  background-position: -162px -106px;
  width: 10px;
  height: 7px; }

/* line 54, C:/MSEI/src/_global/spritesheet.scss */
.icon-dropdownWhite, .M__mainNavButton-main:hover:not(.is-activated) .M__mainNavButton-container .M__mainNavButton-centre .M__mainNavButton-arrow {
  background-image: url(../img/spritesheet.png);
  background-position: -172px -160px;
  width: 10px;
  height: 7px; }

/* line 60, C:/MSEI/src/_global/spritesheet.scss */
.icon-footerDot {
  background-image: url(../img/spritesheet.png);
  background-position: -186px -52px;
  width: 4px;
  height: 3px; }

/* line 66, C:/MSEI/src/_global/spritesheet.scss */
.icon-login {
  background-image: url(../img/spritesheet.png);
  background-position: -172px -82px;
  width: 13px;
  height: 13px; }

/* line 72, C:/MSEI/src/_global/spritesheet.scss */
.icon-loginRed, .M__Login-main:hover .M__Login-container .icon-login {
  background-image: url(../img/spritesheet.png);
  background-position: -172px -69px;
  width: 13px;
  height: 13px; }

/* line 78, C:/MSEI/src/_global/spritesheet.scss */
.icon-openQuote {
  background-image: url(../img/spritesheet.png);
  background-position: 0px -141px;
  width: 33px;
  height: 26px; }

/* line 84, C:/MSEI/src/_global/spritesheet.scss */
.icon-openQuoteRed {
  background-image: url(../img/spritesheet.png);
  background-position: -33px -141px;
  width: 33px;
  height: 26px; }

/* line 90, C:/MSEI/src/_global/spritesheet.scss */
.icon-pullQuote {
  background-image: url(../img/spritesheet.png);
  background-position: -142px -30px;
  width: 26px;
  height: 26px; }

/* line 96, C:/MSEI/src/_global/spritesheet.scss */
.icon-search {
  background-image: url(../img/spritesheet.png);
  background-position: -142px -106px;
  width: 20px;
  height: 20px; }

/* line 102, C:/MSEI/src/_global/spritesheet.scss */
.icon-searchWhite, .M__mainNavsearch-main:hover .M__mainNavsearch-container:not(.is-activated) .M__mainNavsearch-icon {
  background-image: url(../img/spritesheet.png);
  background-position: -112px -90px;
  width: 20px;
  height: 20px; }

/* line 108, C:/MSEI/src/_global/spritesheet.scss */
.icon-facebook {
  background-image: url(../img/spritesheet.png);
  background-position: -172px -110px;
  width: 9px;
  height: 18px; }

/* line 114, C:/MSEI/src/_global/spritesheet.scss */
.icon-facebookRed, .M__socialLinkButton-icon.icon-facebook:hover {
  background-image: url(../img/spritesheet.png);
  background-position: -181px -110px;
  width: 9px;
  height: 18px; }

/* line 120, C:/MSEI/src/_global/spritesheet.scss */
.icon-google {
  background-image: url(../img/spritesheet.png);
  background-position: -172px 0px;
  width: 18px;
  height: 18px; }

/* line 126, C:/MSEI/src/_global/spritesheet.scss */
.icon-googleRed, .M__socialLinkButton-icon.icon-google:hover {
  background-image: url(../img/spritesheet.png);
  background-position: -149px -141px;
  width: 18px;
  height: 18px; }

/* line 132, C:/MSEI/src/_global/spritesheet.scss */
.icon-linkedin {
  background-image: url(../img/spritesheet.png);
  background-position: -130px -141px;
  width: 19px;
  height: 18px; }

/* line 138, C:/MSEI/src/_global/spritesheet.scss */
.icon-linkedinRed, .M__socialLinkButton-icon.icon-linkedin:hover {
  background-image: url(../img/spritesheet.png);
  background-position: -120px -111px;
  width: 19px;
  height: 18px; }

/* line 144, C:/MSEI/src/_global/spritesheet.scss */
.icon-rss {
  background-image: url(../img/spritesheet.png);
  background-position: -172px -35px;
  width: 17px;
  height: 17px; }

/* line 150, C:/MSEI/src/_global/spritesheet.scss */
.icon-rssRed, .M__socialLinkButton-icon.icon-rss:hover {
  background-image: url(../img/spritesheet.png);
  background-position: -172px -18px;
  width: 17px;
  height: 17px; }

/* line 156, C:/MSEI/src/_global/spritesheet.scss */
.icon-twitter {
  background-image: url(../img/spritesheet.png);
  background-position: -19px -167px;
  width: 19px;
  height: 16px; }

/* line 162, C:/MSEI/src/_global/spritesheet.scss */
.icon-twitterRed, .M__socialLinkButton-icon.icon-twitter:hover {
  background-image: url(../img/spritesheet.png);
  background-position: 0px -167px;
  width: 19px;
  height: 16px; }

/* line 168, C:/MSEI/src/_global/spritesheet.scss */
.icon-youtube {
  background-image: url(../img/spritesheet.png);
  background-position: -81px -62px;
  width: 22px;
  height: 16px; }

/* line 174, C:/MSEI/src/_global/spritesheet.scss */
.icon-youtubeRed, .M__socialLinkButton-icon.icon-youtube:hover {
  background-image: url(../img/spritesheet.png);
  background-position: -90px -81px;
  width: 22px;
  height: 16px; }

/* line 180, C:/MSEI/src/_global/spritesheet.scss */
.icon-commentShare {
  background-image: url(../img/spritesheet.png);
  background-position: -30px -111px;
  width: 30px;
  height: 30px; }

/* line 186, C:/MSEI/src/_global/spritesheet.scss */
.icon-commentShareWhite, .M__socialShareButton-main:hover .icon-commentShare {
  background-image: url(../img/spritesheet.png);
  background-position: -30px -81px;
  width: 30px;
  height: 30px; }

/* line 192, C:/MSEI/src/_global/spritesheet.scss */
.icon-emailShare {
  background-image: url(../img/spritesheet.png);
  background-position: 0px -81px;
  width: 30px;
  height: 30px; }

/* line 198, C:/MSEI/src/_global/spritesheet.scss */
.icon-emailShareWhite, .M__socialShareButton-main:hover .icon-emailShare {
  background-image: url(../img/spritesheet.png);
  background-position: -112px -30px;
  width: 30px;
  height: 30px; }

/* line 204, C:/MSEI/src/_global/spritesheet.scss */
.icon-facebookShare {
  background-image: url(../img/spritesheet.png);
  background-position: -60px -81px;
  width: 30px;
  height: 30px; }

/* line 210, C:/MSEI/src/_global/spritesheet.scss */
.icon-facebookShareWhite, .M__socialShareButton-main:hover .icon-facebookShare {
  background-image: url(../img/spritesheet.png);
  background-position: -60px -111px;
  width: 30px;
  height: 30px; }

/* line 216, C:/MSEI/src/_global/spritesheet.scss */
.icon-googleShare {
  background-image: url(../img/spritesheet.png);
  background-position: -90px -111px;
  width: 30px;
  height: 30px; }

/* line 222, C:/MSEI/src/_global/spritesheet.scss */
.icon-googleShareWhite, .M__socialShareButton-main:hover .icon-googleShare {
  background-image: url(../img/spritesheet.png);
  background-position: -142px 0px;
  width: 30px;
  height: 30px; }

/* line 228, C:/MSEI/src/_global/spritesheet.scss */
.icon-linkedShareWhite, .M__socialShareButton-main:hover .icon-linkedinShare {
  background-image: url(../img/spritesheet.png);
  background-position: -112px -60px;
  width: 30px;
  height: 30px; }

/* line 234, C:/MSEI/src/_global/spritesheet.scss */
.icon-linkedinShare {
  background-image: url(../img/spritesheet.png);
  background-position: 0px -111px;
  width: 30px;
  height: 30px; }

/* line 240, C:/MSEI/src/_global/spritesheet.scss */
.icon-twitterShare {
  background-image: url(../img/spritesheet.png);
  background-position: -81px -31px;
  width: 30px;
  height: 31px; }

/* line 246, C:/MSEI/src/_global/spritesheet.scss */
.icon-twitterShareWhite, .M__socialShareButton-main:hover .icon-twitterShare {
  background-image: url(../img/spritesheet.png);
  background-position: -112px 0px;
  width: 30px;
  height: 30px; }

/* line 252, C:/MSEI/src/_global/spritesheet.scss */
.icon-calender {
  background-image: url(../img/spritesheet.png);
  background-position: -172px -52px;
  width: 14px;
  height: 17px; }

/* line 258, C:/MSEI/src/_global/spritesheet.scss */
.icon-map {
  background-image: url(../img/spritesheet.png);
  background-position: -172px -95px;
  width: 11px;
  height: 15px; }

/* line 264, C:/MSEI/src/_global/spritesheet.scss */
.icon-play {
  background-image: url(../img/spritesheet.png);
  background-position: 0px 0px;
  width: 81px;
  height: 81px; }

/* line 270, C:/MSEI/src/_global/spritesheet.scss */
.icon-playSmall {
  background-image: url(../img/spritesheet.png);
  background-position: -81px 0px;
  width: 31px;
  height: 31px; }

/* line 70, C:/MSEI/src/_global/A__atoms.scss */
.A__magazinePreviewTitle-main {
  font: 700 1.5625em "Roboto Condensed";
  text-transform: uppercase; }

/* line 87, C:/MSEI/src/_global/A__atoms.scss */
.A__disclaimerText-line {
  text-align: center;
  color: #ccc;
  padding-left: 0.3125em; }

/* line 92, C:/MSEI/src/_global/A__atoms.scss */
.A__disclaimerText-row {
  padding: 0.3125em 0;
  display: table;
  margin: 0 auto; }

/* line 97, C:/MSEI/src/_global/A__atoms.scss */
.A__disclaimerText-main {
  line-height: 1.125em;
  font-size: 0.8125em;
  letter-spacing: 0.0625em;
  text-align: center; }

/* line 103, C:/MSEI/src/_global/A__atoms.scss */
.A__disclaimerText-Link {
  color: #ccc; }

@media (max-width: 43.75em) {
  /* line 107, C:/MSEI/src/_global/A__atoms.scss */
  .A__disclaimerText-line {
    float: none;
    line-height: 1.25em; } }

/* line 125, C:/MSEI/src/_global/A__atoms.scss */
.A__textMSEI-main {
  font: 700 1.625em "Roboto Condensed";
  text-transform: uppercase;
  color: white; }
  /* line 129, C:/MSEI/src/_global/A__atoms.scss */
  .A__textMSEI-main:hover {
    color: red; }

@media (max-width: 43.75em) {
  /* line 134, C:/MSEI/src/_global/A__atoms.scss */
  .A__textMSEI-main {
    text-align: center; } }

/* line 151, C:/MSEI/src/_global/A__atoms.scss */
.A__smallTitle-main {
  text-transform: uppercase;
  white-space: nowrap;
  font: 700 1em "Roboto Condensed";
  color: #aaaaaa; }

/* line 157, C:/MSEI/src/_global/A__atoms.scss */
.A__smallTitle-main--socialShare {
  text-align: center; }

/* line 12, C:/MSEI/src/_global/M__molecules.scss */
.M__closeButton-main {
  padding: 1.5625em;
  background: #adadad;
  border-radius: 2.1875em;
  color: black;
  text-transform: uppercase;
  font: 700 1.5em "Roboto Condensed"; }

/* line 13, C:/MSEI/src/_global/M__molecules.scss */
.M__closeButton-main:hover {
  background: red;
  color: white; }

/* line 18, C:/MSEI/src/_global/M__molecules.scss */
.M__closeButton-col1 {
  margin-top: 0.125em; }

/* line 19, C:/MSEI/src/_global/M__molecules.scss */
.M__closeButton-col2 {
  padding-left: 0.625em; }

/* line 32, C:/MSEI/src/_global/M__molecules.scss */
.M__magazineReadPrompt-main {
  background: red;
  color: white;
  padding: 0.625em 1.25em;
  display: table;
  margin: 1.875em auto 1.875em auto;
  text-transform: uppercase; }

/* line 33, C:/MSEI/src/_global/M__molecules.scss */
.M__magazineReadPrompt-main:hover {
  background: #cdcdcd;
  color: black; }

/* line 48, C:/MSEI/src/_global/M__molecules.scss */
.M__labeledLinkItem-main {
  margin-bottom: 0.9375em;
  color: black; }
  /* line 51, C:/MSEI/src/_global/M__molecules.scss */
  .M__labeledLinkItem-main:hover {
    color: red; }

/* line 55, C:/MSEI/src/_global/M__molecules.scss */
.M__labeledLinkItem-main:hover .M__labeledLinkItem-labelContainer .M__labeledLinkItem-label {
  background: red; }

/* line 58, C:/MSEI/src/_global/M__molecules.scss */
.M__labeledLinkItem-labelContainer {
  vertical-align: middle; }

/* line 61, C:/MSEI/src/_global/M__molecules.scss */
.M__labeledLinkItem-label {
  padding: 0.5em 0.625em;
  background: #555555;
  text-transform: uppercase;
  color: white;
  font-size: 0.8125em;
  font-weight: 700;
  letter-spacing: 1px; }

/* line 71, C:/MSEI/src/_global/M__molecules.scss */
.M__labeledLinkItem-title {
  padding-left: 0.625em;
  vertical-align: middle;
  font-weight: 700; }

/* line 77, C:/MSEI/src/_global/M__molecules.scss */
.M__labeledLinkItem-label--presentation {
  background: #888888; }

/* line 89, C:/MSEI/src/_global/M__molecules.scss */
.M__quote-row2 {
  padding: 0.625em 0; }

/* line 90, C:/MSEI/src/_global/M__molecules.scss */
.M__quote-text {
  font-weight: 700;
  font-size: 1.25em;
  color: red; }

/* line 95, C:/MSEI/src/_global/M__molecules.scss */
.M_quote-source {
  font-size: 0.8125em;
  color: red;
  font-weight: 700;
  text-transform: uppercase; }

/* line 114, C:/MSEI/src/_global/M__molecules.scss */
.M__magazinePreviewButton-main {
  background: red;
  color: white;
  text-transform: uppercase;
  font: 700 0.8125em "Roboto Condensed";
  padding: 0.3125em 0.625em;
  letter-spacing: 1px;
  margin-right: 0.625em; }

/* line 123, C:/MSEI/src/_global/M__molecules.scss */
.M__magazinePreviewButton-main--grey {
  background: grey; }

/* line 127, C:/MSEI/src/_global/M__molecules.scss */
.M__magazinePreviewButton-main:hover {
  background: #aaa; }

/* line 143, C:/MSEI/src/_global/M__molecules.scss */
.M__magazinePreviewArticle-main {
  font: 700 1em "Roboto";
  border-top: 1px solid #aaa;
  padding: 0.625em 0; }
  /* line 147, C:/MSEI/src/_global/M__molecules.scss */
  .M__magazinePreviewArticle-main:hover {
    background: #aaa; }

/* line 164, C:/MSEI/src/_global/M__molecules.scss */
.M__contentThumb-prompt {
  text-transform: uppercase;
  border: 1px solid white;
  border-radius: 1.25em;
  margin-top: 0.625em;
  font-size: 700;
  font: 700 0.8125em "Roboto"; }

/* line 173, C:/MSEI/src/_global/M__molecules.scss */
.M__contentThumb-main {
  color: white;
  margin-bottom: 1.125em;
  transition: all 1s ease-in-out; }

/* line 178, C:/MSEI/src/_global/M__molecules.scss */
.M__contentThumb-container.u-relative {
  width: 100%;
  height: 12.5em;
  overflow: hidden; }

/* line 183, C:/MSEI/src/_global/M__molecules.scss */
img.M__contentThumb-imageu.u-absolute {
  left: -1000%;
  right: -1000%;
  top: -1000%;
  bottom: -1000%;
  margin: auto;
  min-height: 100%;
  min-width: 100%; }

/* line 192, C:/MSEI/src/_global/M__molecules.scss */
.M__contentThumb-showcase {
  margin-top: 0.9375em;
  display: none;
  text-transform: uppercase;
  font-weight: 700; }

/* line 198, C:/MSEI/src/_global/M__molecules.scss */
.M__contentThumb-container.u-absolute {
  text-align: left;
  width: 100%;
  bottom: 0; }

/* line 203, C:/MSEI/src/_global/M__molecules.scss */
.M__contentThumb-label {
  padding: 0.3125em 0.9375em 0.3125em 0.625em;
  background: red; }

/* line 207, C:/MSEI/src/_global/M__molecules.scss */
.M__contentThumb-overlay {
  padding: 0 1.25em;
  background: black;
  background: rgba(0, 0, 0, 0.7);
  height: 6.25em;
  width: 100%;
  padding-bottom: 1.875em; }

/* line 215, C:/MSEI/src/_global/M__molecules.scss */
.M__contentThumb-mediaPlay {
  vertical-align: middle;
  width: 4.375em; }

/* line 219, C:/MSEI/src/_global/M__molecules.scss */
.M__contentThumb-title {
  font-weight: 700;
  margin-top: 1.25em; }

/* line 223, C:/MSEI/src/_global/M__molecules.scss */
.M__contentThumb-date {
  font-size: 0.8125em;
  color: #ccc;
  margin-top: 0.625em; }

/* line 228, C:/MSEI/src/_global/M__molecules.scss */
.M__contentThumb-subheading {
  display: none; }

/* line 233, C:/MSEI/src/_global/M__molecules.scss */
.M__contentThumb-prompt {
  height: 0;
  width: 5.9375em;
  padding: 0 0 0 0.625em;
  overflow: hidden;
  transition: all 0.5s ease;
  opacity: 0; }

/* line 241, C:/MSEI/src/_global/M__molecules.scss */
.M__contentThumb-main:hover .M__contentThumb-container .M__contentThumb-overlay .M__contentThumb-row .M__contentThumb-content .M__contentThumb-prompt {
  height: 1.75em;
  padding: 0.3125em 0 0 0.625em;
  transition: all 0.3s ease;
  opacity: 1; }

/* line 260, C:/MSEI/src/_global/M__molecules.scss */
.M__magazineMockup-main {
  background: #e5e5e5;
  width: 100%;
  height: 15.625em;
  display: table; }

/* line 266, C:/MSEI/src/_global/M__molecules.scss */
.M__magazineMockup-centre {
  position: relative;
  width: 19.375em;
  height: 13.4375em;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 0.9375em; }

/* line 274, C:/MSEI/src/_global/M__molecules.scss */
.M__magazineMockup-background {
  position: absolute;
  top: 0.5em;
  left: -0.125em; }

/* line 279, C:/MSEI/src/_global/M__molecules.scss */
.M__magazineMockup-imageContainer {
  width: 8.8125em;
  height: 19.375em;
  perspective: 56.25em;
  position: absolute; }

/* line 285, C:/MSEI/src/_global/M__molecules.scss */
.M__magazineMockup-image {
  width: 12.5em;
  height: 15.625em;
  margin-left: 3.1875em;
  margin-top: -2em;
  opacity: 1;
  transform: rotateY(33deg) rotateZ(-20deg) rotateX(52deg);
  -webkit-backface-visibility: hidden; }

/* line 307, C:/MSEI/src/_global/M__molecules.scss */
.M__largeSkyscraperAdvert-main {
  border: 0.0625em solid #cdcdcd;
  background: #eeeeee;
  padding: 1.875em 0; }

/* line 312, C:/MSEI/src/_global/M__molecules.scss */
.M__largeSkyscraperAdvert-title {
  font-size: 0.8125em;
  text-transform: uppercase;
  font-weight: 700;
  color: #a5a5a5;
  letter-spacing: 0.0625em;
  text-align: center;
  margin-bottom: 0.625em; }

/* line 321, C:/MSEI/src/_global/M__molecules.scss */
.M__largeSkyscraperAdvert-container {
  display: table;
  margin: 0 auto; }

/* line 342, C:/MSEI/src/_global/M__molecules.scss */
.M__heading-main {
  border-bottom: solid 0.5em black;
  font-family: "Roboto Condensed";
  font-weight: 700;
  text-transform: uppercase; }

/* line 348, C:/MSEI/src/_global/M__molecules.scss */
.M__heading-title {
  background: #ed1b25;
  font-size: 1.625em;
  color: white;
  padding: 0.375em 0.5em 0 0.375em;
  height: 1.9375em; }

/* line 355, C:/MSEI/src/_global/M__molecules.scss */
.M__heading-prompt {
  background: #efefef;
  color: black;
  font-size: 1em;
  padding: 1em 1.25em 0 1.25em;
  height: 3.125em; }
  /* line 361, C:/MSEI/src/_global/M__molecules.scss */
  .M__heading-prompt:hover {
    background: #cdcdcd;
    color: white; }

/* line 369, C:/MSEI/src/_global/M__molecules.scss */
.M__heading-arrow {
  margin-top: 0.0625em;
  margin-left: 0.75em; }

@media (max-width: 62.5em) {
  /* line 380, C:/MSEI/src/_global/M__molecules.scss */
  .M__heading-title {
    padding: 0.875em 0.625em 0 0.625em;
    height: 3.5em; }
  /* line 384, C:/MSEI/src/_global/M__molecules.scss */
  .M__heading-prompt {
    padding: 1.875em 0.625em 0 0.625em;
    height: 5.625em; } }

@media (max-width: 62.5em) and (max-width: 43.75em) {
  /* line 389, C:/MSEI/src/_global/M__molecules.scss */
  .M__heading-prompt {
    float: none; } }

@media (max-width: 62.5em) {
  /* line 393, C:/MSEI/src/_global/M__molecules.scss */
  .M__heading-arrow {
    margin-top: 0.125em; } }

@media (max-width: 43.75em) {
  /* line 403, C:/MSEI/src/_global/M__molecules.scss */
  .M__heading-title {
    float: none;
    height: 100%; }
  /* line 407, C:/MSEI/src/_global/M__molecules.scss */
  .M__heading-main {
    width: 100%; }
  /* line 410, C:/MSEI/src/_global/M__molecules.scss */
  .M__heading-promptContainer {
    display: table;
    margin: 0 auto; } }

/* line 429, C:/MSEI/src/_global/M__molecules.scss */
.M__contentButton-main {
  width: 100%;
  padding: 0.6875em;
  font: 700 1em "Roboto Condensed";
  text-transform: uppercase;
  background: #eee;
  border: none;
  color: black;
  cursor: pointer; }
  /* line 438, C:/MSEI/src/_global/M__molecules.scss */
  .M__contentButton-main:hover {
    background: #b8b8b8; }

/* line 442, C:/MSEI/src/_global/M__molecules.scss */
.M__contentButton-main--filter {
  width: 100%;
  border-bottom: 0.125em solid white; }

/* line 446, C:/MSEI/src/_global/M__molecules.scss */
.M__contentButton-main--pagination {
  text-align: center; }

@media (max-width: 43.75em) {
  /* line 450, C:/MSEI/src/_global/M__molecules.scss */
  .M__contentButton-main {
    height: 6.25em; } }

/* line 467, C:/MSEI/src/_global/M__molecules.scss */
.M__featuredImage-container {
  width: 100%;
  text-align: center;
  overflow: hidden;
  height: 26.875em;
  color: white;
  margin-bottom: 1.125em; }

/* line 475, C:/MSEI/src/_global/M__molecules.scss */
.M__featuredImage-image {
  left: -1000%;
  right: -1000%;
  top: -1000%;
  bottom: -1000%;
  margin: auto;
  min-height: 100%;
  min-width: 100%; }

/* line 484, C:/MSEI/src/_global/M__molecules.scss */
.M__featuredImage-label {
  background: red;
  bottom: 0;
  padding: 0.3125em 0.9375em 0.3125em 0.625em;
  color: white;
  background: red;
  margin-left: 29%; }

@media (max-width: 43.75em) {
  /* line 493, C:/MSEI/src/_global/M__molecules.scss */
  .M__featuredImage-label {
    margin-left: 0; } }

@media (max-width: 81.25em) {
  /* line 498, C:/MSEI/src/_global/M__molecules.scss */
  .M__featuredImage-image {
    height: 100%; }
  /* line 501, C:/MSEI/src/_global/M__molecules.scss */
  .M__featuredImage-container {
    height: 42.5em; } }

/* line 518, C:/MSEI/src/_global/M__molecules.scss */
.M__topNavButton-container {
  border-right: 1px solid #777;
  padding: 0 0.9375em;
  margin: 0.9375em 0; }

/* line 524, C:/MSEI/src/_global/M__molecules.scss */
.M__topNavButton-main {
  font-size: 0.8125em;
  color: #cccccc;
  height: 100%; }
  /* line 528, C:/MSEI/src/_global/M__molecules.scss */
  .M__topNavButton-main:hover {
    color: #ed1b25; }

/* line 546, C:/MSEI/src/_global/M__molecules.scss */
.M__socialShareButton-container {
  padding: 0.4375em 0.25em;
  border-bottom: 0.0625em solid #cdcdcd;
  color: #999999; }
  /* line 550, C:/MSEI/src/_global/M__molecules.scss */
  .M__socialShareButton-container:hover .M__socialShareButton-container {
    background: #b8b8b8;
    color: white; }

/* line 556, C:/MSEI/src/_global/M__molecules.scss */
.M__socialShareButton-main:hover .M__socialShareButton-container {
  background: #b8b8b8;
  color: white; }

/* line 579, C:/MSEI/src/_global/M__molecules.scss */
.M__socialShareButton-text {
  text-transform: uppercase;
  font-size: 0.8125em;
  font-weight: 700;
  padding: 0.5em 0 0.5em 0.625em; }

@media (max-width: 62.5em) {
  /* line 586, C:/MSEI/src/_global/M__molecules.scss */
  .M__socialShareButton-main {
    width: 16.6%;
    border-bottom: 0;
    float: left; }
  /* line 591, C:/MSEI/src/_global/M__molecules.scss */
  .M__socialShareButton-container {
    background: #eee;
    padding: 1.25em;
    height: 5.625em;
    margin-right: 1.25em;
    border-radius: 0.625em; }
  /* line 598, C:/MSEI/src/_global/M__molecules.scss */
  .M__socialShareButton-icon {
    float: none;
    margin: 0 auto;
    display: table; }
  /* line 603, C:/MSEI/src/_global/M__molecules.scss */
  .M__socialShareButton-text {
    float: none;
    text-align: center;
    padding-left: 0; } }

@media (max-width: 43.75em) {
  /* line 610, C:/MSEI/src/_global/M__molecules.scss */
  .M__socialShareButton-main {
    width: 50%;
    margin-bottom: 1.25em; } }

/* line 627, C:/MSEI/src/_global/M__molecules.scss */
.M__textPrompt-label {
  background: #222222;
  color: white;
  padding: 0.3125em 0.625em; }

/* line 630, C:/MSEI/src/_global/M__molecules.scss */
.M__textPrompt-main {
  border: 1px solid #cdcdcd;
  color: black; }

/* line 635, C:/MSEI/src/_global/M__molecules.scss */
.M__textPrompt-row2 {
  color: black; }
  /* line 638, C:/MSEI/src/_global/M__molecules.scss */
  .M__textPrompt-row2:hover {
    background: #b8b8b8;
    color: white; }

@media (max-width: 62.5em) {
  /* line 649, C:/MSEI/src/_global/M__molecules.scss */
  .M__textPrompt-main {
    height: 5em;
    padding: 1.75em; } }

/* line 654, C:/MSEI/src/_global/M__molecules.scss */
.M__textPrompt-col1-row1 {
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Roboto Condensed"; }

/* line 659, C:/MSEI/src/_global/M__molecules.scss */
.M__textPrompt-col1-row2 {
  font-size: 0.875em;
  margin-top: 0.1875em; }

/* line 663, C:/MSEI/src/_global/M__molecules.scss */
.M__textPrompt-field {
  color: red;
  margin-right: 0.3125em; }

/* line 667, C:/MSEI/src/_global/M__molecules.scss */
.M__textPrompt-data {
  margin-right: 0.4375em; }

/* line 670, C:/MSEI/src/_global/M__molecules.scss */
.M__textPrompt-main {
  width: 100%; }

/* line 673, C:/MSEI/src/_global/M__molecules.scss */
.M__textPrompt-col2 {
  width: 1.25em;
  vertical-align: middle; }

/* line 677, C:/MSEI/src/_global/M__molecules.scss */
.M__textPrompt-col1 {
  width: auto; }

/* line 680, C:/MSEI/src/_global/M__molecules.scss */
.M__textPrompt-titleBar {
  background: #eeeeee;
  padding: 0.625em 0.75em;
  font: 700 1em "Roboto Condensed";
  text-transform: uppercase; }

/* line 686, C:/MSEI/src/_global/M__molecules.scss */
.M__textPrompt-row2 {
  padding: 0.9375em; }

/* line 689, C:/MSEI/src/_global/M__molecules.scss */
.M__textPrompt-container {
  width: 100%; }

/* line 692, C:/MSEI/src/_global/M__molecules.scss */
.M__textPrompt-row1 {
  text-transform: uppercase;
  font: 700 1em "Roboto Condensed";
  padding: 0.9375em;
  background: #eeeeee; }

/* line 699, C:/MSEI/src/_global/M__molecules.scss */
.M__textPrompt-row2--blue {
  background: #06c4f7;
  border: 0;
  color: white; }

/* line 713, C:/MSEI/src/_global/M__molecules.scss */
.M__shortcodeBox-main {
  padding: 1.875em;
  background: #eeeeee;
  border: solid 0.0625em #cdcdcd;
  margin: 3.75em 0; }

/* line 732, C:/MSEI/src/_global/M__molecules.scss */
.M__disclaimerLink-main {
  padding: 0 0 0 0.625em;
  text-transform: uppercase;
  letter-spacing: 0.0625em;
  font-size: 0.8125em; }

/* line 738, C:/MSEI/src/_global/M__molecules.scss */
.M__disclaimerLink-icon {
  padding-right: 0.625em; }

/* line 741, C:/MSEI/src/_global/M__molecules.scss */
.M__disclaimerLink-text {
  color: #ccc; }
  /* line 743, C:/MSEI/src/_global/M__molecules.scss */
  .M__disclaimerLink-text:hover {
    color: red; }

/* line 747, C:/MSEI/src/_global/M__molecules.scss */
.M__disclaimerLink-dot {
  margin-top: 0.375em; }

@media (max-width: 62.5em) {
  /* line 751, C:/MSEI/src/_global/M__molecules.scss */
  .M__disclaimerLink-dot--tabletHide {
    display: none; } }

@media (max-width: 43.75em) {
  /* line 756, C:/MSEI/src/_global/M__molecules.scss */
  .M__disclaimerLink-dot {
    display: none;
    text-align: center; }
  /* line 760, C:/MSEI/src/_global/M__molecules.scss */
  .M__disclaimerLink-text {
    width: 100%;
    text-align: center; }
  /* line 764, C:/MSEI/src/_global/M__molecules.scss */
  .M__disclaimerLink-main {
    padding: 0; } }

/* line 781, C:/MSEI/src/_global/M__molecules.scss */
.M__secondaryNavButton-container {
  text-align: center;
  text-transform: uppercase;
  font-size: 0.8125em;
  font-weight: 700;
  border-right: 1px solid #999999;
  letter-spacing: 0.0625em; }

/* line 789, C:/MSEI/src/_global/M__molecules.scss */
.M__secondaryNavButton-main {
  padding: 0.625em 0;
  color: black;
  height: 100%; }
  /* line 793, C:/MSEI/src/_global/M__molecules.scss */
  .M__secondaryNavButton-main:hover {
    color: red; }

/* line 814, C:/MSEI/src/_global/M__molecules.scss */
.M__Search-keywordContainer {
  width: 25em; }

/* line 817, C:/MSEI/src/_global/M__molecules.scss */
.M__Search-keyword {
  font-weight: 700;
  color: #999;
  height: 2.5em;
  padding: 0 0.625em;
  width: 100%; }

/* line 824, C:/MSEI/src/_global/M__molecules.scss */
.M__Search-categoryContainer {
  padding-left: 1.25em; }

/* line 827, C:/MSEI/src/_global/M__molecules.scss */
.M__Search-category {
  text-transform: uppercase;
  font-weight: 700;
  color: #999;
  height: 2.5em;
  padding: 0 0.625em;
  cursor: pointer;
  width: 100%; }

/* line 836, C:/MSEI/src/_global/M__molecules.scss */
.M__Search-buttonContainer {
  padding-left: 1.25em; }

/* line 839, C:/MSEI/src/_global/M__molecules.scss */
.M__Search-button {
  height: 2.5em;
  background: #ed1b25;
  color: white;
  border: none;
  padding: 0 2.5em;
  text-transform: uppercase;
  font-family: "Roboto Condensed";
  font-weight: 700; }
  /* line 848, C:/MSEI/src/_global/M__molecules.scss */
  .M__Search-button:hover {
    background: #777; }

/* line 852, C:/MSEI/src/_global/M__molecules.scss */
.M__mainNavsearch-main {
  border-left: 0.0625em solid white;
  border-right: 0.0625em solid white; }

/* line 856, C:/MSEI/src/_global/M__molecules.scss */
.M__mainNavsearch-container {
  border-bottom: 0.25em solid #aaaaaa;
  height: 3.125em;
  padding-top: 0.875em; }
  /* line 860, C:/MSEI/src/_global/M__molecules.scss */
  .M__mainNavsearch-container.is-activated {
    border-bottom: 0.25em solid #cdcdcd;
    background: #cdcdcd; }
  /* line 864, C:/MSEI/src/_global/M__molecules.scss */
  .M__mainNavsearch-container:hover:not(.is-activated) {
    border-bottom: 0.25em solid red; }

/* line 869, C:/MSEI/src/_global/M__molecules.scss */
.M__mainNavsearch-main:hover:not(.is-activated) {
  background: red; }

/* line 873, C:/MSEI/src/_global/M__molecules.scss */
.M__mainNavsearch-icon {
  margin: 0 auto; }

/* line 879, C:/MSEI/src/_global/M__molecules.scss */
.M__Search-keyword {
  max-width: 25em; }

@media (max-width: 62.5em) {
  /* line 889, C:/MSEI/src/_global/M__molecules.scss */
  .M__Search-keywordContainer {
    width: 50%; }
  /* line 892, C:/MSEI/src/_global/M__molecules.scss */
  .M__Search-buttonContainer {
    width: 25%; }
  /* line 895, C:/MSEI/src/_global/M__molecules.scss */
  .M__Search-categoryContainer {
    width: 25%; }
  /* line 898, C:/MSEI/src/_global/M__molecules.scss */
  .M__Search-keyword {
    height: 5.625em; }
  /* line 901, C:/MSEI/src/_global/M__molecules.scss */
  .M__Search-button {
    height: 5.625em; }
  /* line 904, C:/MSEI/src/_global/M__molecules.scss */
  .M__Search-category {
    height: 5.625em; } }

/* line 920, C:/MSEI/src/_global/M__molecules.scss */
.M__pullQuote-main {
  height: auto;
  background: white;
  font-family: "Roboto Condensed";
  font-weight: 700;
  padding: 0.3125em 0;
  width: 15em; }

/* line 928, C:/MSEI/src/_global/M__molecules.scss */
.M__pullQuote-quote {
  border-left: 0.0625em solid grey;
  padding-left: 1.25em;
  margin-left: 1.25em;
  margin-bottom: 2.5em; }

/* line 934, C:/MSEI/src/_global/M__molecules.scss */
.M__pullQuote-text {
  color: black;
  font-size: 1.25em; }

/* line 938, C:/MSEI/src/_global/M__molecules.scss */
.M__pullQuote-icon {
  margin-top: 0.625em;
  margin-right: 0.625em; }

/* line 942, C:/MSEI/src/_global/M__molecules.scss */
.M__pullQuote-retweet {
  margin-bottom: 0.75em;
  margin-top: 1.375em;
  color: grey;
  font-size: 0.75em;
  margin-left: 1.125em;
  letter-spacing: 0.0625em;
  text-transform: uppercase; }

@media (max-width: 62.5em) {
  /* line 952, C:/MSEI/src/_global/M__molecules.scss */
  .M__pullQuote-main {
    max-width: 18.75em;
    width: 100%;
    margin: 3.75em 0; } }

@media (max-width: 43.75em) {
  /* line 959, C:/MSEI/src/_global/M__molecules.scss */
  .M__pullQuote-main {
    max-width: 100%; }
  /* line 962, C:/MSEI/src/_global/M__molecules.scss */
  .M__pullQuote-quote {
    margin: 0;
    padding: 0;
    border: 0; } }

/* line 981, C:/MSEI/src/_global/M__molecules.scss */
.M__footColumn-main {
  padding-left: 1.25em; }

/* line 984, C:/MSEI/src/_global/M__molecules.scss */
.M__footColumn-link {
  margin-bottom: 0.8125em;
  color: #ccc;
  font-size: 0.8125em; }
  /* line 988, C:/MSEI/src/_global/M__molecules.scss */
  .M__footColumn-link:hover {
    color: red; }

/* line 991, C:/MSEI/src/_global/M__molecules.scss */
.M__footColumn-heading {
  font: 700 1em "Roboto Condensed";
  text-transform: uppercase;
  color: white;
  margin-bottom: 0.9375em;
  color: #ccc; }
  /* line 997, C:/MSEI/src/_global/M__molecules.scss */
  .M__footColumn-heading:hover {
    color: red; }

@media (max-width: 62.5em) {
  /* line 1032, C:/MSEI/src/_global/M__molecules.scss */
  .M__socialLinkButton-circle {
    background: #444;
    height: 5em;
    border-radius: 2.5em; }
  /* line 1037, C:/MSEI/src/_global/M__molecules.scss */
  .M__socialLinkButton-container {
    padding-top: 1.875em; }
  /* line 1040, C:/MSEI/src/_global/M__molecules.scss */
  .M__socialLinkButton-icon {
    margin: 0 auto; } }

/* line 1057, C:/MSEI/src/_global/M__molecules.scss */
.M__Login-main {
  color: #ccc;
  font-size: 0.8125em;
  font-weight: 700;
  text-transform: uppercase;
  height: 100%; }
  /* line 1063, C:/MSEI/src/_global/M__molecules.scss */
  .M__Login-main:hover {
    color: red; }

/* line 1067, C:/MSEI/src/_global/M__molecules.scss */
.M__Login-container {
  padding: 0 0.9375em;
  margin: 0.9375em 0; }

/* line 1071, C:/MSEI/src/_global/M__molecules.scss */
.M__Login-icon {
  margin-right: 0.4375em; }

/* line 1074, C:/MSEI/src/_global/M__molecules.scss */
.M__Login-icon {
  margin-top: 1px; }

/* line 1093, C:/MSEI/src/_global/M__molecules.scss */
.M__mainNavButton-main {
  text-align: center;
  font-family: "Roboto Condensed"; }

/* line 1097, C:/MSEI/src/_global/M__molecules.scss */
.M__mainNavButton-centre {
  display: table;
  margin: 0 auto; }

/* line 1101, C:/MSEI/src/_global/M__molecules.scss */
.M__mainNavButton-text {
  text-transform: uppercase;
  font-weight: 700; }

/* line 1105, C:/MSEI/src/_global/M__molecules.scss */
.M__mainNavButton-main {
  color: black;
  border-left: 0.0625em solid white; }
  /* line 1108, C:/MSEI/src/_global/M__molecules.scss */
  .M__mainNavButton-main:hover:not(.is-activated) {
    background: red;
    color: white; }
  /* line 1112, C:/MSEI/src/_global/M__molecules.scss */
  .M__mainNavButton-main.is-activated .M__mainNavButton-container {
    border-bottom: 0.25em solid #cdcdcd;
    background: #cdcdcd; }

/* line 1120, C:/MSEI/src/_global/M__molecules.scss */
.M__mainNavButton-container {
  border-bottom: 0.25em solid #aaaaaa;
  padding-top: 0.9375em;
  height: 3.125em; }

/* line 1125, C:/MSEI/src/_global/M__molecules.scss */
.M__mainNavButton-arrow {
  margin-top: 0.375em;
  margin-left: 0.1875em; }

/* line 45, C:/MSEI/src/_global/O__organisms.scss */
.O__magazineMockupBlock-main {
  border: solid 1px #cdcdcd; }

/* line 46, C:/MSEI/src/_global/O__organisms.scss */
.O__magazineMockupBlock-row2 {
  padding: 1.5625em 0.9375em; }

/* line 47, C:/MSEI/src/_global/O__organisms.scss */
.O__magazineMockupBlock-row3 {
  border-top: 1px solid #cdcdcd;
  margin: 0 0.9375em; }

/* line 61, C:/MSEI/src/_global/O__organisms.scss */
.O__photoGallery-item {
  padding-left: 0.375em;
  padding-bottom: 0.375em; }

/* line 65, C:/MSEI/src/_global/O__organisms.scss */
.O__photoGallery-item:nth-child(13n+1) {
  padding: 0; }

/* line 68, C:/MSEI/src/_global/O__organisms.scss */
.O__photoGalleryList-item {
  margin: 0 0.625em 0.625em 0; }

/* line 71, C:/MSEI/src/_global/O__organisms.scss */
.O__photoGalleryList-main {
  border-bottom: 1px solid #cdcdcd; }

/* line 86, C:/MSEI/src/_global/O__organisms.scss */
.O_textPromptList-main {
  background: white; }

/* line 101, C:/MSEI/src/_global/O__organisms.scss */
.O__newsThumbList-item {
  width: 14.28571%;
  padding-right: 0.625em; }

/* line 118, C:/MSEI/src/_global/O__organisms.scss */
.O__labeledLinksList-main {
  padding: 1.875em;
  border: 1px solid #cdcdcd;
  background: white; }

/* line 136, C:/MSEI/src/_global/O__organisms.scss */
.O__relatedContentList-item--noComments {
  width: 33.33333%; }

/* line 139, C:/MSEI/src/_global/O__organisms.scss */
.O__relatedContentList-container--noComments {
  width: 25em; }

/* line 142, C:/MSEI/src/_global/O__organisms.scss */
.O__relatedContentList-item--noComments:nth-child(3n+1) .O__relatedContentList-container--noComments {
  margin-right: auto; }

/* line 145, C:/MSEI/src/_global/O__organisms.scss */
.O__relatedContentList-item--noComments:nth-child(3n+2) .O__relatedContentList-container--noComments {
  margin: 0 auto; }

/* line 148, C:/MSEI/src/_global/O__organisms.scss */
.O__relatedContentList-item--noComments:nth-child(3n) .O__relatedContentList-container--noComments {
  margin-left: auto; }

/* line 164, C:/MSEI/src/_global/O__organisms.scss */
.O__magazinePreviewArticles-main {
  border-bottom: 1px solid #aaa; }

/* line 180, C:/MSEI/src/_global/O__organisms.scss */
.O__magazinePreview-col2 {
  margin-left: 0.9375em; }

/* line 183, C:/MSEI/src/_global/O__organisms.scss */
.O__magazinePreview-col2-row1 {
  margin-bottom: 1.25em; }

/* line 186, C:/MSEI/src/_global/O__organisms.scss */
.O__magazinePreview-col2-row2 {
  width: 37.5em; }

/* line 189, C:/MSEI/src/_global/O__organisms.scss */
.O__magazinePreview-col2-row3 {
  margin-top: 0.9375em; }

/* line 192, C:/MSEI/src/_global/O__organisms.scss */
.O__magazinePreview-col3 {
  width: 26.5625em; }

/* line 208, C:/MSEI/src/_global/O__organisms.scss */
.O__socialLinkList-item {
  margin-left: 1.25em; }

@media (max-width: 62.5em) {
  /* line 212, C:/MSEI/src/_global/O__organisms.scss */
  .O__socialLinkList-item {
    width: 16.66667%;
    margin: 0;
    padding: 0.625em; } }

@media (max-width: 62.5em) {
  /* line 220, C:/MSEI/src/_global/O__organisms.scss */
  .O__socialLinkList--head-main {
    display: none; }
  /* line 223, C:/MSEI/src/_global/O__organisms.scss */
  .O__socialLinkList-item {
    width: 50%; } }

/* line 240, C:/MSEI/src/_global/O__organisms.scss */
.O__categoryList-item {
  width: 33.33333%;
  padding: 0 0.625em; }

/* line 244, C:/MSEI/src/_global/O__organisms.scss */
.O__categoryList-item:nth-of-type(3n+1) {
  padding-left: 0; }

/* line 247, C:/MSEI/src/_global/O__organisms.scss */
.O__categoryList-item:nth-of-type(3n) {
  padding-right: 0; }

/* line 250, C:/MSEI/src/_global/O__organisms.scss */
.O__categoryList-item:nth-child(1) {
  width: 100%;
  padding: 0; }

/* line 254, C:/MSEI/src/_global/O__organisms.scss */
.O__categoryList-item:nth-child(1) .M__contentThumb-showcase {
  display: block; }

/* line 257, C:/MSEI/src/_global/O__organisms.scss */
.O__categoryList-item:nth-child(-n+3) .M__contentThumb-title {
  font: 700 2.375em "Roboto Condensed";
  margin-top: 0.625em; }

/* line 262, C:/MSEI/src/_global/O__organisms.scss */
.O__categoryList-item:nth-child(2) .M__contentThumb-title,
.O__categoryList-item:nth-child(3) .M__contentThumb-title {
  margin-top: 1.875em; }

/* line 265, C:/MSEI/src/_global/O__organisms.scss */
.O__categoryList-item:nth-child(-n+3) .M__contentThumb-subheading {
  display: block;
  margin-top: 0.3125em;
  margin-bottom: 2.5em; }

/* line 270, C:/MSEI/src/_global/O__organisms.scss */
.O__categoryList-item:nth-child(-n+3) .M__contentThumb-date {
  display: none; }

/* line 273, C:/MSEI/src/_global/O__organisms.scss */
.O__categoryList-item:nth-child(1) .M__contentThumb-main {
  height: 28.125em; }

/* line 276, C:/MSEI/src/_global/O__organisms.scss */
.O__categoryList-item:nth-child(2) {
  width: 50%;
  padding-left: 0; }

/* line 280, C:/MSEI/src/_global/O__organisms.scss */
.O__categoryList-item:nth-child(2) .M__contentThumb-main {
  height: 18.75em; }

/* line 283, C:/MSEI/src/_global/O__organisms.scss */
.O__categoryList-item:nth-child(3) {
  width: 50%;
  padding-right: 0; }

/* line 287, C:/MSEI/src/_global/O__organisms.scss */
.O__categoryList-item:nth-child(3) .M__contentThumb-main {
  height: 18.75em; }

/* line 290, C:/MSEI/src/_global/O__organisms.scss */
O__categoryList-heading {
  width: 100%;
  margin-top: 3.75em; }

/* line 307, C:/MSEI/src/_global/O__organisms.scss */
.O__paginationNumbers-item {
  width: 2.5625em;
  margin-left: 0.3125em; }

/* line 324, C:/MSEI/src/_global/O__organisms.scss */
.O__secondaryNavList-item {
  width: 16.66667%; }

/* line 340, C:/MSEI/src/_global/O__organisms.scss */
.O__mainNavList-item {
  width: 12.5%; }

/* line 356, C:/MSEI/src/_global/O__organisms.scss */
.O__footColumnList-item {
  width: 12.5%; }

@media (max-width: 62.5em) {
  /* line 360, C:/MSEI/src/_global/O__organisms.scss */
  .O__footColumnList-item {
    width: 25%; }
  /* line 363, C:/MSEI/src/_global/O__organisms.scss */
  .O__footColumnList-item:nth-of-type(-n+4) {
    min-height: 15.625em; } }

@media (max-width: 43.75em) {
  /* line 368, C:/MSEI/src/_global/O__organisms.scss */
  .M__footColumn-heading {
    margin: 0; }
  /* line 371, C:/MSEI/src/_global/O__organisms.scss */
  .O__footColumnList-item {
    float: none;
    width: 100%;
    padding: 1.875em 0;
    text-align: center;
    border-bottom: solid 0.0625em white;
    margin: 0; }
  /* line 379, C:/MSEI/src/_global/O__organisms.scss */
  .M__footColumn-link {
    display: none; }
  /* line 382, C:/MSEI/src/_global/O__organisms.scss */
  .O__footColumnList-item:nth-of-type(-n+4) {
    min-height: 0em;
    margin: 0; } }

/* line 400, C:/MSEI/src/_global/O__organisms.scss */
.O__disclaimerLinksList-main {
  display: table;
  margin: 0 auto; }

@media (max-width: 43.75em) {
  /* line 405, C:/MSEI/src/_global/O__organisms.scss */
  .O__disclaimerLinksList-main {
    display: block;
    border-bottom: 1px solid white; }
  /* line 409, C:/MSEI/src/_global/O__organisms.scss */
  .O__disclaimerLinksList-item {
    float: none;
    padding: 1.875em 0;
    border-top: 1px solid white; } }

/* line 429, C:/MSEI/src/_global/O__organisms.scss */
.O__socialShareList-main {
  border-top: 0.0625em solid #cdcdcd; }

@media (max-width: 62.5em) {
  /* line 433, C:/MSEI/src/_global/O__organisms.scss */
  .O__socialShareList-main {
    border: 0;
    margin-bottom: 1.875em; } }

/* line 36, C:/MSEI/src/_global/head.scss */
#__leaderboard-main {
  background: blue;
  height: 100px; }

/* line 40, C:/MSEI/src/_global/head.scss */
#__leaderboard-centre {
  display: table;
  margin: 0 auto; }

/* line 47, C:/MSEI/src/_global/head.scss */
#__topNav-main {
  background: #26292a;
  color: white; }

/* line 51, C:/MSEI/src/_global/head.scss */
#__menuContent-main {
  background: red; }

/* line 54, C:/MSEI/src/_global/head.scss */
#__menuContent-centre {
  width: 78.4375em;
  margin: 0 auto; }

/* line 58, C:/MSEI/src/_global/head.scss */
#__mainNav-main {
  background: #efefef; }

/* line 61, C:/MSEI/src/_global/head.scss */
#__mainNav-centre {
  width: 78.4375em;
  margin: 0 auto; }

/* line 65, C:/MSEI/src/_global/head.scss */
#__secondaryNav-main {
  background: #cdcdcd; }
  /* line 67, C:/MSEI/src/_global/head.scss */
  #__secondaryNav-main:not(.is-activated) {
    display: none; }

/* line 69, C:/MSEI/src/_global/head.scss */
#__secondaryNav-centre {
  width: 78.4375em;
  margin: 0 auto; }

/* line 73, C:/MSEI/src/_global/head.scss */
#__content-main {
  padding: 5.625em 0 0 0; }

/* line 76, C:/MSEI/src/_global/head.scss */
#__menuContent-col1 {
  margin: 1.875em 0; }

/* line 79, C:/MSEI/src/_global/head.scss */
#__menuContent-col2 {
  margin: 1.875em 0; }

/* line 82, C:/MSEI/src/_global/head.scss */
#__mainNav-col1 {
  background: #efefef;
  width: 75.3125em; }

/* line 86, C:/MSEI/src/_global/head.scss */
#__mainNav-col2 {
  width: 3.125em; }

/* line 89, C:/MSEI/src/_global/head.scss */
#__mainNav-main {
  border-bottom: 0.25em solid #aaaaaa;
  height: 3.125em; }

/* line 93, C:/MSEI/src/_global/head.scss */
#__topNav-centre {
  width: 78.4375em;
  margin: 0 auto; }

/* line 94, C:/MSEI/src/_global/head.scss */
#__topNav-col2 {
  margin-top: 0.6875em; }

/* line 96, C:/MSEI/src/_global/head.scss */
#__menuSearch-main {
  background: #cdcdcd;
  display: none; }
  /* line 100, C:/MSEI/src/_global/head.scss */
  #__menuSearch-main.is-activated {
    display: block; }

/* line 106, C:/MSEI/src/_global/head.scss */
#__menuSearch-centre {
  max-width: 78.4375em;
  margin: 0 auto;
  padding: 1.25em 0; }

@media (max-width: 81.25em) {
  /* line 110, C:/MSEI/src/_global/head.scss */
  #__topNav-centre {
    width: 90%; }
  /* line 111, C:/MSEI/src/_global/head.scss */
  #__menuContent-centre {
    width: 90%; } }

@media (max-width: 62.5em) {
  /* line 117, C:/MSEI/src/_global/head.scss */
  #__menuSearch-centre {
    width: 90%; }
  /* line 118, C:/MSEI/src/_global/head.scss */
  #__menuSearch-item {
    float: none; }
  /* line 119, C:/MSEI/src/_global/head.scss */
  #__topNav-container {
    display: table;
    margin: 0 auto; }
  /* line 120, C:/MSEI/src/_global/head.scss */
  #__topNav-col2 {
    display: none; } }

/* line 125, C:/MSEI/src/_global/head.scss */
#__menuMagazine-main {
  background: #cdcdcd;
  padding-top: 1.875em;
  padding-bottom: 3em 5; }

/* line 126, C:/MSEI/src/_global/head.scss */
#__menuMagazine-centre {
  width: 78.4375em;
  margin: 0 auto; }

/* line 128, C:/MSEI/src/_global/head.scss */
#__menuMagazine-main:not(.is-activated) {
  display: none; }

/* line 15, C:/MSEI/src/_global/foot.scss */
#__foot-main {
  background: #2b2b2b;
  color: #cccccc; }

/* line 19, C:/MSEI/src/_global/foot.scss */
#__footTopBar-centre {
  width: 78.4375em;
  margin: 0 auto; }

/* line 23, C:/MSEI/src/_global/foot.scss */
#__footContent-centre {
  width: 78.4375em;
  margin: 0 auto; }

/* line 27, C:/MSEI/src/_global/foot.scss */
#__footBottomBar-centre {
  width: 78.4375em;
  margin: 0 auto; }

/* line 31, C:/MSEI/src/_global/foot.scss */
#__footContent-centre {
  border-top: 0.0625em solid white;
  border-bottom: 0.0625em solid #cccccc;
  padding: 1.875em 0 2.5em 0; }

/* line 36, C:/MSEI/src/_global/foot.scss */
#__footBottomBar-centre {
  padding: 1.875em 0; }

/* line 39, C:/MSEI/src/_global/foot.scss */
#__foot-BottomBar-row2 {
  padding-top: 1.25em;
  padding-bottom: 3.75em; }

/* line 43, C:/MSEI/src/_global/foot.scss */
#__footTopBar-main {
  padding: 2.1875em 0; }

/* line 46, C:/MSEI/src/_global/foot.scss */
#__footBottomBar-row1 {
  padding-top: 1.875em; }

@media (max-width: 81.25em) {
  /* line 53, C:/MSEI/src/_global/foot.scss */
  #__footContent-centre {
    width: 90%; }
  /* line 56, C:/MSEI/src/_global/foot.scss */
  #__footTopBar-centre {
    width: 90%; }
  /* line 59, C:/MSEI/src/_global/foot.scss */
  #__footBottomBar {
    width: 90%; } }

@media (max-width: 62.5em) {
  /* line 66, C:/MSEI/src/_global/foot.scss */
  #__foot-BottomBar-row2 {
    width: 31.25em;
    margin: 1.875em auto; }
  /* line 70, C:/MSEI/src/_global/foot.scss */
  #__foot-BottomBar-row2 {
    float: none;
    margin-top: 1.875em; }
  /* line 75, C:/MSEI/src/_global/foot.scss */
  #__footBottomBar-row1 {
    margin-top: 1.875em; }
  /* line 79, C:/MSEI/src/_global/foot.scss */
  #__footTopBar-col1 {
    float: none;
    margin: 0 auto;
    display: table; }
  /* line 84, C:/MSEI/src/_global/foot.scss */
  #__footTopBar-col2 {
    float: none;
    display: table;
    width: 100%; }
  /* line 91, C:/MSEI/src/_global/foot.scss */
  #__footTopBar-col2 {
    padding-top: 1.25em; }
  /* line 92, C:/MSEI/src/_global/foot.scss */
  #__foot-BottomBar-row2 {
    width: 25.625em; } }

@media (max-width: 43.75em) {
  /* line 101, C:/MSEI/src/_global/foot.scss */
  #__foot-BottomBar-row2 {
    display: block;
    width: 90%; }
  /* line 102, C:/MSEI/src/_global/foot.scss */
  #__footContent-centre {
    border-bottom: 0;
    padding: 0; } }

@media (max-width: 62.5em) {
  /* line 10, C:/MSEI/src/_global/#__layouts.scss */
  body {
    font-size: 1.25em; } }

/* line 37, C:/MSEI/src/_global/#__layouts.scss */
#__articleHeader-centre {
  background: white;
  height: 31.25em;
  margin-top: 3.75em; }

/* line 44, C:/MSEI/src/_global/#__layouts.scss */
#__articleHeader-centre--photoGallery {
  background: white;
  height: auto; }

/* line 50, C:/MSEI/src/_global/#__layouts.scss */
#__articleHeader-centre {
  width: 78.4375em;
  margin-left: auto;
  margin-right: auto; }

/* line 55, C:/MSEI/src/_global/#__layouts.scss */
#__articleHeader-col1 {
  width: 53.75em; }

/* line 58, C:/MSEI/src/_global/#__layouts.scss */
#__articleHeader-col2 {
  width: 23.125em;
  margin-top: 3.0625em; }

/* line 63, C:/MSEI/src/_global/#__layouts.scss */
#__articleHeader-main {
  height: auto; }

@media (max-width: 81.25em) {
  /* line 67, C:/MSEI/src/_global/#__layouts.scss */
  #__articleHeader-col1 {
    padding-right: 1.25em;
    width: 62.5%; }
  /* line 71, C:/MSEI/src/_global/#__layouts.scss */
  #__articleHeader-centre {
    width: 90%; }
  /* line 75, C:/MSEI/src/_global/#__layouts.scss */
  #__articleHeader-col2 {
    width: 37.5%;
    margin-top: 3.125em; }
  /* line 80, C:/MSEI/src/_global/#__layouts.scss */
  #__articleHeader-main {
    height: auto; }
  /* line 83, C:/MSEI/src/_global/#__layouts.scss */
  #__menuSearch-centre {
    width: 90%; }
  /* line 88, C:/MSEI/src/_global/#__layouts.scss */
  #__articleHeader-centre {
    height: auto; } }

@media (max-width: 62.5em) {
  /* line 97, C:/MSEI/src/_global/#__layouts.scss */
  #__articleContent-main {
    margin-top: 2.1875em; }
  /* line 100, C:/MSEI/src/_global/#__layouts.scss */
  #__articleContent-col1-row1 {
    margin-bottom: 0.9375em; }
  /* line 103, C:/MSEI/src/_global/#__layouts.scss */
  #__articleHeader-centre {
    width: 90%; }
  /* line 106, C:/MSEI/src/_global/#__layouts.scss */
  #__articleHeader-col1 {
    width: 80%; }
  /* line 109, C:/MSEI/src/_global/#__layouts.scss */
  #__articleHeader-col2 {
    width: 20%;
    margin-top: 5em; } }

@media (max-width: 43.75em) {
  /* line 115, C:/MSEI/src/_global/#__layouts.scss */
  #__articleContent-col1-row1 {
    margin-bottom: 0.9375em; }
  /* line 118, C:/MSEI/src/_global/#__layouts.scss */
  #__articleHeader-centre {
    width: 90%; }
  /* line 121, C:/MSEI/src/_global/#__layouts.scss */
  #__articleHeader-col1 {
    width: 100%;
    padding: 0; }
  /* line 125, C:/MSEI/src/_global/#__layouts.scss */
  #__articleHeader-col2 {
    width: 100%;
    margin-top: 2.75em; } }

/* line 156, C:/MSEI/src/_global/#__layouts.scss */
#__articleContent-col1-row1 {
  margin-bottom: 0.9375em; }

/* line 159, C:/MSEI/src/_global/#__layouts.scss */
#__articleContent-centre {
  width: 78.4375em;
  margin: 3.75em auto; }

/* line 163, C:/MSEI/src/_global/#__layouts.scss */
#__articleContent-col1-row1 {
  width: 6.875em; }

/* line 166, C:/MSEI/src/_global/#__layouts.scss */
#__articleContent-col2 {
  width: 37.5em; }

/* line 170, C:/MSEI/src/_global/#__layouts.scss */
#__articleContent-container {
  width: 53.625em; }

@media (max-width: 81.25em) {
  /* line 174, C:/MSEI/src/_global/#__layouts.scss */
  #__articleContent-centre {
    width: 90%; }
  /* line 177, C:/MSEI/src/_global/#__layouts.scss */
  #__articleContent-container {
    width: 100%;
    padding-left: 5.625em; }
  /* line 181, C:/MSEI/src/_global/#__layouts.scss */
  #__articleContent-col2 {
    float: left; }
  /* line 185, C:/MSEI/src/_global/#__layouts.scss */
  #__articleContent-col1 {
    float: right;
    margin-right: 30px; }
  /* line 188, C:/MSEI/src/_global/#__layouts.scss */
  #__articleContent-main {
    margin-top: 1.875em; } }

@media (max-width: 62.5em) {
  /* line 193, C:/MSEI/src/_global/#__layouts.scss */
  #__articleContent-col2 {
    float: none;
    width: 100%; }
  /* line 197, C:/MSEI/src/_global/#__layouts.scss */
  #__articleContent-col1 {
    float: none; }
  /* line 200, C:/MSEI/src/_global/#__layouts.scss */
  #__articleContent-container {
    padding: 0; }
  /* line 203, C:/MSEI/src/_global/#__layouts.scss */
  #__articleContent-col1-row1 {
    margin: 7.5em auto 1.875em auto; } }

/* line 233, C:/MSEI/src/_global/#__layouts.scss */
#__otherTenders-main {
  margin-bottom: 3.75pem; }

/* line 236, C:/MSEI/src/_global/#__layouts.scss */
#__articleFooter-main {
  background: #eeeeee;
  padding: 3.75em 0; }

/* line 240, C:/MSEI/src/_global/#__layouts.scss */
#__articleFooter-col1 {
  width: 51.6875em; }

/* line 243, C:/MSEI/src/_global/#__layouts.scss */
#__articleFooter-col1-row3 {
  padding-top: 3.75em; }

/* line 246, C:/MSEI/src/_global/#__layouts.scss */
#__articleFooter-col2 {
  width: 25em; }

/* line 249, C:/MSEI/src/_global/#__layouts.scss */
#__articleFooter-centre {
  width: 78.4375em;
  margin: 0 auto; }

@media (max-width: 81.25em) {
  /* line 254, C:/MSEI/src/_global/#__layouts.scss */
  #__articleFooter-centre {
    width: 90%; }
  /* line 257, C:/MSEI/src/_global/#__layouts.scss */
  #__articleFooter-col2 {
    width: 37.5%; }
  /* line 260, C:/MSEI/src/_global/#__layouts.scss */
  #__articleFooter-col1 {
    width: 62.5%;
    padding-right: 1.25em; } }

@media (max-width: 62.5em) {
  /* line 266, C:/MSEI/src/_global/#__layouts.scss */
  #__articleFooter-centre {
    width: 90%; }
  /* line 269, C:/MSEI/src/_global/#__layouts.scss */
  #__articleFooter-col1 {
    float: none; }
  /* line 272, C:/MSEI/src/_global/#__layouts.scss */
  #__articleFooter-col2 {
    float: none; }
  /* line 275, C:/MSEI/src/_global/#__layouts.scss */
  #__articleFooter-col2 {
    width: 100%;
    margin-top: 3.75em; }
  /* line 279, C:/MSEI/src/_global/#__layouts.scss */
  #__articleFooter-col1 {
    padding-right: 0;
    display: table; } }

/* line 284, C:/MSEI/src/_global/#__layouts.scss */
#__articleFooterelatedContentAlt-center {
  width: 78.4375em;
  margin: 0 auto; }

/* line 288, C:/MSEI/src/_global/#__layouts.scss */
#__otherFiles-centre {
  width: 78.4375em;
  margin: 0 auto; }

/* line 292, C:/MSEI/src/_global/#__layouts.scss */
#__presentationFiles-centre {
  width: 78.4375em;
  margin: 0 auto; }

/* line 296, C:/MSEI/src/_global/#__layouts.scss */
#__pressRelease-centre {
  width: 78.4375em;
  margin: 0 auto; }

/* line 300, C:/MSEI/src/_global/#__layouts.scss */
#__pressRelease-main {
  margin: 1.875em 0; }

/* line 303, C:/MSEI/src/_global/#__layouts.scss */
#__otherFiles-centre {
  margin-top: 1.875em;
  margin-bottom: 1.875em; }

/* line 307, C:/MSEI/src/_global/#__layouts.scss */
#__presentationFiles-centre {
  margin-top: 1.875em;
  margin-bottom: 1.875em; }

/* line 311, C:/MSEI/src/_global/#__layouts.scss */
#__pressRelease-centre {
  margin-top: 1.875em;
  margin-bottom: 1.875em; }

/* line 315, C:/MSEI/src/_global/#__layouts.scss */
#__otherTenders-centre {
  width: 37.5em; }

/* line 318, C:/MSEI/src/_global/#__layouts.scss */
#__pressRelease-row2 {
  overflow: hidden; }

/* line 321, C:/MSEI/src/_global/#__layouts.scss */
#__pressRelease-extend {
  width: 79.0625em; }

/*# sourceMappingURL=#__layouts.css.map */