@import 'utilities.scss';
@import 'spritesheet.scss';
@import 'A__atoms.scss';
@import 'M__molecules.scss';
@import 'O__organisms.scss';
@import 'head.scss';
@import 'foot.scss';

@include tablet {
    body{ font-size: 20px;}
}


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                      ██                                     //
//-                                     ███                                     //
//-                                       █                                     //
//-                                       █                                     //
//-                                     █████                                   //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


#__articleHeader-centre {
    background: white;
    height: 500px;
    margin-top: 60px;
}
#__articleHeader-centre--photoGallery {
    background: white;
    height: auto;
}
#__articleHeader-centre {
    width: 1255px;
    margin-left: auto;
    margin-right: auto;
}
#__articleHeader-col1 {
    width: 860px
}
#__articleHeader-col2 {
    width: 370px;
    margin-top: 49px;
}
#__articleHeader-main {
    height: auto;
}
@include laptop {
    #__articleHeader-col1 {
        padding-right: 20px;
        width: 62.5%;
    }
    #__articleHeader-centre {
        width: 90%;
    }
    #__articleHeader-main {}
    #__articleHeader-col2 {
        width: 37.5%;
        margin-top: 50px;
    }
    #__articleHeader-main {
        height: auto;
    }
    #__menuSearch-centre {
        width: 90%;
    }
    #__articleHeader-centre {
        height: auto;
    }
}
@include tablet {
    #__articleContent-main {
        margin-top: 35px;
    }
    #__articleContent-col1-row1 {
        margin-bottom: 15px;
    }
    #__articleHeader-centre {
        width: 90%;
    }
    #__articleHeader-col1 {
        width: 80%
    }
    #__articleHeader-col2 {
        width: 20%;
        margin-top: 80px;
    }
    #__mainNav-main {
        height: 100px;
    }
    #__menuSearch-item {
        width: 100%
    }
}
@include mobile {
    #__articleContent-col1-row1 {
        margin-bottom: 15px;
    }
    #__articleHeader-centre {
        width: 90%;
    }
    #__articleHeader-col1 {
        width: 100%;
        padding: 0;
    }
    #__articleHeader-col2 {
        width: 100%;
        margin-top: 44px;
    }
}




//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                      ███                                    //
//-                                     █   █                                   //
//-                                       ██                                    //
//-                                      █                                      //
//-                                     █████                                   //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


#__articleContent-col1-row1 {
    margin-bottom: 15px;
}
#__articleContent-centre {
    width: 1255px;
    margin: 60px auto;
}
#__articleContent-col1-row1 {
    width: 110px;
}
#__articleContent-col2 {
    width: 600px;
}
#__articleContent-container {
    width: 858px
}
@include laptop {
    #__articleContent-centre {
        width: 90%;
    }
    #__articleContent-container {
        width: 100%;
        padding-left: 90px;
    }
    #__articleContent-col2 {
        float: left;
    }
    #__articleContent-col1 {
        float: right;
        margin-right: 30px;
    }
    #__articleContent-main {
        margin-top: 30px;
    }
}
@include tablet {
    #__articleContent-col2 {
        float: none;
        width: 100%;
    }
    #__articleContent-col1 {
        float: none;
    }
    #__articleContent-container {
        padding: 0;
    }
    #__articleContent-col1-row1 {
        margin: 120px auto 30px auto;
    }
}

#__textCTA-main {padding: 60px 0;}


.__articleHeader-centre--photoGallery{
    height: auto !important;
    
}

//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                      ███                                    //
//-                                     █   █                                   //
//-                                       ██                                    //
//-                                     █   █                                   //
//-                                      ███                                    //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


#__otherTenders-main {
    margin-bottom: 60px;
}
#__articleFooter-main {
    background: #eeeeee;
    padding: 60px 0;
}
#__articleFooter-col1 {
    width: 827px;
}
#__articleFooter-col1-row3 {
    padding-top: 60px;
}
#__articleFooter-col2 {
    width: 400px;
}
#__articleFooter-centre {
    width: 1255px;
    margin: 0 auto;
}
#__articleFooterelatedContentAlt-center {
    width: 1255px;
    margin: 0 auto;
}
#__otherFiles-centre {
    width: 1255px;
    margin: 0 auto;
}
#__presentationFiles-centre {
    width: 1255px;
    margin: 0 auto;
}
#__pressRelease-centre {
    width: 1255px;
    margin: 0 auto;
}
#__pressRelease-main {
    margin: 30px 0;
}
#__otherFiles-centre {
    margin-top: 30px;
    margin-bottom: 30px;
}
#__presentationFiles-centre {
    margin-top: 30px;
    margin-bottom: 30px;
}
#__pressRelease-centre {
    margin-top: 30px;
    margin-bottom: 30px;
}
#__otherTenders-centre {
    width: 600px;
}
#__pressRelease-row2 {
    overflow: hidden;
}
#__pressRelease-extend {
    width: 1265px;
}
#__articleContent-col1 {
    margin: 0;
}
@include laptop {
    #__articleFooter-centre {
        width: 90%
    }
    #__articleFooter-col2 {
        width: 37.5%
    }
    #__articleFooter-col1 {
        width: 62.5%;
        padding-right: 20px;
    }
}
@include tablet {
    #__articleFooter-centre {
        width: 90%;
    }
    #__articleFooter-col1 {
        float: none;
    }
    #__articleFooter-col2 {
        float: none;
    }
    #__articleFooter-col2 {
        width: 100%;
        margin-top: 60px;
    }
    #__articleFooter-col1 {
        padding-right: 0;
        display: table;
    }
    #__articleFooter-col1 {
        width: 100%
    }
    #__articleFooterRelatedContentAlt-main {
        margin: 0;
    }
    #__articleFooterelatedContentAlt-center {
        width: 90%;
    }
}

@include tablet {
.__articleHeader-centre--photoGallery {height: auto !important; }
}