@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300italic,300,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300italic,300,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,700,700italic);
/* line 23, C:/MSEI/src/_global/utilities/utilities.scss */
* {
  Box-sizing: border-box; }

/* line 25, C:/MSEI/src/_global/utilities/utilities.scss */
body {
  font-family: Roboto, Arial; }

/* line 28, C:/MSEI/src/_global/utilities/utilities.scss */
h1 {
  font-size: 2.375em;
  font-weight: 700;
  line-height: 55px;
  font-weight: 700; }

/* line 35, C:/MSEI/src/_global/utilities/utilities.scss */
h2 {
  font-size: 1.625em;
  line-height: 32px;
  font-weight: 400; }

/* line 41, C:/MSEI/src/_global/utilities/utilities.scss */
h3 {
  font-size: 1.625em;
  font-weight: 700;
  margin-bottom: 1.25em;
  line-height: 32px; }

/* line 48, C:/MSEI/src/_global/utilities/utilities.scss */
p {
  font-size: 1.125em;
  line-height: 1.625em;
  margin-top: 1em;
  margin-bottom: 1em; }

/* line 55, C:/MSEI/src/_global/utilities/utilities.scss */
ul {
  font-size: 1.125em;
  line-height: 1.625em;
  margin-top: 15px;
  margin-bottom: 15px;
  text-decoration: none; }

/* line 63, C:/MSEI/src/_global/utilities/utilities.scss */
li {
  margin-bottom: 0.5em; }

/* line 68, C:/MSEI/src/_global/utilities/utilities.scss */
.u-cf:after {
  content: "" !important;
  display: table !important;
  clear: both !important; }

/* line 74, C:/MSEI/src/_global/utilities/utilities.scss */
.u-floatLeft {
  float: left; }

/* line 78, C:/MSEI/src/_global/utilities/utilities.scss */
.u-floatRight {
  float: right; }

/* line 82, C:/MSEI/src/_global/utilities/utilities.scss */
.u-absolute {
  position: absolute !important; }

/* line 86, C:/MSEI/src/_global/utilities/utilities.scss */
.u-relative {
  position: relative !important; }

/* line 90, C:/MSEI/src/_global/utilities/utilities.scss */
.u-noUnderline {
  text-decoration: none !important; }

/* line 94, C:/MSEI/src/_global/utilities/utilities.scss */
.u-noMargin {
  margin: 0 !important; }

/* line 98, C:/MSEI/src/_global/utilities/utilities.scss */
.u-table {
  display: table !important; }

/* line 102, C:/MSEI/src/_global/utilities/utilities.scss */
.u-tableRow {
  display: table-row !important; }

/* line 106, C:/MSEI/src/_global/utilities/utilities.scss */
.u-tableCell {
  display: table-cell !important; }

/* line 111, C:/MSEI/src/_global/utilities/utilities.scss */
.u-borderLeft {
  border-left: 1px solid #999999; }

@media (max-width: 62.5em) {
  /* line 3, C:/MSEI/src/_global/A__atoms.scss */
  body {
    font-size: 20px; } }

/* line 51, C:/MSEI/src/_global/A__atoms.scss */
.A__magazinePreviewTitle-main {
  font: 700 25px "Roboto Condensed";
  text-transform: uppercase; }

/* line 65, C:/MSEI/src/_global/A__atoms.scss */
.A__disclaimerText-line {
  text-align: center;
  color: #ccc;
  padding-left: 0.3125em; }

/* line 70, C:/MSEI/src/_global/A__atoms.scss */
.A__disclaimerText-row {
  padding: 5px 0;
  display: table;
  margin: 0 auto; }

/* line 75, C:/MSEI/src/_global/A__atoms.scss */
.A__disclaimerText-main {
  line-height: 1.125em;
  font-size: 13px;
  letter-spacing: 0.0625em;
  text-align: center; }

/* line 81, C:/MSEI/src/_global/A__atoms.scss */
.A__disclaimerText-Link {
  color: #ccc; }

@media (max-width: 43.75em) {
  /* line 86, C:/MSEI/src/_global/A__atoms.scss */
  .A__disclaimerText-line {
    float: none;
    line-height: 20px; } }

/* line 104, C:/MSEI/src/_global/A__atoms.scss */
.A__textMSEI-main {
  font: 700 1.625em "Roboto Condensed";
  text-transform: uppercase;
  color: white; }
  /* line 108, C:/MSEI/src/_global/A__atoms.scss */
  .A__textMSEI-main:hover {
    color: red; }

@media (max-width: 43.75em) {
  /* line 114, C:/MSEI/src/_global/A__atoms.scss */
  .A__textMSEI-main {
    text-align: center; } }

/* line 132, C:/MSEI/src/_global/A__atoms.scss */
.A__smallTitle-main {
  text-transform: uppercase;
  white-space: nowrap;
  font: 700 1em "Roboto Condensed";
  color: #aaaaaa; }

/* line 138, C:/MSEI/src/_global/A__atoms.scss */
.A__smallTitle-main--socialShare {
  text-align: center; }

/*# sourceMappingURL=A__atoms.css.map */