//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    ATOM                                                                     //
//-   ---------------                                                           //
//-    ???                                                                      //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////

//.A__mediaEmbed-main {height: 100%;}


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    ATOM                                                                     //
//-   ---------------                                                           //
//-    ???                                                                      //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    ATOM                                                                     //
//-   ---------------                                                           //
//-    ???                                                                      //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    ATOM                                                                     //
//-   ---------------                                                           //
//-    ???                                                                      //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    ATOM                                                                     //
//-   ---------------                                                           //
//-    ???                                                                      //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////



//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    ATOM                                                                     //
//-   ---------------                                                           //
//-    TEXT MSEI TITLE PHRASE                                                   //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


.A__magazinePreviewTitle-main {
    font: 700 em(25) "Roboto Condensed";
    text-transform: uppercase;
}


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    ATOM                                                                     //
//-   ---------------                                                           //
//-    MAGAZINE PREVIEW TEXT TITLE                                              //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


.A__disclaimerText-line {
    text-align: center;
    color: #ccc;
    padding-left: em(5);
}
.A__disclaimerText-row {
    padding: em(5) 0;
    display: table;
    margin: 0 auto;
}
.A__disclaimerText-main {
    line-height: em(18);
    font-size: em(13);
    letter-spacing: em(1);
    text-align: center;
}
.A__disclaimerText-Link {
    color: #ccc;
}
@include mobile {
    .A__disclaimerText-line {
        float: none;
        line-height: em(20);
    }
}


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    ATOM                                                                     //
//-   ---------------                                                           //
//-    TEXT MSEI TITLE PHRASE                                                   //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


.A__textMSEI-main {
    font: 700 em(26) "Roboto Condensed";
    text-transform: uppercase;
    color: white;
    &:hover {
        color: red;
    }
}
@include mobile {
    .A__textMSEI-main {
        text-align: center;
    }
}


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    ATOM                                                                     //
//-   ---------------                                                           //
//-    SMALL TITLE TEXT PHRASE                                                  //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


.A__smallTitle-main {
    text-transform: uppercase;
    white-space: nowrap;
    font: 700 em(16) "Roboto Condensed";
    color: #aaaaaa;
}
.A__smallTitle-main--socialShare {
    text-align: center;
}
