//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    ATOM                                                                     //
//-   ---------------                                                           //
//-    ???                                                                      //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////

//.A__mediaEmbed-main {height: 100%;}


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    ATOM                                                                     //
//-   ---------------                                                           //
//-    ???                                                                      //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    ATOM                                                                     //
//-   ---------------                                                           //
//-    ???                                                                      //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    ATOM                                                                     //
//-   ---------------                                                           //
//-    ???                                                                      //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    ATOM                                                                     //
//-   ---------------                                                           //
//-    ???                                                                      //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////

.A__logo-image{max-width: 100%;}

//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    ATOM                                                                     //
//-   ---------------                                                           //
//-    TEXT MSEI TITLE PHRASE                                                   //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


.A__magazinePreviewTitle-main {
    font: 700 25px "Roboto Condensed";
    text-transform: uppercase;
}


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    ATOM                                                                     //
//-   ---------------                                                           //
//-    MAGAZINE PREVIEW TEXT TITLE                                              //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


.A__disclaimerText-line {
    text-align: center;
    color: #ccc;
    padding-left: 5px;
}
.A__disclaimerText-row {
    padding: 5px 0;
    display: table;
    margin: 0 auto;
}
.A__disclaimerText-main {
    line-height: 18px;
    font-size: 13px;
    letter-spacing: 1px;
    text-align: center;
}
.A__disclaimerText-Link {
    color: #ccc;
}
@include tablet {
    .A__disclaimerText-line {
        float: none;
        line-height: 20px;
    }
}


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    ATOM                                                                     //
//-   ---------------                                                           //
//-    TEXT MSEI TITLE PHRASE                                                   //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


.A__textMSEI-main {
    font: 700 26px "Roboto Condensed";
    text-transform: uppercase;
    color: white;



}
@include mobile {
    .A__textMSEI-main {
        text-align: center;
    }
}

.A__textMSEI-main--footer:hover {
    color: red;
}

//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    ATOM                                                                     //
//-   ---------------                                                           //
//-    SMALL TITLE TEXT PHRASE                                                  //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


.A__smallTitle-main {
    text-transform: uppercase;
    white-space: nowrap;
    font: 700 16px "Roboto Condensed";
    color: #aaaaaa;
}
.A__smallTitle-main--socialShare {
    text-align: center;
}
