

//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    LAYOUT                                                                   //
//-   ---------------                                                           //
//-    FOOT SECTION                                                             //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////



#__foot-main {
    background: #2b2b2b;
    color: #cccccc
}
#__footTopBar-centre {
    width: em(1255);
    margin: 0 auto;
}
#__footContent-centre {
    width: em(1255);
    margin: 0 auto;
}
#__footBottomBar-centre {
    width: em(1255);
    margin: 0 auto;
}
#__footContent-centre {
    border-top: em(1) solid white;
    border-bottom: em(1) solid #cccccc;
    padding: em(30) 0 em(40) 0;
}
#__footBottomBar-centre {
    padding: em(30) 0;
}
#__foot-BottomBar-row2 {
    padding-top: em(20);
    padding-bottom: em(60);
}
#__footTopBar-main {
    padding: em(35) 0;
}
#__footBottomBar-row1{
        padding-top: em(30);

}


@include laptop {
       #__footContent-centre {
        width: 90%;
    }
    #__footTopBar-centre {
        width: 90%;
    }
        #__footBottomBar {
        width: 90%;
    }

}

@include tablet {
    #__foot-BottomBar-row2 {
        width: em(500);
        margin: em(30) auto;
    }
    #__foot-BottomBar-row2 {
        float: none;
        margin-top: em(30);
    }

    #__footBottomBar-row1 {
        margin-top: em(30);
    }

    #__footTopBar-col1 {
        float: none;
        margin: 0 auto;
        display: table;
    }
    #__footTopBar-col2 {
        float: none;
        //margin: 0 auto;
        display: table;
        width: 100%;
    }

    #__footTopBar-col2{padding-top: em(20);}
    #__foot-BottomBar-row2 {
        width: em(410);

    }

}

@include mobile{

    #__foot-BottomBar-row2{ display: block; width: 90%; }
       #__footContent-centre {border-bottom: 0; padding: 0;}

}











/* This class gets applied by JavaScript */
.sticky {
    position: fixed;
    background: red;
    left: 0;
    top: 0;
}
/* The scripts also wraps the element in this to avoid jumpy behaviour when switching to pos: fixed */
.article-sticky-wrapper {}





