//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    MOLECULE                                                                 //
//-   ---------------                                                           //
//-    CLOSE BUTTON                                                             //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


.M__closeButton-main {padding: em(25); background: #adadad; border-radius: em(35); color: black; text-transform: uppercase; font: 700 em(24) "Roboto Condensed"}
.M__closeButton-main:hover {background: red; color: white;}
.M__closeButton-main:hover .M__closeButton-col1 {@extend .icon-closeWhite}



.M__closeButton-col1 {margin-top: em(2);}
.M__closeButton-col2 {padding-left: em(10);}

//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    MOLECULE                                                                 //
//-   ---------------                                                           //
//-    CLOSE BUTTON                                                             //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


.M__magazineReadPrompt-main {background: red; color: white; padding: em(10) em(20); display: table; margin: em(30) auto em(30) auto;     text-transform: uppercase; }
.M__magazineReadPrompt-main:hover {background: #cdcdcd; color: black;}



//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    MOLECULE                                                                 //
//-   ---------------                                                           //
//-    ???                                                                      //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


.M__labeledLinkItem-main {
    margin-bottom: em(15);
    color: black;
    &:hover {
        color: red;
    }
}
.M__labeledLinkItem-main:hover .M__labeledLinkItem-labelContainer .M__labeledLinkItem-label {
    background: red;
}
.M__labeledLinkItem-labelContainer {
    vertical-align: middle;
}
.M__labeledLinkItem-label {
    padding: em(8) em(10);
    background: #555555;
    text-transform: uppercase;
    color: white;
    font-size: em(13);
    font-weight: 700;
    letter-spacing: 1px;
}

.M__labeledLinkItem-title {
    padding-left: em(10);
    vertical-align: middle;
    font-weight: 700;
}

.M__labeledLinkItem-label--presentation{ background: #888888;;}

//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    MOLECULE                                                                 //
//-   ---------------                                                           //
//-    ???                                                                      //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////

.M__quote-row2 {padding: em(10) 0}
.M__quote-text {
    font-weight: 700;
    font-size: em(20);
    color: red;
}
.M_quote-source {
    font-size: em(13);
    color: red;
    font-weight: 700;
    text-transform: uppercase;
}


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    MOLECULE                                                                 //
//-   ---------------                                                           //
//-    MAGAZINE PREVIEW BUTTON                                                  //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


.M__magazinePreviewButton-main {
    background: red;
    color: white;
    text-transform: uppercase;
    font: 700 em(13) "Roboto Condensed";
    padding: em(5) em(10);
    letter-spacing: 1px;
    margin-right: em(10);
}
.M__magazinePreviewButton-main--grey {
    background: grey;

}
.M__magazinePreviewButton-main:hover {
    background: #aaa;
}


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    MOLECULE                                                                 //
//-   ---------------                                                           //
//-    MAGAZINE PREVIEW ARTICLE                                                 //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


.M__magazinePreviewArticle-main {
    font: 700 em(16) "Roboto";
    border-top: 1px solid #aaa;
    padding: em(10) 0;
    &:hover {
        background: #aaa;
    }
}


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    MOLECULE                                                                 //
//-   ---------------                                                           //
//-    CONTENT THUMB                                                            //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


.M__contentThumb-prompt {
    text-transform: uppercase;
    border: 1px solid white;
    border-radius: em(20);

    margin-top: em(10);
    font-size: 700;
    font: 700 em(13) "Roboto";
}
.M__contentThumb-main {
    color: white;
    margin-bottom: em(18);
    transition: all 1s ease-in-out;
}
.M__contentThumb-container.u-relative {
    width: 100%;
    height: em(200);
    overflow: hidden;
}
img.M__contentThumb-imageu.u-absolute {
    left: -1000%;
    right: -1000%;
    top: -1000%;
    bottom: -1000%;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
}
.M__contentThumb-showcase {
    margin-top: em(15);
    display: none;
    text-transform: uppercase;
    font-weight: 700;
}
.M__contentThumb-container.u-absolute {
    text-align: left;
    width: 100%;
    bottom: 0;
}
.M__contentThumb-label {
    padding: em(5) em(15) em(5) em(10);
    background: red;
}
.M__contentThumb-overlay {
    padding: 0 em(20);
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    height: em(100);
    width: 100%;
    padding-bottom: em(30);
}
.M__contentThumb-mediaPlay {
    vertical-align: middle;
    width: em(70);
}
.M__contentThumb-title {
    font-weight: 700;
    margin-top: em(20);
}
.M__contentThumb-date {
    font-size: em(13);
    color: #ccc;
    margin-top: em(10);
}
.M__contentThumb-subheading {
    display: none;
}


.M__contentThumb-prompt {
    height: 0;
    width: em(95);
    padding: 0 0 0 em(10);
    overflow: hidden;
    transition: all 0.5s ease;
    opacity: 0;
}
.M__contentThumb-main:hover .M__contentThumb-container .M__contentThumb-overlay .M__contentThumb-row .M__contentThumb-content .M__contentThumb-prompt {
    height: em(28);
    padding: em(5) 0 0 em(10);
    transition: all 0.3s ease;
    opacity: 1;
}


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    MOLECULE                                                                 //
//-   ---------------                                                           //
//-    LARGE SKYSCRAPER ADVERT                                                  //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


.M__magazineMockup-main {
    background: #e5e5e5;
    width: 100%;
    height: em(250);
    display: table;
}
.M__magazineMockup-centre {
    position: relative;
    width: em(310);
    height: em(215);
    overflow: hidden;
    margin: 0 auto;
    margin-top: em(15);
}
.M__magazineMockup-background {
    position: absolute;
    top: em(8);
    left: em(-2);
}
.M__magazineMockup-imageContainer {
    width: em(141);
    height: em(310);
    perspective: em(900);
    position: absolute;
}
.M__magazineMockup-image {
    width: em(200);
    height: em(250);
    margin-left: em(51);
    margin-top: em(-32);
    opacity: 1;
    transform: rotateY(33deg) rotateZ(-20deg) rotateX(52deg);
    -webkit-backface-visibility: hidden;
}


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    MOLECULE                                                                 //
//-   ---------------                                                           //
//-    MAGAZINE MOCKUO                                                          //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


.M__largeSkyscraperAdvert-main {
    border: em(1) solid #cdcdcd;
    background: #eeeeee;
    padding: em(30) 0;
}
.M__largeSkyscraperAdvert-title {
    font-size: em(13);
    text-transform: uppercase;
    font-weight: 700;
    color: #a5a5a5;
    letter-spacing: em(1);
    text-align: center;
    margin-bottom: em(10);
}
.M__largeSkyscraperAdvert-container {
    display: table;
    margin: 0 auto;
}


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    MOLECULE                                                                 //
//-   ---------------                                                           //
//-    HEADING                                                                  //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


//---------------------------------------------------------------------------------
//------------------------------------------------------------------------- Desktop


.M__heading-main {
    border-bottom: solid em(8) black;
    font-family: "Roboto Condensed";
    font-weight: 700;
    text-transform: uppercase;
}
.M__heading-title {
    background: #ed1b25;
    font-size: em(26);
    color: white;
    padding: em(6) em(8) 0 em(6);
    height: em(31);
}
.M__heading-prompt {
    background: #efefef;
    color: black;
    font-size: em(16);
    padding: em(16) em(20) 0 em(20);
    height: em(50);
    &:hover {
        background: #cdcdcd;
        color: white;
        & .icon-arrow {
            @extend .icon-arrowWhite
        }
    }
}
.M__heading-arrow {
    margin-top: em(1);
    margin-left: em(12);
}


//---------------------------------------------------------------------------------
//-------------------------------------------------------------------------- Tablet


@include tablet {
    .M__heading-title {
        padding: em(14) em(10) 0 em(10);
        height: em(56);
    }
    .M__heading-prompt {
        padding: em(30) em(10) 0 em(10);
        height: em(90);
    }
    @include mobile {
        .M__heading-prompt {
            float: none;
        }
    }
    .M__heading-arrow {
        margin-top: em(2);
    }
}

//---------------------------------------------------------------------------------
///------------------------------------------------------------------------- Mobile


 @include mobile {
     .M__heading-title {
         float: none;
         height: 100%;
     }
     .M__heading-main {
         width: 100%;
     }
     .M__heading-promptContainer {
         display: table;
         margin: 0 auto;
     }
 }



//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    MOLECULE                                                                 //
//-   ---------------                                                           //
//-    CONTENT BUTTON                                                           //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


.M__contentButton-main {
    width: 100%;
    padding: em(11);
    font: 700 em(16) "Roboto Condensed";
    text-transform: uppercase;
    background: #eee;
    border: none;
    color: black;
    cursor: pointer;
    &:hover {
        background: #b8b8b8;
    }
}
.M__contentButton-main--filter {
    width: 100%;
    border-bottom: em(2) solid white;
}
.M__contentButton-main--pagination {
    text-align: center;
}
@include mobile {
    .M__contentButton-main {
        height: em(100);
    }
}


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    MOLECULE                                                                 //
//-   ---------------                                                           //
//-    FEATURED IMAGE                                                           //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


.M__featuredImage-container {
    width: 100%;
    text-align: center;
    overflow: hidden;
    height: em(430);
    color: white;
    margin-bottom: em(18);
}
.M__featuredImage-image {
    left: -1000%;
    right: -1000%;
    top: -1000%;
    bottom: -1000%;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
}
.M__featuredImage-label {
    background: red;
    bottom: 0;
    padding: em(5) em(15) em(5) em(10);
    color: white;
    background: red;
    margin-left: 29%;
}
@include mobile {
    .M__featuredImage-label {
        margin-left: 0;
    }
}
@include laptop {
    .M__featuredImage-image {
        height: 100%;
    }
    .M__featuredImage-container {
        height: em(680);
    }
}


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    MOLECULE                                                                 //
//-   ---------------                                                           //
//-    TOP NAV BUTTON                                                           //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


.M__topNavButton-container {
    border-right: 1px solid #777;
    padding: 0 em(15);
    margin: em(15) 0;
}

.M__topNavButton-main {
    font-size: em(13);
    color: #cccccc;
    height: 100%;
    &:hover {
        color: #ed1b25;
    }
}



//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    MOLECULE                                                                 //
//-   ---------------                                                           //
//-    SOCIAL SHARE BUTTON                                                      //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


.M__socialShareButton-container {
    padding: em(7) em(4);
    border-bottom: em(1) solid #cdcdcd;
    color: #999999;
    &:hover .M__socialShareButton-container {
        background: #b8b8b8;
        color: white
    }
}
.M__socialShareButton-main {
    &:hover .M__socialShareButton-container {
        background: #b8b8b8;
        color: white
    }
    &:hover .icon-facebookShare {
        @extend .icon-facebookShareWhite;
    }
    &:hover .icon-twitterShare {
        @extend .icon-twitterShareWhite;
    }
    &:hover .icon-googleShare {
        @extend .icon-googleShareWhite;
    }
    &:hover .icon-linkedinShare {
        @extend .icon-linkedShareWhite;
    }
    &:hover .icon-commentShare {
        @extend .icon-commentShareWhite;
    }
    &:hover .icon-emailShare {
        @extend .icon-emailShareWhite;
    }
}
.M__socialShareButton-text {
    text-transform: uppercase;
    font-size: em(13);
    font-weight: 700;
    padding: em(8) 0 em(8) em(10);
}
@include tablet {
    .M__socialShareButton-main {
        width: 16.6%;
        border-bottom: 0;
        float: left;
    }
    .M__socialShareButton-container {
        background: #eee;
        padding: em(20);
        height: em(90);
        margin-right: em(20);
        border-radius: em(10);
    }
    .M__socialShareButton-icon {
        float: none;
        margin: 0 auto;
        display: table;
    }
    .M__socialShareButton-text {
        float: none;
        text-align: center;
        padding-left: 0;
    }
}
@include mobile {
    .M__socialShareButton-main {
        width: 50%;
        margin-bottom: em(20);
    }
}

//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    MOLECULE                                                                 //
//-   ---------------                                                           //
//-    TEXT PROMPT                                                              //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


.M__textPrompt-label {background: #222222; color: white; padding: em(5) em(10);}


.M__textPrompt-main{
border: 1px solid #cdcdcd;
color: black;
}

.M__textPrompt-row2 {
    color: black;

    &:hover {
        background: #b8b8b8;
        color: white;
    }
    &:hover .icon-arrow {
        @extend .icon-arrowWhite
    }
}


@include tablet {
    .M__textPrompt-main {
        height: em(80);
        padding: em(28);
    }
}
.M__textPrompt-col1-row1 {
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Roboto Condensed";
}
.M__textPrompt-col1-row2 {
    font-size: em(14);
    margin-top: em(3);
}
.M__textPrompt-field {
    color: red;
    margin-right: em(5);
}
.M__textPrompt-data {
    margin-right: em(7);
}
.M__textPrompt-main {
    width: 100%;
}
.M__textPrompt-col2 {
    width: em(20);
    vertical-align: middle;
}
.M__textPrompt-col1 {
    width: auto;
}
.M__textPrompt-titleBar {
    background: #eeeeee;
    padding: em(10) em(12);
    font: 700 em(16) "Roboto Condensed";
    text-transform: uppercase;
}
.M__textPrompt-row2 {
    padding: em(15);
}
.M__textPrompt-container {
    width: 100%;
}
.M__textPrompt-row1 {
    text-transform: uppercase;
    font: 700 em(16) "Roboto Condensed";
    padding: em(15);
    background: #eeeeee;
}

.M__textPrompt-row2--blue{background: #06c4f7; border: 0; color: white;}


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    MOLECULE                                                                 //
//-   ---------------                                                           //
//-    SHORTCODE BOX                                                            //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


.M__shortcodeBox-main {
    padding: em(30);
    background: #eeeeee;
    border: solid em(1) #cdcdcd;
    margin: em(60) 0;
}


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    MOLECULE                                                                 //
//-   ---------------                                                           //
//-    DISCLAIMER LINK ITEM                                                     //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


.M__disclaimerLink-main {
    padding: 0 0 0 em(10);
    text-transform: uppercase;
    letter-spacing: em(1);
    font-size: em(13);
}
.M__disclaimerLink-icon {
    padding-right: em(10);
}
.M__disclaimerLink-text {
    color: #ccc;
    &:hover {
        color: red;
    }
}
.M__disclaimerLink-dot {
    margin-top: em(6);
}
@include tablet {
    .M__disclaimerLink-dot--tabletHide {
        display: none;
    }
}
@include mobile {
    .M__disclaimerLink-dot {
        display: none;
        text-align: center;
    }
    .M__disclaimerLink-text {
        width: 100%;
        text-align: center
    }
    .M__disclaimerLink-main {
        padding: 0;
    }
}


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    MOLECULE                                                                 //
//-   ---------------                                                           //
//-    SECONDARY MENU BUTTON                                                    //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


.M__secondaryNavButton-container {
    text-align: center;
    text-transform: uppercase;
    font-size: em(13);
    font-weight: 700;
    border-right: 1px solid #999999;
    letter-spacing: em(1);
}
.M__secondaryNavButton-main {
    padding: em(10) 0;
    color: black;
    height: 100%;
    &:hover {
        color: red;
    }
}


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    MOLECULE                                                                 //
//-   ---------------                                                           //
//-    SEARCH                                                                   //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


//---------------------------------------------------------------------------------
//------------------------------------------------------------------------- Desktop


.M__Search-keywordContainer {
    width: em(400);
}
.M__Search-keyword {
    font-weight: 700;
    color: #999;
    height: em(40);
    padding: 0 em(10);
    width: 100%;
}
.M__Search-categoryContainer {
    padding-left: em(20);
}
.M__Search-category {
    text-transform: uppercase;
    font-weight: 700;
    color: #999;
    height: em(40);
    padding: 0 em(10);
    cursor: pointer;
    width: 100%;
}
.M__Search-buttonContainer {
    padding-left: em(20);
}
.M__Search-button {
    height: em(40);
    background: #ed1b25;
    color: white;
    border: none;
    padding: 0 em(40);
    text-transform: uppercase;
    font-family: "Roboto Condensed";
    font-weight: 700;
    &:hover {
        background: #777;
    }
}
.M__mainNavsearch-main {
    border-left: em(1) solid white;
    border-right: em(1) solid white;
}
.M__mainNavsearch-container {
    border-bottom: em(4) solid #aaaaaa;
    height: em(50);
    padding-top: em(14);
    &.is-activated {
        border-bottom: em(4) solid #cdcdcd;
        background: #cdcdcd;
    }
    &:hover:not(.is-activated) {
        border-bottom: em(4) solid red;
    }
}
.M__mainNavsearch-main {
    &:hover:not(.is-activated) {
        background: red;
    }
}
.M__mainNavsearch-icon {
    margin: 0 auto;
}
.M__mainNavsearch-main:hover .M__mainNavsearch-container:not(.is-activated) .M__mainNavsearch-icon {
    @extend .icon-searchWhite
}
.M__Search-keyword {
    max-width: em(400)
}


//---------------------------------------------------------------------------------
//-------------------------------------------------------------------------- Tablet


@include tablet {
    .M__Search-keywordContainer {
        width: 50%;
    }
    .M__Search-buttonContainer {
        width: 25%;
    }
    .M__Search-categoryContainer {
        width: 25%;
    }
     .M__Search-keyword {
        height: em(90);
    }
    .M__Search-button {
        height: em(90);
    }
    .M__Search-category {
        height: em(90);
    }
}

//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    MOLECULE                                                                 //
//-   ---------------                                                           //
//-    PULL QUOTE SHORTCODE                                                     //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


.M__pullQuote-main {
    height: auto;
    background: white;
    font-family: "Roboto Condensed";
    font-weight: 700;
    padding: em(5) 0;
    width: em(240);
}
.M__pullQuote-quote {
    border-left: em(1) solid grey;
    padding-left: em(20);
    margin-left: em(20);
    margin-bottom: em(40);
}
.M__pullQuote-text {
    color: black;
    font-size: em(20);
}
.M__pullQuote-icon {
    margin-top: em(10);
    margin-right: em(10);
}
.M__pullQuote-retweet {
    margin-bottom: em(12);
    margin-top: em(22);
    color: grey;
    font-size: em(12);
    margin-left: em(18);
    letter-spacing: em(1);
    text-transform: uppercase;
}
@include tablet {
    .M__pullQuote-main {
        max-width: em(300);
        width: 100%;
        margin: em(60) 0;
    }
}
@include mobile {
    .M__pullQuote-main {
        max-width: 100%;
    }
    .M__pullQuote-quote {
        margin: 0;
        padding: 0;
        border: 0;
    }
}


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    MOLECULE                                                                 //
//-   ---------------                                                           //
//-    FOOT COLUMN ITEM                                                         //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


.M__footColumn-main {
    padding-left: em(20);
}
.M__footColumn-link {
    margin-bottom: em(13);
    color: #ccc;
    font-size: em(13);
    &:hover {color: red;}
}

.M__footColumn-heading {
    font: 700 em(16) "Roboto Condensed";
    text-transform: uppercase;
    color: white;
    margin-bottom: em(15);
    color: #ccc;
    &:hover {color: red;}
}


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    MOLECULE                                                                 //
//-   ---------------                                                           //
//-    SOCIAL LINK BUTTON                                                       //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////



.M__socialLinkButton-icon.icon-facebook:hover {
    @extend .icon-facebookRed
}
.M__socialLinkButton-icon.icon-twitter:hover {
    @extend .icon-twitterRed
}
.M__socialLinkButton-icon.icon-google:hover {
    @extend .icon-googleRed
}
.M__socialLinkButton-icon.icon-rss:hover {
    @extend .icon-rssRed
}
.M__socialLinkButton-icon.icon-youtube:hover {
    @extend .icon-youtubeRed
}
.M__socialLinkButton-icon.icon-linkedin:hover {
    @extend .icon-linkedinRed
}
@include tablet {
    .M__socialLinkButton-circle {
        background: #444;
        height: em(80);
        border-radius: em(40);
    }
    .M__socialLinkButton-container {
        padding-top: em(30);
    }
    .M__socialLinkButton-icon {
        margin: 0 auto;
    }
}


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    MOLECULE                                                                 //
//-   ---------------                                                           //
//-    LOGIN BUTTON                                                             //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


.M__Login-main {
    color: #ccc;
    font-size: em(13);
    font-weight: 700;
    text-transform: uppercase;
    height: 100%;
    &:hover {
        color: red;
    }
}
.M__Login-container {
    padding: 0 em(15);
    margin: em(15) 0
}
.M__Login-icon {
    margin-right: em(7)
}
.M__Login-icon {
    margin-top: 1px;
}
.M__Login-main:hover .M__Login-container .icon-login {
    @extend .icon-loginRed
}


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    MOLECULE                                                                 //
//-   ---------------                                                           //
//-    MAIN NAV BUTTON                                                          //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


.M__mainNavButton-main {
    text-align: center;
    font-family: "Roboto Condensed"
}
.M__mainNavButton-centre {
    display: table;
    margin: 0 auto;
}
.M__mainNavButton-text {
    text-transform: uppercase;
    font-weight: 700;
}
.M__mainNavButton-main {
    color: black;
    border-left: em(1) solid white;
    &:hover:not(.is-activated) {
        background: red;
        color: white
    }
    &.is-activated .M__mainNavButton-container {
        border-bottom: em(4) solid #cdcdcd;
        background: #cdcdcd;
    }
}
.M__mainNavButton-main:hover:not(.is-activated) .M__mainNavButton-container .M__mainNavButton-centre .M__mainNavButton-arrow {
    @extend .icon-dropdownWhite;
}
.M__mainNavButton-container {
    border-bottom: em(4) solid #aaaaaa;
    padding-top: em(15);
    height: em(50);
}
.M__mainNavButton-arrow {
    margin-top: em(6);
    margin-left: em(3);
}