//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    ORGANISM                                                                 //
//-   ---------------                                                           //
//-    ???                                                                      //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    ORGANISM                                                                 //
//-   ---------------                                                           //
//-    ???                                                                      //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    ORGANISM                                                                 //
//-   ---------------                                                           //
//-    ???                                                                      //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    ORGANISM                                                                 //
//-   ---------------                                                           //
//-    ???                                                                      //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    ORGANISM                                                                 //
//-   ---------------                                                           //
//-    ???                                                                      //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    ORGANISM                                                                 //
//-   ---------------                                                           //
//-    MAGAZINE MOCKUP BLOCK                                                    //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


mixin O__magazineMockupBlock
    .O__magazineMockupBlock-main
        .O__magazineMockupBlock-row1
            +M__magazineMockup
        .O__magazineMockupBlock-row2
            +A__magazineMockupText
        .O__magazineMockupBlock-row3
            +M__magazineReadPrompt


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    ORGANISM                                                                 //
//-   ---------------                                                           //
//-    PHOTO GALLERY LIST                                                       //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


mixin O__photoGalleryList
    .O__photoGalleryList-main.u-cf
        each val in article.content.header.photoGallery.data
            .O__photoGalleryList-item.u-floatLeft
                +M__photoGalleryItem


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    ORGANISM                                                                 //
//-   ---------------                                                           //
//-    NEWS THUMBNAILS LIST                                                     //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


mixin O__newsThumbList
    .O__newsThumbList-main.u-cf
        each val, index in content.dynamic.pressReleases
            .O__newsThumbList-item.u-floatLeft
                +M__newsThumbItem(val.image, val.label, val.title, index)


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    ORGANISM                                                                 //
//-   ---------------                                                           //
//-    LABELED TEXT LINKS LIST                                                  //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


mixin O__labeledLinksList--otherFiles
    a(href="#").u-noUnderline
        .O__labeledLinksList-main
            each val in article.content.footer.otherFiles
                .O__labeledLinksList-item
                        +M__labeledLinkItem(val.label, val.text)
                        
                        
mixin O__labeledLinksList--presentationFiles
    a(href="#").u-noUnderline
        .O__labeledLinksList-main
            each val in article.content.footer.speakerSlides
                .O__labeledLinksList-item
                        +M__labeledLinkItem--presentation(val.label, val.text)



//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    ORGANISM                                                                 //
//-   ---------------                                                           //
//-    MAGAZINE PREVIEW BLOCK                                                   //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


mixin O__magazinePreview
    .O__magazinePreview-main.u-cf
        .O__magazinePreview-col1.u-floatLeft
            +M__magazinePreviewThumb
        .O__magazinePreview-col2.u-floatLeft
            .O__magazinePreview-col2-row1
                +A__magazinePreviewTitle
            .O__magazinePreview-col2-row2
                +O__magazinePreviewArticles
            .O__magazinePreview-col2-row3.u-cf
                .O__magazinePreview-col2-row3-col1.u-floatLeft
                    +M__magazinePreviewButton('Read Current Issue')
                .O__magazinePreview-col2-row3-col2.u-floatLeft
                    +M__magazinePreviewButton('View Previous Issues', '--grey')
        .O__magazinePreview-col3.u-floatRight
            +M__quote('--red')


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    ORGANISM                                                                 //
//-   ---------------                                                           //
//-    MAGAZINE PREVIEW ARTICLE LIST                                            //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


mixin O__magazinePreviewArticles
    .O__magazinePreviewArticles-main
        each val in head.dynamic.magazine.articles
            .O__magazinePreviewArticles-item
                +M__magazinePreviewArticle(val.text)


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    ORGANISM                                                                 //
//-   ---------------                                                           //
//-    SOCIAL MEDIA LINKS LIST                                                  //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


mixin O__socialLinkList
        .O__socialLinkList--head-main.u-cf
            each val in foot.socialMedia
                .O__socialLinkList-item.u-floatLeft
                    +M__socialLinkButton(val.icon)



//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    ORGANISM                                                                 //
//-   ---------------                                                           //
//-    DISCLAIMER TEXT LINKS LIST                                               //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


mixin O__disclaimerLinksList
    .O__disclaimerLinksList-main
        each val, index in foot.bottomLinks
            .O__disclaimerLinksList-item.u-floatLeft
                +M__disclaimerLink(index, val)


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    ORGANISMS                                                                //
//-   ---------------                                                           //
//-    PAGE INTRODCUTION BUTTONS LIST                                           //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


mixin O__filterButtons
    .O__filterButtons-main
        each val in content.static.introduction.buttons
            .O__filterButtons-item
                +M__filterButton(val.title, val.dropdown, val.title, val.options[0], val.options[1], val.options[2], val.options[3], val.options[4], val.options[5], val.options[6], val.options[7], val.options[8])


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    ORGANISMS                                                                //
//-   ---------------                                                           //
//-    CATEGORY PAGE THUMBNAILS LIST                                            //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


mixin O__categoryList
    .O__categoryList-main.u-cf
        each val, index in content.dynamic.thumbnails
            if(index==3)
                O__categoryList-heading.u-floatLeft
                    +M__heading(content.static.headings[1].title)
            .O__categoryList-item.u-floatLeft
                .O__categoryList-position
                    +M__contentThumb


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    ORGANISMS                                                                //
//-   ---------------                                                           //
//-    RELATED CONTENT LIST            //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


mixin O__relatedContentList(modifier)
        .O__relatedContentList-main
            each val, index in article.content.footer.relatedContent
                .O__relatedContentList-item
                    +M__contentThumb
    
//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    ORGANISMS                                                                //
//-   ---------------                                                           //
//-    RELATED CONTENT LIST WITHOUT COMMENTS                                    //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////

mixin O_noCommentrelated
    .O__relatedContentList-main.u-cf
        each val, index in article.content.footer.relatedContentAlt
            if (index<3)
                .O__relatedContentList-item--noComments.u-floatLeft
                    .O__relatedContentList-container--noComments
                        +M__contentThumb
                        
 mixin O_noCommentrelated--pressReleases
    .O__relatedContentList-main.u-cf
        each val, index in article.content.footer.pressRelease
            .O__relatedContentList-item--noComments.u-floatLeft
                .O__relatedContentList-container--noComments
                    +M__contentThumb                       

 mixin O_noCommentrelated--media
    .O__relatedContentList-main.u-cf
        each val, index in article.content.footer.media
            .O__relatedContentList-item--noComments.u-floatLeft
                .O__relatedContentList-container--noComments
                    +M__contentThumb                       

   

//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    ORGANISMS                                                                //
//-   ---------------                                                           //
//-    SECONDARY NAVIGATION MENU LIST                                           //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


mixin O__secondaryNavList
    .O__secondaryNavList-main.u-cf
        each val, index in head.static.secondaryNav
            .O__secondaryNavList-item.u-floatLeft
                +M__secondaryNavButton(index, val.text)


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    ORGANISMS                                                                //
//-   ---------------                                                           //
//-   TEMPLATE FOOT COLUMN LIST                                                 //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


mixin O__footColumnList
    .O__footColumnList-main.u-cf
        each val in foot.columns
            .O__footColumnList-item.u-floatLeft
                +M__footColumn(val.title, val.links[0], val.links[1], val.links[2], val.links[3], val.links[4], val.links[5], val.links[6], val.links[7], val.links[8] )


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    ORGANISMS                                                                //
//-   ---------------                                                           //
//-    MAIN NAVIGATION MENU LIST                                                //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


mixin O__mainNavList
    .O__mainNavList-main.u-cf
        each val,index in head.static.mainNav
            if(index!=2)
                .O__mainNavList-item.u-floatLeft
                    +M__mainNavButton(val.text, val.arrow)
            else
                .O__mainNavList-item.O__mainNavList-item--magazine.u-floatLeft
                    +M__mainNavButton(val.text, val.arrow)


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    ORGANISMS                                                                //
//-   ---------------                                                           //
//-    TOP NAVIGATION MENU LIST                                                 //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


mixin O__topNav
    .O__topNav-main.u-cf
        each val in head.static.topNav
            .O__topNav-item.u-floatLeft
                +M__topNavButton(val.text)


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    ORGANISMS                                                                //
//-   ---------------                                                           //
//-    DIRECT PAGINATION NUMBERS LIST                                           //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////



mixin O__paginationNumbers
    .O__paginationNumbers-main.u-cf
        each val, index in content.dynamic.pagination.direct
            .O__paginationNumbers-item.u-floatLeft
                +M__paginationButton(val)


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    ORGANISMS                                                                //
//-   ---------------                                                           //
//-    SOCIAL SHARE BUTTONS LIST                                                //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


mixin O__socialShareList
    .O__socialShareList-main.u-cf
        each val in article.content.article.socialShare
            +M__socialShareButton(val.icon, val.text, val.link.prepend, val.link.data, val.link.append)
            

//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    ORGANISMS                                                                //
//-   ---------------                                                           //
//-    BASIC TEXT PROMPT BUTTON LIST                                            //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


mixin O__textPromptList
        .O_textPromptList-main
            each val in article.content.footer.submitButtons
                .O_textPromptList-item
                    +M__textPrompt(val.text)
                    
                    
//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    ORGANISMS                                                                //
//-   ---------------                                                           //
//-    BASIC TEXT PROMPT BUTTON LIST                                            //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


mixin O__textPromptList--tenders
        .O_textPromptList-main
            each val in article.content.footer.otherTenders
                .O_textPromptList-item
                    +M__textPrompt--tenders(val.text, val.location, val.deadline)
                    
                    
//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    ORGANISMS                                                                //
//-   ---------------                                                           //
//-    BASIC TEXT PROMPT BUTTON LIST                                            //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


mixin O__textPromptList--heading
        .O_textPromptList-main
            each val in article.content.footer.submitButtons
                .O_textPromptList-item
                    +M__textPrompt--heading(val.text, 'asd')