/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-arrow {
  background-image: url(../img/spritesheet.png);
  background-position: -289px -178px;
  width: 10px;
  height: 16px;
}
.icon-arrowWhite {
  background-image: url(../img/spritesheet.png);
  background-position: -289px -162px;
  width: 10px;
  height: 16px;
}
.icon-benefits-1 {
  background-image: url(../img/spritesheet.png);
  background-position: 0px -154px;
  width: 73px;
  height: 73px;
}
.icon-benefits-2 {
  background-image: url(../img/spritesheet.png);
  background-position: -81px 0px;
  width: 73px;
  height: 73px;
}
.icon-benefits-3 {
  background-image: url(../img/spritesheet.png);
  background-position: -154px -73px;
  width: 73px;
  height: 73px;
}
.icon-benefits-4 {
  background-image: url(../img/spritesheet.png);
  background-position: 0px -81px;
  width: 73px;
  height: 73px;
}
.icon-benefits-5 {
  background-image: url(../img/spritesheet.png);
  background-position: -73px -81px;
  width: 73px;
  height: 73px;
}
.icon-benefits-6 {
  background-image: url(../img/spritesheet.png);
  background-position: -154px 0px;
  width: 73px;
  height: 73px;
}
.icon-articleShare {
  background-image: url(../img/spritesheet.png);
  background-position: -257px -53px;
  width: 27px;
  height: 27px;
}
.icon-articleShareRed {
  background-image: url(../img/spritesheet.png);
  background-position: -257px -26px;
  width: 27px;
  height: 27px;
}
.icon-close {
  background-image: url(../img/spritesheet.png);
  background-position: -257px -106px;
  width: 24px;
  height: 25px;
}
.icon-closeQuote {
  background-image: url(../img/spritesheet.png);
  background-position: -257px 0px;
  width: 32px;
  height: 26px;
}
.icon-closeQuoteRed {
  background-image: url(../img/spritesheet.png);
  background-position: -216px -227px;
  width: 32px;
  height: 26px;
}
.icon-closeWhite {
  background-image: url(../img/spritesheet.png);
  background-position: -257px -131px;
  width: 24px;
  height: 25px;
}
.icon-dropdown {
  background-image: url(../img/spritesheet.png);
  background-position: -289px -217px;
  width: 10px;
  height: 7px;
}
.icon-dropdownWhite {
  background-image: url(../img/spritesheet.png);
  background-position: -289px -210px;
  width: 10px;
  height: 7px;
}
.icon-footerDot {
  background-image: url(../img/spritesheet.png);
  background-position: -300px -93px;
  width: 4px;
  height: 3px;
}
.icon-login {
  background-image: url(../img/spritesheet.png);
  background-position: -289px -67px;
  width: 13px;
  height: 13px;
}
.icon-loginRed {
  background-image: url(../img/spritesheet.png);
  background-position: -289px -80px;
  width: 13px;
  height: 13px;
}
.icon-openQuote {
  background-image: url(../img/spritesheet.png);
  background-position: -150px -227px;
  width: 33px;
  height: 26px;
}
.icon-openQuoteRed {
  background-image: url(../img/spritesheet.png);
  background-position: -183px -227px;
  width: 33px;
  height: 26px;
}
.icon-pullQuote {
  background-image: url(../img/spritesheet.png);
  background-position: -257px -80px;
  width: 26px;
  height: 26px;
}
.icon-search {
  background-image: url(../img/spritesheet.png);
  background-position: -257px -176px;
  width: 20px;
  height: 20px;
}
.icon-searchWhite {
  background-image: url(../img/spritesheet.png);
  background-position: -257px -156px;
  width: 20px;
  height: 20px;
}
.icon-facebook {
  background-image: url(../img/spritesheet.png);
  background-position: -289px -108px;
  width: 9px;
  height: 18px;
}
.icon-facebookBlack {
  background-image: url(../img/spritesheet.png);
  background-position: -289px -126px;
  width: 9px;
  height: 18px;
}
.icon-facebookRed {
  background-image: url(../img/spritesheet.png);
  background-position: -289px -144px;
  width: 9px;
  height: 18px;
}
.icon-google {
  background-image: url(../img/spritesheet.png);
  background-position: -73px -203px;
  width: 18px;
  height: 18px;
}
.icon-googleBlack {
  background-image: url(../img/spritesheet.png);
  background-position: -209px -185px;
  width: 18px;
  height: 18px;
}
.icon-googleRed {
  background-image: url(../img/spritesheet.png);
  background-position: -91px -203px;
  width: 18px;
  height: 18px;
}
.icon-linkedin {
  background-image: url(../img/spritesheet.png);
  background-position: -202px -154px;
  width: 19px;
  height: 18px;
}
.icon-linkedinBlack {
  background-image: url(../img/spritesheet.png);
  background-position: -171px -185px;
  width: 19px;
  height: 18px;
}
.icon-linkedinRed {
  background-image: url(../img/spritesheet.png);
  background-position: -190px -185px;
  width: 19px;
  height: 18px;
}
.icon-rss {
  background-image: url(../img/spritesheet.png);
  background-position: 0px -257px;
  width: 17px;
  height: 17px;
}
.icon-rssBlack {
  background-image: url(../img/spritesheet.png);
  background-position: -17px -257px;
  width: 17px;
  height: 17px;
}
.icon-rssRed {
  background-image: url(../img/spritesheet.png);
  background-position: -34px -257px;
  width: 17px;
  height: 17px;
}
.icon-twitter {
  background-image: url(../img/spritesheet.png);
  background-position: -109px -203px;
  width: 19px;
  height: 16px;
}
.icon-twitterBlack {
  background-image: url(../img/spritesheet.png);
  background-position: -128px -203px;
  width: 19px;
  height: 16px;
}
.icon-twitterRed {
  background-image: url(../img/spritesheet.png);
  background-position: -227px -211px;
  width: 19px;
  height: 16px;
}
.icon-youtube {
  background-image: url(../img/spritesheet.png);
  background-position: -257px -228px;
  width: 22px;
  height: 16px;
}
.icon-youtubeBlack {
  background-image: url(../img/spritesheet.png);
  background-position: -257px -212px;
  width: 22px;
  height: 16px;
}
.icon-youtubeRed {
  background-image: url(../img/spritesheet.png);
  background-position: -257px -196px;
  width: 22px;
  height: 16px;
}
.icon-commentShare {
  background-image: url(../img/spritesheet.png);
  background-position: -227px -61px;
  width: 30px;
  height: 30px;
}
.icon-commentShareWhite {
  background-image: url(../img/spritesheet.png);
  background-position: -227px -91px;
  width: 30px;
  height: 30px;
}
.icon-emailShare {
  background-image: url(../img/spritesheet.png);
  background-position: -227px -121px;
  width: 30px;
  height: 30px;
}
.icon-emailShareWhite {
  background-image: url(../img/spritesheet.png);
  background-position: -227px -181px;
  width: 30px;
  height: 30px;
}
.icon-facebookShare {
  background-image: url(../img/spritesheet.png);
  background-position: 0px -227px;
  width: 30px;
  height: 30px;
}
.icon-facebookShareWhite {
  background-image: url(../img/spritesheet.png);
  background-position: -120px -227px;
  width: 30px;
  height: 30px;
}
.icon-googleShare {
  background-image: url(../img/spritesheet.png);
  background-position: -30px -227px;
  width: 30px;
  height: 30px;
}
.icon-googleShareWhite {
  background-image: url(../img/spritesheet.png);
  background-position: -60px -227px;
  width: 30px;
  height: 30px;
}
.icon-linkedShareWhite {
  background-image: url(../img/spritesheet.png);
  background-position: -227px -31px;
  width: 30px;
  height: 30px;
}
.icon-linkedinShare {
  background-image: url(../img/spritesheet.png);
  background-position: -90px -227px;
  width: 30px;
  height: 30px;
}
.icon-twitterShare {
  background-image: url(../img/spritesheet.png);
  background-position: -227px 0px;
  width: 30px;
  height: 31px;
}
.icon-twitterShareWhite {
  background-image: url(../img/spritesheet.png);
  background-position: -227px -151px;
  width: 30px;
  height: 30px;
}
.icon-attachment {
  background-image: url(../img/spritesheet.png);
  background-position: -289px -194px;
  width: 9px;
  height: 16px;
}
.icon-calender {
  background-image: url(../img/spritesheet.png);
  background-position: -289px -18px;
  width: 14px;
  height: 17px;
}
.icon-calenderRed {
  background-image: url(../img/spritesheet.png);
  background-position: -289px 0px;
  width: 15px;
  height: 18px;
}
.icon-map {
  background-image: url(../img/spritesheet.png);
  background-position: -289px -93px;
  width: 11px;
  height: 15px;
}
.icon-mapLarge {
  background-image: url(../img/spritesheet.png);
  background-position: -289px -51px;
  width: 12px;
  height: 16px;
}
.icon-mapRed {
  background-image: url(../img/spritesheet.png);
  background-position: -289px -35px;
  width: 12px;
  height: 16px;
}
.icon-play {
  background-image: url(../img/spritesheet.png);
  background-position: 0px 0px;
  width: 81px;
  height: 81px;
}
.icon-playSmall {
  background-image: url(../img/spritesheet.png);
  background-position: -171px -154px;
  width: 31px;
  height: 31px;
}
.icon-tender {
  background-image: url(../img/spritesheet.png);
  background-position: -51px -257px;
  width: 16px;
  height: 17px;
}
.icon-thumbPlay {
  background-image: url(../img/spritesheet.png);
  background-position: -73px -154px;
  width: 49px;
  height: 49px;
}
.icon-thumbPlayRed {
  background-image: url(../img/spritesheet.png);
  background-position: -122px -154px;
  width: 49px;
  height: 49px;
}
