
//- HEAD

- var head = {"static":{"topNav":[{"text":"About us","link":"*insert"},{"text":"Advertise","link":"*insert"},{"text":"Contact Us","link":"*insert"},{"text":"Register","link":"*insert"}],"mainNav":{"data":[{"text":"News","arrow":false,"link":"*insert","active":false},{"text":"Features","arrow":false,"link":"*insert","active":false},{"text":"Magazine","arrow":true,"link":"*insert","active":false},{"text":"Reports","arrow":false,"link":"*insert","active":false},{"text":"Tenders","arrow":false,"link":"*insert","active":false},{"text":"Multimedia","arrow":false,"link":"*insert","active":false},{"text":"Event","arrow":false,"link":"*insert","active":false},{"text":"Partners","arrow":false,"link":"*insert","active":false}],"homepage":true},"secondaryNav":[{"text":"Smart Meters","link":"*insert","lines":1},{"text":"Smart Grid","link":"*insert","lines":1},{"text":"Smart Energy","link":"*insert","active":false,"lines":1},{"text":"M2M","link":"*insert","lines":1},{"text":"Data & Analytics","link":"*insert","lines":1},{"text":"IOT","link":"*insert","lines":1}]},"dynamic":{"page":{"signin":true,"account":"John Smith"},"adverts":{"leaderboard":{"desktop":"Community_968x100.jpg","tablet":"Community_680x100.jpg","color":"#017795"},"superbanner":"*insert"},"magazine":{"image":"*insert","articles":[{"text":"Praesent nonummy mi in odio","link":"*insert"},{"text":"Aenean leo ligula porttitor eu","link":"*insert"},{"text":"Praesent ut ligula non mi","link":"*insert"},{"text":"Praesent venenatis metus at tortor","link":"*insert"}]}}}








//- ARTICLE

- var article = {"heading1":"About Metering & Smart Energy International","subheading1":"Metering & Smart Energy International is the leading authority on the smart meter, smart grid and smart energy markets, providing up-to-the-minute global news, incisive comment and professional resources. ","list":[{"heading":"Magazine\r\n","text":"The bi-monthly Metering & Smart Energy International magazine has become a trusted and relied upon source of in-depth industry insight and analysis. Our journalists and contributors are prominent in the market and are respected for understanding the on-point issues facing utilities, energy providers and technology developers."},{"heading":"Digital edition","text":"The increasingly popular mobile version of the print magazine can be downloaded to your PC, tablet or mobile. <a>Read the latest issue now</a>."},{"heading":"News portal","text":"The website - <a href=\"#\">Metering.com</a> - covers breaking news from around the world’s smart meters, smart grid and smart energy markets, as well as access to details of the latest tenders, technical white papers and conference presentations. We send out daily and weekly <a href=\"#\">newsletters</a> so you never miss a story that is impacting your business."},{"heading":"Special publications","text":"In 2014, we published the <a href=\"#\">Most Influential People in European Smart Grid</a>, an indispensable handbook to the big influencers shaping the future of smart meters and smart energy on the continent. Each of the nearly 50 movers and shakers gave their predictions on the future of Europe’s smart grid."},{"heading":"Events","text":"<p>Metering & Smart Energy International is owned by Spintelligent, a global business-to-business event organizer and Level 2 BBBEE contributor.</p>\r\n\r\n<p>With partner companies in the UK, Netherlands, South Africa, Brazil and Singapore, Metering & Smart Energy International benefits from unique relationships with key industry events including European Utility Week, Asian Utility Week, Latin American Utility Week, African Utility Week and Australian Utility Week.</p>\r\n\r\n<p><a href=\"#\">Contact the team</a>.</p>"}],"textBlock":"asdd","blockHeader":"About Us","includes":{"about":true,"advertise":null},"listHeader":null,"listIntro":null,"tableHeader":"Contact Our Team","table":null}












//- FOOT

- var foot = {"columns":[{"title":"News","links":["Europe and UK","North America","Asia","Afirca and Middle East","Australia and New Zealand","Central and Latin America"]},{"title":"Features","links":["Industry Insights","How-to Guides","Engerati's Week in Smart Energy"]},{"title":"Magazines","links":["Latest Issue","Back Issue"]},{"title":"Reports","links":["Free White Paper","Industry Reports","Special Reports"]},{"title":"Tenders","links":["Free Tenders","Tender Library"]},{"title":"Multimedia","links":["Video","Audio","Webinar Archive"]},{"title":"Events","links":["MSEI Events","Partner Events","Training Academy"]},{"title":"Partners","links":["View Partners","Become a Partner"]}],"bottomLinks":["Terms of Use","Privacy Policy","Sitemap","About Us","Advisory Board","Association Partners","Contact"],"socialMedia":[{"icon":"facebook","link":null},{"icon":"google","link":null},{"icon":"linkedin","link":null},{"icon":"rss","link":null},{"icon":"twitter","link":null},{"icon":"youtube","link":null}]}









//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-                  s                                                           //
//-                           s           s                      d                 //
//-                                                             k                //
//-                             f                                                //
//-                                                                             //
//-                                       █               d                      //
//-                                       █  x                                   //
//-                                    █  █  █      x                            //
//-                                     █ █ █                                   //
//-                                      ███                  ss                  //
//-                           d            █                                     //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


include ../#__static.jade

