
//- JSON CONTENT


- var head = {"staticPages":{"title":"About Metering & Smart Energy International","Sub-Heading":"Metering & Smart Energy International is the leading authority on the smart meter, smart grid and smart energy markets, providing up-to-the-minute global news, incisive comment and professional resources. ","landscapeSections":[{"heading":"Magazine","text":"The bi-monthly Metering & Smart Energy International magazine has become a trusted and relied upon source of in-depth industry insight and analysis. Our journalists and contributors are prominent in the market and are respected for understanding the on-point issues facing utilities, energy providers and technology developers."},{"heading":"Magazine","text":"The bi-monthly Metering & Smart Energy International magazine has become a trusted and relied upon source of in-depth industry insight and analysis. Our journalists and contributors are prominent in the market and are respected for understanding the on-point issues facing utilities, energy providers and technology developers."},{"heading":"Magazine","text":"The bi-monthly Metering & Smart Energy International magazine has become a trusted and relied upon source of in-depth industry insight and analysis. Our journalists and contributors are prominent in the market and are respected for understanding the on-point issues facing utilities, energy providers and technology developers."},{"heading":"Magazine","text":"The bi-monthly Metering & Smart Energy International magazine has become a trusted and relied upon source of in-depth industry insight and analysis. Our journalists and contributors are prominent in the market and are respected for understanding the on-point issues facing utilities, energy providers and technology developers."}],"include":true,"form":true,"contactTeam":[{"name":"Meghan Marks","title":"Managing Editor","phone":"021 700 4559"}],"team":[{"name":"Maghan Marks","position":"Director of Marketing","Meghan Marks is the Director of Global Marketing for the eMeter business in Siemens Smart Grid.  Over the past decade, Meghan has lead strategic, global marketing programs across multiple industries including telecom, IT, and enterprise scale software. Her passion is to connect marketing programs directly to business outcomes. Her latest undertaking being the transformation of the utility industry and the macro level trends that provide significant opportunities for consumers and utilities.":null}],"table":[{"heading":"For rate information","data":[{"name":"adasdasd","positiion":"adasd","phone":"asdasd"},{"name":"adasdasd","positiion":"adasd","phone":"asdasd"},{"name":"adasdasd","positiion":"adasd","phone":"asdasd"}]},{"heading":"For rate information","data":[{"name":"adasdasd","positiion":"adasd","phone":"asdasd"},{"name":"adasdasd","positiion":"adasd","phone":"asdasd"},{"name":"adasdasd","positiion":"adasd","phone":"asdasd"}]}],"heading":"Advisory Board","intro":"Fusce quis nulla ultricies, auctor nisi vel, congue tellus. Sed auctor dui ut nibh ullamcorper, ut sodales orci semper. Sed tempor pretium dictum. Fusce ultrices massa non felis lacinia efficitur. Sed velit metus, porta a rhoncus in, aliquam at nibh. Donec ultricies imperdiet tortor quis maximus. "}}











//- article


- var article = {"staticPages":{"title":"About Metering & Smart Energy International","Sub-Heading":"Metering & Smart Energy International is the leading authority on the smart meter, smart grid and smart energy markets, providing up-to-the-minute global news, incisive comment and professional resources. ","landscapeSections":[{"title":"Magazine","The bi-monthly Metering & Smart Energy International magazine has become a trusted and relied upon source of in-depth industry insight and analysis. Our journalists and contributors are prominent in the market and are respected for understanding the on-point issues facing utilities, energy providers and technology developers.":null},{"title":"Magazine","The bi-monthly Metering & Smart Energy International magazine has become a trusted and relied upon source of in-depth industry insight and analysis. Our journalists and contributors are prominent in the market and are respected for understanding the on-point issues facing utilities, energy providers and technology developers.":null},{"title":"Magazine","The bi-monthly Metering & Smart Energy International magazine has become a trusted and relied upon source of in-depth industry insight and analysis. Our journalists and contributors are prominent in the market and are respected for understanding the on-point issues facing utilities, energy providers and technology developers.":null},{"title":"Magazine","The bi-monthly Metering & Smart Energy International magazine has become a trusted and relied upon source of in-depth industry insight and analysis. Our journalists and contributors are prominent in the market and are respected for understanding the on-point issues facing utilities, energy providers and technology developers.":null}],"include":true,"form":true,"contactTeam":[{"name":"Meghan Marks","title":"Managing Editor","phone":"021 700 4559"}],"team":[{"name":"Maghan Marks","position":"Director of Marketing","Meghan Marks is the Director of Global Marketing for the eMeter business in Siemens Smart Grid.  Over the past decade, Meghan has lead strategic, global marketing programs across multiple industries including telecom, IT, and enterprise scale software. Her passion is to connect marketing programs directly to business outcomes. Her latest undertaking being the transformation of the utility industry and the macro level trends that provide significant opportunities for consumers and utilities.":null}],"table":[{"heading":"For rate information","data":[{"name":"adasdasd","positiion":"adasd","phone":"asdasd"},{"name":"adasdasd","positiion":"adasd","phone":"asdasd"},{"name":"adasdasd","positiion":"adasd","phone":"asdasd"}]},{"heading":"For rate information","data":[{"name":"adasdasd","positiion":"adasd","phone":"asdasd"},{"name":"adasdasd","positiion":"adasd","phone":"asdasd"},{"name":"adasdasd","positiion":"adasd","phone":"asdasd"}]}],"heading":"Advisory Board","intro":"Fusce quis nulla ultricies, auctor nisi vel, congue tellus. Sed auctor dui ut nibh ullamcorper, ut sodales orci semper. Sed tempor pretium dictum. Fusce ultrices massa non felis lacinia efficitur. Sed velit metus, porta a rhoncus in, aliquam at nibh. Donec ultricies imperdiet tortor quis maximus. "}}








//- JSON FOOT


- var foot = {"columns":[{"title":"News","links":["Europe and UK","North America","Asia","Afirca and Middle East","Australia and New Zealand","Central and Latin America"]},{"title":"Features","links":["Industry Insights","How-to Guides","Engerati's Week in Smart Energy"]},{"title":"Magazines","links":["Latest Issue","Back Issue"]},{"title":"Reports","links":["Free White Paper","Industry Reports","Special Reports"]},{"title":"Tenders","links":["Free Tenders","Tender Library"]},{"title":"Multimedia","links":["Video","Audio","Webinar Archive"]},{"title":"Events","links":["MSEI Events","Partner Events","Training Academy"]},{"title":"Partners","links":["View Partners","Become a Partner"]}],"bottomLinks":["Terms of Use","Privacy Policy","Sitemap","About Us","Advisory Board","Association Partners","Contact"],"socialMedia":[{"icon":"facebook","link":null},{"icon":"google","link":null},{"icon":"linkedin","link":null},{"icon":"rss","link":null},{"icon":"twitter","link":null},{"icon":"youtube","link":null}]}


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                       █                                     //
//-                                       █                                     //
//-                                    █  █  █                                  //
//-                                     █ █ █                                   //
//-                                      ███                                    //
//-                                       █                                     //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


include ../#__static.jade

