
//- HEAD

- var head = {"static":{"topNav":[{"text":"About us","link":"*insert"},{"text":"Advertise","link":"*insert"},{"text":"Contact Us","link":"*insert"},{"text":"Register","link":"*insert"}],"mainNav":{"data":[{"text":"News","arrow":false,"link":"*insert","active":false},{"text":"Features","arrow":false,"link":"*insert","active":false},{"text":"Magazine","arrow":true,"link":"*insert","active":false},{"text":"Reports","arrow":false,"link":"*insert","active":false},{"text":"Tenders","arrow":false,"link":"*insert","active":false},{"text":"Multimedia","arrow":false,"link":"*insert","active":false},{"text":"Event","arrow":false,"link":"*insert","active":false},{"text":"Partners","arrow":false,"link":"*insert","active":false}],"homepage":true},"secondaryNav":[{"text":"Smart Meters","link":"*insert","lines":1},{"text":"Smart Grid","link":"*insert","lines":1},{"text":"Smart Energy","link":"*insert","active":false,"lines":1},{"text":"M2M","link":"*insert","lines":1},{"text":"Data & Analytics","link":"*insert","lines":1},{"text":"IOT","link":"*insert","lines":1}]},"dynamic":{"page":{"signin":true,"account":"John Smith"},"adverts":{"leaderboard":{"desktop":"Community_968x100.jpg","tablet":"Community_680x100.jpg","color":"#017795"},"superbanner":"*insert"},"magazine":{"image":"*insert","articles":[{"text":"Praesent nonummy mi in odio","link":"*insert"},{"text":"Aenean leo ligula porttitor eu","link":"*insert"},{"text":"Praesent ut ligula non mi","link":"*insert"},{"text":"Praesent venenatis metus at tortor","link":"*insert"}]}}}








//- ARTICLE

- var article = {"heading1":"About Metering & Smart Energy International","subheading1":"Metering & Smart Energy International is the leading authority on the smart meter, smart grid and smart energy markets, providing up-to-the-minute global news, incisive comment and professional resources. ","list":[{"heading":"Magazine\r\n","text":"<p>The bi-monthly Metering & Smart Energy International magazine is a trusted and relied upon source of in-depth industry insight and analysis. Our journalists and contributors are prominent in the market and are respected for understanding the on-point issues facing utilities, energy providers and technology developers.</p>\r\n\r\n<p>As a reader, every issue gives brings you closer to the forces shaping the market - whether it is new technology, regulatory change or milestone projects.<p>\r\n\r\n<p>Want to advertise with us and tap into our database of 100,000 energy professionals? Download our <a href=\"#\">Media Kit now</a>.</p>"},{"heading":"Digital Edition","text":"The increasingly popular online version of the print magazine can be downloaded to your PC, tablet or mobile phone. Read the <a href=\"#\">latest issue</a> now."},{"heading":"News Website","text":"Our website covers breaking news from around the world’s smart meters, smart grid and smart energy markets, as well as access to details of the latest tenders, technical white papers and conference presentations. We send out daily and weekly <a href=\"#\">newsletters</a> so you never miss a story that is impacting your business."},{"heading":"Special publications","text":"We publish special <a href=\"#\">reports</a> on the people and projects changing the smart energy and smart grid markets. Want to see your project featured in one of these prestigious handbooks? <a href=\"#\">Contact us</a> now to explore content and advertising opportunities."},{"heading":"Events","text":"<p>Metering & Smart Energy International is owned by <a href=\"#\">Spintelligent</a>, a global business-to-business event organiser and South African Level 2 BBBEE contributor.\r\n</p>\r\n<p>We have partner companies in the UK, Netherlands, South Africa, Brazil and Singapore, and enjoy unique relationships with the Big Five Utility Week <a href=\"#\">events</a>: European Utility Week, African Utility Week, Asian Utility Week, Latin American Utility Week and Australian Utility Week.\r\n</p>\r\n<p>For exhibitors, as the official media partner of these events, we can help you increase the return on your event expenditure by running pre-event advertising and HTML mailer campaigns to ensure new prospects at your booth. <a href=\"#\">Contact us</a> to find out more.\r\n</p>"}],"textBlock":"asdd","blockHeader":"About Us","includes":{"about":true,"advertise":null},"listHeader":null,"listIntro":null,"tableHeader":"Contact Our Team","table":null}













//- FOOT

- var foot = {"columns":[{"title":"News","links":["Europe and UK","North America","Asia","Afirca and Middle East","Australia and New Zealand","Central and Latin America"]},{"title":"Features","links":["Industry Insights","How-to Guides","Engerati's Week in Smart Energy"]},{"title":"Magazines","links":["Latest Issue","Back Issue"]},{"title":"Reports","links":["Free White Paper","Industry Reports","Special Reports"]},{"title":"Tenders","links":["Free Tenders","Tender Library"]},{"title":"Multimedia","links":["Video","Audio","Webinar Archive"]},{"title":"Events","links":["MSEI Events","Partner Events","Training Academy"]},{"title":"Partners","links":["View Partners","Become a Partner"]}],"bottomLinks":["Terms of Use","Privacy Policy","Sitemap","About Us","Advisory Board","Association Partners","Contact"],"socialMedia":[{"icon":"facebook","link":null},{"icon":"google","link":null},{"icon":"linkedin","link":null},{"icon":"rss","link":null},{"icon":"twitter","link":null},{"icon":"youtube","link":null}]}









//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-                  s                                                           //
//-                           s           s                      d                 //
//-                                                             k                //
//-                             f                                                //
//-                                                                             //
//-                                       █               d                      //
//-                                       █  x                                   //
//-                                    █  █  █      x                            //
//-                                     █ █ █                                   //
//-                                      ███                  ss                  //
//-                           d            █                                     //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


include ../#__static.jade

