
//- HEAD

- var head = {"static":{"topNav":[{"text":"About us","link":"*insert"},{"text":"Advertise","link":"*insert"},{"text":"Contact Us","link":"*insert"},{"text":"Register","link":"*insert"}],"mainNav":{"data":[{"text":"News","arrow":false,"link":"*insert","active":false},{"text":"Features","arrow":false,"link":"*insert","active":false},{"text":"Magazine","arrow":true,"link":"*insert","active":false},{"text":"Reports","arrow":false,"link":"*insert","active":false},{"text":"Tenders","arrow":false,"link":"*insert","active":false},{"text":"Multimedia","arrow":false,"link":"*insert","active":false},{"text":"Event","arrow":false,"link":"*insert","active":false},{"text":"Partners","arrow":false,"link":"*insert","active":false}],"homepage":true},"secondaryNav":[{"text":"Smart Meters","link":"*insert","lines":1},{"text":"Smart Grid","link":"*insert","lines":1},{"text":"Smart Energy","link":"*insert","active":false,"lines":1},{"text":"M2M","link":"*insert","lines":1},{"text":"Data & Analytics","link":"*insert","lines":1},{"text":"IOT","link":"*insert","lines":1}]},"dynamic":{"page":{"signin":true,"account":"John Smith"},"adverts":{"leaderboard":{"desktop":"Community_968x100.jpg","tablet":"Community_680x100.jpg","color":"#017795"},"superbanner":"*insert"},"magazine":{"image":"*insert","articles":[{"text":"Praesent nonummy mi in odio","link":"*insert"},{"text":"Aenean leo ligula porttitor eu","link":"*insert"},{"text":"Praesent ut ligula non mi","link":"*insert"},{"text":"Praesent venenatis metus at tortor","link":"*insert"}]}}}











//- ARTICLE

- var article = {"heading1":"Advertise with us","subheading1":"Metering & Smart Energy International is the global leader in delivering smart utility news and analysis to more than 200 countries.","list":[{"heading":"1. Print and digital magazine","text":"By taking a strategic advertisement on Metering.com, you are ensuring that your presence in the power market is at a maximum. Metering.com draws an average 21,428 users, 235,923 page views, spending an average of 4 minutes 51 seconds on site."},{"heading":"2. News portal","text":"We distribute more than 105,000 digital copies worldwide. We send more than 9,000 printed copies directly to the metering and smart energy companies, reaching ‘C’ level decision makers and directly to Government Ministers."},{"heading":"3. Webinars","text":"You create a presentation on a key area; we promote it heavily to our database, and they sign up to learn from you. We secure an average of 300 registrations per webinar."},{"heading":"4. HTML mailers","text":"If you have a special promotion, if you are attending an event and want to maximise visitors, if you are launching into a new market – then sending a mailer to the metering database or a segmented portion of it, will yield the results you need."},{"heading":"5. Demand generation","text":"Our value-added campaign packages are an ideal way to create demand around a specific topic or product. Custom-made packages can consist of a mixture of white papers, e-books, videos and technical brochures, promoted with a series of banners, mailers and write-ups in our daily and weekly e-newsletters."}],"textBlock":"asdd","blockHeader":"Advertise","includes":{"about":null,"advertise":true,"form":true},"listHeader":"5 Ways to Reach your Target Market","listIntro":"We offer multi-media opportunities that saturate the market with high quality content, which means that for advertisers, you are sure to be seen by those who count.","table":[{"heading":"FOR RATE INFORMATION","data":[[{"name":"Gerald Schreiner","position":"Sales Director","phone":"+27 21 700 3533"}],[{"name":"Loudon Cito","position":"Sales Executive","phone":"+27 21 700 3533"}]]},{"heading":"Advertising Material","data":[[{"name":"Dane Adriaanse","position":"Production Assistant","phone":"+27 21 700 3544"}]]}],"blockHeader2":"Contact Our Team","blockHeader3":"Media Kit"}











//- FOOT

- var foot = {"columns":[{"title":"News","links":["Europe and UK","North America","Asia","Afirca and Middle East","Australia and New Zealand","Central and Latin America"]},{"title":"Features","links":["Industry Insights","How-to Guides","Engerati's Week in Smart Energy"]},{"title":"Magazines","links":["Latest Issue","Back Issue"]},{"title":"Reports","links":["Free White Paper","Industry Reports","Special Reports"]},{"title":"Tenders","links":["Free Tenders","Tender Library"]},{"title":"Multimedia","links":["Video","Audio","Webinar Archive"]},{"title":"Events","links":["MSEI Events","Partner Events","Training Academy"]},{"title":"Partners","links":["View Partners","Become a Partner"]}],"bottomLinks":["Terms of Use","Privacy Policy","Sitemap","About Us","Advisory Board","Association Partners","Contact"],"socialMedia":[{"icon":"facebook","link":null},{"icon":"google","link":null},{"icon":"linkedin","link":null},{"icon":"rss","link":null},{"icon":"twitter","link":null},{"icon":"youtube","link":null}]}











//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-                  s                                                           //
//-                           s           s                      d                 //
//-                                                             k                //
//-                             f                                                //
//-                                                          f                   //
//-                                       █               d                      //
//-                                       █  x                                   //
//-                                    █  █  █      x                            //
//-                                     █ █ █                   d                //
//-                                      ███                  ss                  //
//-                                       █                                     //
//-                                                                          f   //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


include ../#__static.jade

