
//- HEAD

- var head = {"static":{"topNav":[{"text":"About us","link":"*insert"},{"text":"Advertise","link":"*insert"},{"text":"Contact Us","link":"*insert"},{"text":"Register","link":"*insert"}],"mainNav":{"data":[{"text":"News","arrow":false,"link":"*insert","active":false},{"text":"Features","arrow":false,"link":"*insert","active":false},{"text":"Magazine","arrow":true,"link":"*insert","active":false},{"text":"Reports","arrow":false,"link":"*insert","active":false},{"text":"Tenders","arrow":false,"link":"*insert","active":false},{"text":"Multimedia","arrow":false,"link":"*insert","active":false},{"text":"Event","arrow":false,"link":"*insert","active":false},{"text":"Partners","arrow":false,"link":"*insert","active":false}],"homepage":true},"secondaryNav":[{"text":"Smart Meters","link":"*insert","lines":1},{"text":"Smart Grid","link":"*insert","lines":1},{"text":"Smart Energy","link":"*insert","active":false,"lines":1},{"text":"M2M","link":"*insert","lines":1},{"text":"Data & Analytics","link":"*insert","lines":1},{"text":"IOT","link":"*insert","lines":1}]},"dynamic":{"page":{"signin":true,"account":"John Smith"},"adverts":{"leaderboard":{"desktop":"Community_968x100.jpg","tablet":"Community_680x100.jpg","color":"#017795"},"superbanner":"*insert"},"magazine":{"image":"*insert","articles":[{"text":"Praesent nonummy mi in odio","link":"*insert"},{"text":"Aenean leo ligula porttitor eu","link":"*insert"},{"text":"Praesent ut ligula non mi","link":"*insert"},{"text":"Praesent venenatis metus at tortor","link":"*insert"}]}}}








//- ARTICLE

- var article = {"heading1":null,"subheading1":null,"list":null,"blockHeader":"Advisory Board","includes":{"about":null,"advertise":null,"form":null,"contact":false},"textBlock":"asdd","blockHeader2":null,"table":null,"listHeader":null,"listIntro":null,"blockHeader3":"Do you have a story to share?","teamAdvisory":[{"heading":"asd","data":[{"name":"Meghan Marks","position":"Director of Global Marketing","email":"Over the past decade, Meghan has lead strategic, global marketing programs across multiple industries including telecom, IT, and enterprise scale software. Her passion is to connect marketing programs directly to business outcomes. Her latest undertaking being the transformation of the utility industry and the macro level trends that provide significant opportunities for consumers and utilities.","sub":"Meghan Marks is the Director of Global Marketing for the eMeter business in Siemens Smart Grid."},{"name":"Michael Trampert","position":"Vice President of Capgemini","email":"Dr. Michael Trampert, born 1958 in Germany, is a Vice President with Capgemini since 2006.  Michael has had a long professional career within the consulting industry (Bain & Company, Munich; McKinsey & Company, Vienna; Managing Partner of Ernst & Young Consulting Austria) as well as management positions within the industry like American Cyanamid, Lederle; Deutsche Lufthansa AG, and OMV Group.  Since joining Capgemini Michael has been leading the Energy & Utilities sector for Austria/Eastern Europe. ","sub":"Meghan Marks is the Director of Global Marketing for the eMeter business in Siemens Smart Grid."},{"name":"John Peters","position":"Co-founder and the Managing Director of Engage Consulting Limited","email":"John Peters is a co-founder and the Managing Director of Engage Consulting Limited and is an energy industry expert with a career spanning over 30 years. He has performed a wide range of roles since starting as an indentured apprentice with Seeboard; these include operational, strategic and advisory roles for key utilities companies, market operators, agents and regulators.","sub":"Meghan Marks is the Director of Global Marketing for the eMeter business in Siemens Smart Grid."},{"name":"Dr Philip E. Lewis","position":"CEO and Founder, VaasaETT","email":"Dr Lewis is a World leading expert in customer behaviour, psychology & value, and related smart energy, marketing, service and competition issues in the energy utilities (electricity and gas) market globally. During 17 years in the liberalized utilities industry Dr Lewis has conducted research and strategic support in over 60 countries in five continents for a diverse array of over 500 organizations (utilities, governments, regulators and other stakeholders).","sub":"Meghan Marks is the Director of Global Marketing for the eMeter business in Siemens Smart Grid."},{"name":"Mary Morgan McAuliffe","position":"Director of Global Marketing","email":"Mary Morgan McAuliffe is the Worldwide Marketing Communications Manager for the Smart Grid Solutions business at Texas Instruments (TI), based in Dallas, Texas. She has supported TI’s global smart meter /smart grid marketing programs for over seven years, with broader communications responsibilities across many of TI’s Industrial Solutions portfolios. Texas Instruments is a global semiconductor giant that has shipped millions of energy meter ICs over the past decade as a leading systems provider.","sub":"Meghan Marks is the Director of Global Marketing for the eMeter business in Siemens Smart Grid."}]}]}






//- FOOT

- var foot = {"columns":[{"title":"News","links":["Europe and UK","North America","Asia","Afirca and Middle East","Australia and New Zealand","Central and Latin America"]},{"title":"Features","links":["Industry Insights","How-to Guides","Engerati's Week in Smart Energy"]},{"title":"Magazines","links":["Latest Issue","Back Issue"]},{"title":"Reports","links":["Free White Paper","Industry Reports","Special Reports"]},{"title":"Tenders","links":["Free Tenders","Tender Library"]},{"title":"Multimedia","links":["Video","Audio","Webinar Archive"]},{"title":"Events","links":["MSEI Events","Partner Events","Training Academy"]},{"title":"Partners","links":["View Partners","Become a Partner"]}],"bottomLinks":["Terms of Use","Privacy Policy","Sitemap","About Us","Advisory Board","Association Partners","Contact"],"socialMedia":[{"icon":"facebook","link":null},{"icon":"google","link":null},{"icon":"linkedin","link":null},{"icon":"rss","link":null},{"icon":"twitter","link":null},{"icon":"youtube","link":null}]}









//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-                  s                                                           //
//-                           s           s                      d                 //
//-                                                             k                //
//-                             f                                                //
//-                                                                             //
//-                                       █               d                      //
//-                                       █  x                                   //
//-                                    █  █  █      x                            //
//-                                     █ █ █                                   //
//-                                      ███                  ss                  //
//-                           d            █                                     //
//-                                                                             //
//-                                                                             //
//-                                                           d                  //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


include ../#__static.jade

