
//- HEAD

- var head = {"static":{"topNav":[{"text":"About us","link":"*insert"},{"text":"Advertise","link":"*insert"},{"text":"Contact Us","link":"*insert"},{"text":"Register","link":"*insert"}],"mainNav":{"data":[{"text":"News","arrow":false,"link":"*insert","active":false},{"text":"Features","arrow":false,"link":"*insert","active":false},{"text":"Magazine","arrow":true,"link":"*insert","active":false},{"text":"Reports","arrow":false,"link":"*insert","active":false},{"text":"Tenders","arrow":false,"link":"*insert","active":false},{"text":"Multimedia","arrow":false,"link":"*insert","active":false},{"text":"Event","arrow":false,"link":"*insert","active":false},{"text":"Partners","arrow":false,"link":"*insert","active":false}],"homepage":true},"secondaryNav":[{"text":"Smart Meters","link":"*insert","lines":1},{"text":"Smart Grid","link":"*insert","lines":1},{"text":"Smart Energy","link":"*insert","active":false,"lines":1},{"text":"M2M","link":"*insert","lines":1},{"text":"Data & Analytics","link":"*insert","lines":1},{"text":"IOT","link":"*insert","lines":1}]},"dynamic":{"page":{"signin":true,"account":"John Smith"},"adverts":{"leaderboard":{"desktop":"Community_968x100.jpg","tablet":"Community_680x100.jpg","color":"#017795"},"superbanner":"*insert"},"magazine":{"image":"*insert","articles":[{"text":"Praesent nonummy mi in odio","link":"*insert"},{"text":"Aenean leo ligula porttitor eu","link":"*insert"},{"text":"Praesent ut ligula non mi","link":"*insert"},{"text":"Praesent venenatis metus at tortor","link":"*insert"}]}}}








//- ARTICLE

- var article = {"heading1":"How to apply for a tender","subheading1":"Bidding for tenders can help you to win large orders but the process can be time consuming, costly and tie up valuable resources. Before you begin, use this document as a guideline to weigh up whether a tender is right for your business and if so, how to win it.","list":[{"heading":"Choosing the right tender","text":"<p>The bi-monthly Metering & Smart Energy International magazine is a trusted and relied upon source of in-depth industry insight and analysis. Our journalists and contributors are prominent in the market and are respected for understanding the on-point issues facing utilities, energy providers and technology developers.</p>\r\n\r\n<p>As a reader, every issue gives brings you closer to the forces shaping the market - whether it is new technology, regulatory change or milestone projects.<p>\r\n\r\n<p>Want to advertise with us and tap into our database of 100,000 energy professionals? Download our <a href=\"#\">Media Kit now</a>.</p>"},{"heading":"How to manage your bid","text":"<p>To decide if a tender is right for your business, after reading the bid/RFP documents, ask yourself:\r\n</p>\r\n<ul>\r\n<li>Can you match the skill and experience requirements?\r\n</li><li>What are the costs involved versus the potential earnings?\r\n</li><li>Would the work fit into your business strategy and positioning?\r\n</li><li>How will the contract affect other work, staffing and ability to take on new business?\r\n</li><li>What does the client want? If you have queries contact them, which also helps to build a rapport before the tender document is submitted, or attend the pre-bid meetings to clarify any queries.\r\n</li></ul>"},{"heading":"How to write a winning tender","text":"<p style=\"margin-top: 40px\"><strong>Ensure that you match the tender specification.\r\n</strong></p>\r\n<p>Talk about the client’s needs and how you can contribute, proving that you have the skills and experience to fulfil the clients requirements. Summarise your work, past experience and credentials for the proposed tender. Prepare the bid bond/bid security/earnest money deposit that you may need to submit with your bid.\r\n</p>\r\n<p style=\"margin-top: 40px\"><strong>Explain how you will manage the project.\r\n</strong></p>\r\n<p>Outline how your company will carry out the work clarifying when and how the client’s aims will be achieved. Provide a timetable of when services will be delivered. Give details of your pricing. Be practical - identify potential problems. Sometimes a site visit is conducted by the tendering authorities, so make sure your submission matches the reality at your business.\r\n</p>\r\n<p style=\"margin-top: 40px\"><strong>Make your application stand out.\r\n</strong></p>\r\n<p>Help the client by coming up with ideas but consider protecting your company intelligence by including a non-disclosure agreement. Give details of your team, emphasise strengths. Highlight successes with similar projects as well as qualifications and experience.\r\n</p>\r\n<p style=\"margin-top: 40px\"><strong>Pay attention to look and feel.\r\n</strong></p>\r\n<p>Spend time working on the format. Decide on a typeface, layout and type size – stick to this format throughout the entire document. Use appendices for supporting documentation and include a contents page.\r\n</p>\r\n<p>Number paragraphs so material can be easily located. Check the documents, get a colleague to read through it for meaning, typing errors and omissions.\r\n</p>\r\n<p>Include a covering letter that responds to the bid invitation which emphasises your main message and explains the document order.\r\n</p>\r\n<p style=\"margin-top: 40px\"><strong>Meet the deadline.\r\n</strong></p>\r\n<p>\r\nEnsure that your tender is delivered on time and in the manner outlined by the tendering authority. Late submissions are not usually considered.\r\n</p><p>\r\nTry to attend the bid opening session conducted after submission as sometimes the tendering authority will disclose the prices offered by all participants and whether they have considered their bids or disqualified any of the participants.</p>"},{"heading":"Stay in touch","text":"<p>Follow up with the tendering authorities until the result is made public.\r\n</p>\r\n<p>If you were unsuccessful, try to get back the bid bond/bid security/earnest money deposit if it is refundable.\r\n</p>\r\n<p>If you are a winning bidder, the tendering authority may further negotiate and award the contract. You may now be asked to provide evidence of your performance bond and execute the contract.\r\n</p>\r\n<p><i>While every care is taken to ensure the accuracy of this information, Metering.com recommends that users exercise their own skill and care with respect to its use. Metering.com makes no warranty or undertaking, whether expressed or implied, nor does it assume any legal liability.\r\n</i></p>"},{"heading":"Subscribe to tenders service","text":"<p>Metering & Smart Energy International has partnered with a global tenders information provider to help move your business forward.\r\n</p>\r\n<p>Through our <a href=\"#\">Tender Subscription Service</a>, we offer a database of opportunities for the electric, gas and water meter markets as well as smart grid.\r\n</p>\r\n<p>By buying an annual subscription, you will have access to tender notices in every major metering and smart grid market in the world.\r\n</p>"}],"textBlock":"asdd","blockHeader":"Tender Process","includes":{"about":null,"advertise":null},"listHeader":null,"listIntro":null,"tableHeader":"Contact Our Team","table":null}
















//- FOOT

- var foot = {"columns":[{"title":"News","links":["Europe and UK","North America","Asia","Afirca and Middle East","Australia and New Zealand","Central and Latin America"]},{"title":"Features","links":["Industry Insights","How-to Guides","Engerati's Week in Smart Energy"]},{"title":"Magazines","links":["Latest Issue","Back Issue"]},{"title":"Reports","links":["Free White Paper","Industry Reports","Special Reports"]},{"title":"Tenders","links":["Free Tenders","Tender Library"]},{"title":"Multimedia","links":["Video","Audio","Webinar Archive"]},{"title":"Events","links":["MSEI Events","Partner Events","Training Academy"]},{"title":"Partners","links":["View Partners","Become a Partner"]}],"bottomLinks":["Terms of Use","Privacy Policy","Sitemap","About Us","Advisory Board","Association Partners","Contact"],"socialMedia":[{"icon":"facebook","link":null},{"icon":"google","link":null},{"icon":"linkedin","link":null},{"icon":"rss","link":null},{"icon":"twitter","link":null},{"icon":"youtube","link":null}]}









//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-                  s                                                           //
//-                           s           s                      d                 //
//-                                                             k                //
//-                             f                                                //
//-                                                                             //
//-                                       █               d                      //
//-                                       █  x                                   //
//-                                    █  █  █      x                            //
//-                                     █ █ █                                   //
//-                                      ███                  ss                  //
//-                           d            █                                     //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


include ../#__static.jade

