|<!doctype html>

|<html>
|<head>
|<meta name="viewport" content="width=device-width" />
script(src="https://cdn.rawgit.com/scottjehl/picturefill/master/dist/picturefill.min.js" async)
script
    |document.createElement( "picture" );
link(rel="stylesheet" type="text/css" href="css/stylesheet.css")
link(rel="stylesheet" type="text/css" href="js/libraries/fancybox/stylesheet.css")
|<meta charset="utf-8">
|</head>
|<body>

//if lte IE 9
  #Notifications-bg.u-fixed
  #Notifications-main.u-absolute
    #Notifications-centre.Notifications-centre--IE
      #Notifications-container
        #Notifications-logo
          img#Notifications-image(src='img/logoRed.png')
        #Notification-box
          #Notifications-title PLEASE UPDATE INTERNET EXPLORER
          #Notifications-text
            | Internet Explorer is outdated. In order to visit Metering.com you require at least Internet Explorer 8. Please upgrade to a
            a(href='#') newer version of Internet Explorer
            |  or
            a(href='#') install another web browser
            | .
        #Notifications-social
          #Notifications-socialPrompt Contact and connect with us
          #Notifications-socialIcons
            .O__socialLinkList--head-main.u-cf
              .O__socialLinkList-item.u-floatLeft
                a.u-noUnderline(href='#')
                  .M__socialLinkButton-main
                    .M__socialLinkButton-circle
                      .M__socialLinkButton-container
                        .M__socialLinkButton-icon.icon-facebookBlack
              .O__socialLinkList-item.u-floatLeft
                a.u-noUnderline(href='#')
                  .M__socialLinkButton-main
                    .M__socialLinkButton-circle
                      .M__socialLinkButton-container
                        .M__socialLinkButton-icon.icon-googleBlack
              .O__socialLinkList-item.u-floatLeft
                a.u-noUnderline(href='#')
                  .M__socialLinkButton-main
                    .M__socialLinkButton-circle
                      .M__socialLinkButton-container
                        .M__socialLinkButton-icon.icon-linkedinBlack
              .O__socialLinkList-item.u-floatLeft
                a.u-noUnderline(href='#')
                  .M__socialLinkButton-main
                    .M__socialLinkButton-circle
                      .M__socialLinkButton-container
                        .M__socialLinkButton-icon.icon-rssBlack
              .O__socialLinkList-item.u-floatLeft
                a.u-noUnderline(href='#')
                  .M__socialLinkButton-main
                    .M__socialLinkButton-circle
                      .M__socialLinkButton-container
                        .M__socialLinkButton-icon.icon-twitterBlack
              .O__socialLinkList-item.u-floatLeft
                a.u-noUnderline(href='#')
                  .M__socialLinkButton-main
                    .M__socialLinkButton-circle
                      .M__socialLinkButton-container
                        .M__socialLinkButton-icon.icon-youtubeBlack






//- Head & Menu
#__head-main
    //-/// HEAD: LEADBOARD
    #__leaderboard-main
        #__leaderboard-centre
            +M__leaderboardAdvert
    //-/// HEAD: TOP NAV
    #__topNav-main
        #__topNav-centre.u-cf
            #__topNav-container
                #__topNav-col1.u-floatLeft.u-cf
                    #__topNav-col1-col1.u-floatLeft
                        +O__topNav
                    #__topNav-col1-col2.u-floatLeft
                        +M__login
                #__topNav-col2.u-floatRight
                    +O__socialLinkList
    //-/// HEAD: MENU CONTENT
    #__menuContent-main
        #__menuContent-centre.u-cf
            #__menuContent-col0.u-floatLeft
                +A__textMSEI
            #__menuContent-col1.u-floatLeft
                +A__logo
            #__menuContent-col2.u-floatRight
                +A__smallSuperbannerAdvert
     //-/// HEAD: MAIN NAV
    #__mainNav-main
        #__mainNav-centre.u-cf
            #__mainNav-col0.u-floatLeft
                +O__mainNavList--mobile
            #__mainNav-col1.u-floatLeft
                +O__mainNavList
            #__mainNav-col2.u-floatRight
                +M__mainNavsearch

    //-/// HEAD: SEARCH
    #__menuSearch-main
        #__menuSearch-centre.u-cf
            #__menuSearch-item.u-floatRight
                +M__Search


    //-/// HEAD: MAGAZINE
    #__menuMagazine-main
        #__menuMagazine-centre
            +O__magazinePreview



    //-/// HEAD: SECONDARY NAV
    #__secondaryNav-main.is-activated
        #__secondaryNav-centre
            +O__secondaryNavList
