p Ofgem is proposing to observe services using its Social Obligations Reporting, a key part of the watchdog's work to protect consumer interests, Metering has learnt. As part of their licence conditions, energy suppliers are required to provide Ofgem with information on their performance in relation to their social obligations.

p This includes information relevant to dealings with domestic customers about payment methods, levels of debt and disconnection rates. The energy regulator is also proposing that prepayment consumers are able to switch to credit mode when changing suppliers to avoid disconnection.</p>

h3 Smart prepayment in UK

p On a related note, UK energy supplier EON in early May offered its 30,000 existing customers the chance to switch from prepaid meters to smart meters to reduce electricity costs.

p E.ON's Smart Pay As You Go scheme will offer households with prepaid meters the same tariffs as post-paid households, which it claims makes bills GBP67 cheaper on average than its closest prepayment competitor, reported Metering.com.


+M__pullQuote('European regulators must recognise the electricity market value-chain paradigm is no fit for purpose')

p  E.ON customers will be able to top up using a mobile device app, online or over the phone, rather than paying cash at their local shop. On a related note, UK energy supplier EON in early May offered its 30,000 existing customers the chance to switch from prepaid meters to smart meters to reduce electricity costs.

p E.ON's Smart Pay As You Go scheme will offer households with prepaid meters the same tariffs as post-paid households, which it claims makes bills GBP67 cheaper on average than its closest prepayment competitor, reported Metering.com.

.M__contentVideo-main
    |<style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='http://www.youtube.com/embed/QILiHiTD3uc' frameborder='0' allowfullscreen></iframe></div>
    

p The document states: "The trending analysis over the past twelve months shows that the pattern of line disturbances and outages are closely related, giving more proof that monitoring line disturbances as a precursor to outages should become an industry standard." And as found in previous reports, most events occur in the summer months then drop off dramatically in October, with a slight uptick in the winter during the months of November and December.

h3 Smart prepayment in UK

p The 3.0 version of the NIST smart grid standards released in September 2014 views smart grids as 'cyber-physical systems' - hybridized systems that combine computer-based communication, control, and command with physical equipment to yield improved performance, reliability, resiliency, and user and producer awareness.


//- +--ArticleImage("Finnish consultancy Poyry recommends heavily involving TSOs and DSOs in formulating regulatory policy to govern Europe's electricity markets", 'inline.jpg')

+M__shortcodeBox-main('Dr Ebrahim Vaahedi, chair of the IEEE Smart Grid Publications Committee and senior director at Open Access Technology International, said the smart grid domains and sub-domains allow smart grid contributions and activities to be combined into specific areas for better understanding of the activities and their correlations. Mr Vaahedi said: “Introducing these IEEE Smart Grid Domains and Sub-domains provides a new and fresh way of looking at all things smart grid."')

p The document states: "The trending analysis over the past twelve months shows that the pattern of line disturbances and outages are closely related, giving more proof that monitoring line disturbances as a precursor to outages should become an industry standard." And as found in previous reports, most events occur in the summer months then drop off dramatically in October, with a slight uptick in the winter during the months of November and December. The data also shows a large spike in events of all types in March due to several ice storms that impacted a large section of North America.