
/*

//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    MOLECULE                                                                 //
//-   ---------------                                                           //
//-    CLOSE BUTTON                                                             //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


.M__closeButton-main {
    padding: 25px;
    background: #adadad;
    border-radius: 35px;
    color: black;
    text-transform: uppercase;
    font: 700 24px "Roboto Condensed"
}
.M__closeButton-main:hover {
    background: red;
    color: white;
}
.M__closeButton-main:hover .M__closeButton-col1 {
    @extend .icon-closeWhite
}
.M__closeButton-col1 {
    margin-top: 2px;
}
.M__closeButton-col2 {
    padding-left: 10px;
}

*/

// - ^ DEPRECATED


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    MOLECULE                                                                 //
//-   ---------------                                                           //
//-    EMBEDDED IN CONTENT YOUTUBE VIDEO                                        //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


.M__contentVideo-main {
    margin: 30px 0;
    text-align: center;
}



//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    MOLECULE                                                                 //
//-   ---------------                                                           //
//-    MAGAZINE READ ONLINE PROMPT BUTTON                                       //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


.M__magazineReadPrompt-main {
    background: red;
    color: white;
    padding: 10px 20px;
    display: table;
    margin: 0 auto;
    text-transform: uppercase;
    font: 700 16px "Roboto Condensed";
    letter-spacing: 1px;
}
.M__magazineReadPrompt-main:hover {
    background: #cdcdcd;
    color: black;
}


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    MOLECULE                                                                 //
//-   ---------------                                                           //
//-    TEXT LIST OF FILES FOR DOWNLOAD WITH A PREPENDING LABEL                  //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


.M__labeledLinkItem-main--noLinks {
   margin-bottom: 15px;
    color: black;

}

.M__labeledLinkItem-main {
    margin-bottom: 15px;
    color: black;
    &:hover {
        color: red;
    }
}
.M__labeledLinkItem-main:hover .M__labeledLinkItem-labelContainer .M__labeledLinkItem-label {
    background: red;
}
.M__labeledLinkItem-labelContainer {
    vertical-align: middle;
}
.M__labeledLinkItem-label {
    padding: 8px 10px;
    background: #555555;
    text-transform: uppercase;
    color: white;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
}
.M__labeledLinkItem-title {
    padding-left: 10px;
    vertical-align: middle;
    font-weight: 700;
}
.M__labeledLinkItem-label--presentation {
    background: #888888;
    ;
}


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    MOLECULE                                                                 //
//-   ---------------                                                           //
//-    MAGAZINE SHOWCASE QUOTE COMPONENT                                        //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


.M__quote-row2 {
    padding: 10px 0
}
.M__quote-text {
    font-weight: 700;
    font-size: 20px;
    color: red;
}
.M_quote-source {
    font-size: 13px;
    color: red;
    font-weight: 700;
    text-transform: uppercase;
}

.M_quote-source--grey {color: #aaa;}

.M__quote-text--grey {color: #aaa;}

//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    MOLECULE                                                                 //
//-   ---------------                                                           //
//-    MAGAZINE HOMEPAGE PREVIEW BUTTON (CURRENT ISSUE / ARCHIVE)               //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


.M__magazinePreviewButton-main {
    background: red;
    color: white;
    text-transform: uppercase;
    font: 700 13px "Roboto Condensed";
    padding: 5px 10px;
    letter-spacing: 1px;
    margin-right: 10px;
}
.M__magazinePreviewButton-main--grey {
    background: grey;
}
.M__magazinePreviewButton-main:hover {
    background: #aaa;
}
@include tablet {
    .M__magazinePreviewButton-main {
        padding: 30px 20px;
    }
}


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    MOLECULE                                                                 //
//-   ---------------                                                           //
//-    MAGAZINE PREVIEW ARTICLES LINKS - TEXT LIST                              //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


.M__magazinePreviewArticle-main {
    font: 700 16px "Roboto";
    color: black;
    border-top: 1px solid #aaa;
    padding: 10px 0;
    &:hover {
        background: #aaa;
    }
}


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    MOLECULE                                                                 //
//-   ---------------                                                           //
//-    GLOBAL CONTENT THUMBNAIL COMPONENT                                       //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


.M__contentThumb-prompt {
    text-transform: uppercase;
    border: 1px solid white;
    border-radius: 20px;
    margin-top: 10px;
    font-size: 700;
    font: 700 13px "Roboto";
}
.M__contentThumb-main {
    color: white;
    margin-bottom: 18px;
    transition: all 1s ease-in-out;
}
.M__contentThumb-container.u-relative {
    width: 100%;
    height: 200px;
    overflow: hidden;
}
img.M__contentThumb-imageu.u-absolute {
    left: -1000%;
    right: -1000%;
    top: -1000%;
    bottom: -1000%;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
}
.M__contentThumb-showcase {
    margin-top: 15px;
    display: none;
    text-transform: uppercase;
    font-weight: 700;
}
.M__contentThumb-container.u-absolute {
    text-align: left;
    width: 100%;
    bottom: 0;
}
.M__contentThumb-label {
    padding: 5px 15px 5px 10px;
    background: red;
}
.M__contentThumb-overlay {
    padding: 0 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    height: 100px;
    width: 100%;
    padding-bottom: 20px;
}
.M__contentThumb-mediaPlay {
    vertical-align: middle;
    width: 70px;
}
.M__contentThumb-title {
    font-weight: 700;
    margin-top: 20px;
}
.M__contentThumb-date {
    font-size: 13px;
    color: #ccc;
    margin-top: 10px;
}
.M__contentThumb-subheading {
    display: none;
}
.M__contentThumb-prompt {
    height: 0;
    width: 102px;
    padding: 0 0 0 10px;
    overflow: hidden;
    transition: all 0.5s ease;
    opacity: 0;
    margin-top: 20px
}
.M__contentThumb-main:hover .M__contentThumb-container .M__contentThumb-overlay .M__contentThumb-row .M__contentThumb-content .M__contentThumb-prompt {
    height: 30px;
    padding: 5px 0 0 10px;
    transition: all 0.3s ease;
    opacity: 1;
}
@include mobile {
    .M__contentThumb-main {
        height: 300px;
    }
    .M__contentThumb-container.u-relative {
        height: 300px;
    }
}


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    MOLECULE                                                                 //
//-   ---------------                                                           //
//-    MAGAZINE 3D MOCKUP TRANSFORM PREVIEW IMAGE                               //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


.M__magazineMockup-main {
    background: #e5e5e5;
    width: 100%;
    height: 250px;
    display: table;
}
.M__magazineMockup-centre {
    position: relative;
    width: 310px;
    height: 215px;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 15px;
}
.M__magazineMockup-background {
    position: absolute;
    top: 8px;
    left: -2;
}
.M__magazineMockup-imageContainer {
    width: 141px;
    height: 310px;
    perspective: 900px;
    position: absolute;
}
.M__magazineMockup-image {
    width: 200px;
    height: 250px;
    margin-left: 51px;
    margin-top: -32px;
    opacity: 1;
    transform: rotateY(33deg) rotateZ(-20deg) rotateX(52deg);
    -webkit-backface-visibility: hidden;
}
.M__largeSkyscraperAdvert-image--mobile {
    width: 100%
}

//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    MOLECULE                                                                 //
//-   ---------------                                                           //
//-    LARGE SKYSCRAPER ADVERTISEMENT BANNER                                    //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


.M__largeSkyscraperAdvert-main {
    border: 1px solid #cdcdcd;
    background: #eeeeee;
    padding: 30px 0;
}
.M__largeSkyscraperAdvert-title {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    color: #a5a5a5;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 10px;
}
.M__largeSkyscraperAdvert-container {
    display: table;
    margin: 0 auto;
}
@include tablet {
    .M__largeSkyscraperAdvert-title {
        font-size: 10px;
    }
}

.M__largeSkyscraperAdvert-main {
    border: 1px solid #cdcdcd;
    background: #eeeeee;
    padding: 30px 0;
}





//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    MOLECULE                                                                 //
//-   ---------------                                                           //
//-    DEFAULT SECTION HEADING                                                  //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


.M__heading-main {
    border-bottom: solid 8px black;
    font-family: "Roboto Condensed";
    font-weight: 700;
    text-transform: uppercase;
}
.M__heading-title {
    background: #ed1b25;
    font-size: 26px;
    color: white;
    padding: 10px 20px 0 20px;
    height: 50px;
}


.M__heading-prompt--noLinks{


  background: #efefef;
    color: black;
    font-size: 16px;
    padding: 16px 20px 0 20px;
    height: 50px;

}


.M__heading-prompt {
    background: #efefef;
    color: black;
    font-size: 16px;
    padding: 16px 20px 0 20px;
    height: 50px;
    &:hover {
        background: #cdcdcd;
        color: white;
        & .icon-arrow {
            @extend .icon-arrowWhite
        }
    }
}
.M__heading-arrow {
    margin-top: 1px;
    margin-left: 12px;
}
@include tablet {
    .M__heading-title {
        padding: 20px 15px 0 15px;
        height: 70px;
    }
    .M__heading-prompt {
        padding: 28px 15px 0 15px;
        height: 70px;
    }
    @include mobile {
        .M__heading-prompt {
            float: none;
        }
    }
    .M__heading-arrow {
        margin-top: 2px;
    }
}
@include mobile {
    .M__heading-title {
        float: none;
        height: 100%;
        padding-bottom: 20px;
        text-align: center;
    }
    .M__heading-main {
        width: 100%;
    }
    .M__heading-promptContainer {
        display: table;
        margin: 0 auto;
    }
}


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    MOLECULE                                                                 //
//-   ---------------                                                           //
//-    CATEGORY PAGE INTRODUCTION SECTION CONTENT/DROPDOWN BUTTON               //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


.M__contentButton-main {
    width: 100%;
    padding: 11px;
    font: 700 16px "Roboto Condensed";
    text-transform: uppercase;
    background: #eee;
    border: none;
    color: black;
    cursor: pointer;
    &:hover {
        background: #b8b8b8;
    }
}
.M__contentButton-main{
    width: 100%;
    border-bottom: 2px solid white;
}
.M__contentButton-main--pagination {
    text-align: center;
}
@include mobile {
    .M__contentButton-main {
        height: 100px;
    }
}

.M__contentButton-main--button {padding-left: 14px;}


@include tablet {.M__contentButton-main{padding-top:30px;padding-bottom:30px;}}

//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    MOLECULE                                                                 //
//-   ---------------                                                           //
//-    CONTENT ARTICLE FEATURED IMAGE                                           //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


.M__featuredImage-container {
    width: 100%;
    text-align: center;
    overflow: hidden;
    height: 430px;
    color: white;
    margin-bottom: 18px;
}
.M__featuredImage-image {
    left: -1000%;
    right: -1000%;
    top: -1000%;
    bottom: -1000%;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
}
.M__featuredImage-label {
    background: red;
    bottom: 0;
    padding: 5px 15px 5px 10px;
    color: white;
    background: red;
    margin-left: 29%;
}
@include laptop {
    .M__featuredImage-image {
        height: 100%;
    }
    .M__featuredImage-container {
        height: 680px;
    }
}
@include tablet {
    .M__featuredImage-container {
        height: 691px;
    }
}
@include mobile {
    .M__featuredImage-container {
        height: 300px;
    }
    .M__featuredImage-label {
        margin-left: 0;
    }
}


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    MOLECULE                                                                 //
//-   ---------------                                                           //
//-    TOP NAVIGATION MENU BUTTON                                               //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


.M__topNavButton-container {
    border-right: 1px solid #777;
    padding: 0 15px;
    margin: 15px 0;
}

.M__topNavButton-main {
    font-size: 13px;
    color: #cccccc;
    height: 100%;
    &:hover {
        color: #ed1b25;
    }
}


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    MOLECULE                                                                 //
//-   ---------------                                                           //
//-    INSIDE ARTICLE SOCIAL SHARE BUTTON                                       //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


.M__socialShareButton-container {
    padding: 7px 4px;
    border-bottom: 1px solid #cdcdcd;
    color: #999999;
    &:hover .M__socialShareButton-container {
        background: #b8b8b8;
        color: white
    }
}
.M__socialShareButton-main {
    &:hover .M__socialShareButton-container {
        background: #b8b8b8;
        color: white
    }
    &:hover .icon-facebookShare {
        @extend .icon-facebookShareWhite;
    }
    &:hover .icon-twitterShare {
        @extend .icon-twitterShareWhite;
    }
    &:hover .icon-googleShare {
        @extend .icon-googleShareWhite;
    }
    &:hover .icon-linkedinShare {
        @extend .icon-linkedShareWhite;
    }
    &:hover .icon-commentShare {
        @extend .icon-commentShareWhite;
    }
    &:hover .icon-emailShare {
        @extend .icon-emailShareWhite;
    }
}
.M__socialShareButton-text {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    padding: 8px 0 8px 10px;
}
@include tablet {
    .M__socialShareButton-main {
        width: 16.6%;
        border-bottom: 0;
        float: left;
    }
    .M__socialShareButton-container {
        background: #eee;
        padding: 20px;
        height: 90px;
        margin-right: 20px;
        border-radius: 10px;
    }
    .M__socialShareButton-icon {
        float: none;
        margin: 14px auto;
        display: table;
    }
    .M__socialShareButton-text {
        float: none;
        text-align: center;
        padding-left: 0;
    }
    .M__socialShareButton-text {
        display: none;
    }
}
@include tablet {
    .M__socialShareButton-container {
        height: 95px;
    }
}
@include mobile {
    .M__socialShareButton-main {
        width: 50%;
        margin-bottom: 20px;
    }
}
@include mobile {
    .M__socialShareButton-container {
        margin-right: 5px;
        margin-left: 5px
    }
}

//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    MOLECULE                                                                 //
//-   ---------------                                                           //
//-    GLOBAL TEXT BUTTON COMPONENT                                             //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


.M__textPrompt-main {
    border: 1px solid #cdcdcd;
    color: black;
}
.M__textPrompt-col1--report {
    width: 100%;
}
.M__textPrompt-row2 {
    color: black;
    &:hover {
        background: #b8b8b8;
        color: white;
    }
    &:hover .icon-arrow {
        @extend .icon-arrowWhite
    }
}
.M__textPrompt-col1-row1 {
    font-weight: 700;
    font-family: "Roboto Condensed";
}
.M__textPrompt-col1-row2 {
    font-size: 14px;
    margin-top: 3px;
}
.M__textPrompt-field {
    color: red;
    margin-right: 5px;
}
.M__textPrompt-data {
    margin-right: 7px;
    color: black;
}
.M__textPrompt-main {
    width: 100%;
}
.M__textPrompt-col2 {
    width: 20px;
    vertical-align: middle;
}
.M__textPrompt-col1 {
    width: auto;
}
.M__textPrompt-titleBar {
    background: #eeeeee;
    padding: 10px 12px;
    font: 700 16px "Roboto Condensed";
    text-transform: uppercase;
}
.M__textPrompt-row2 {
    padding: 15px;
}
.M__textPrompt-container {
    width: 100%;
}
.M__textPrompt-row1 {
    font: 700 16px "Roboto Condensed";
    padding: 15px;
    background: #eeeeee;
}
.M__textPrompt-label {
    text-align: center;
}
.M__textPrompt-row2--blue {
    background: #06c4f7;
    border: 0;
    color: white;

}
.M__textPrompt-main--report {
    border-top: 1px solid #cdcdcd;
    color: red;
    font-weight: 700;
    padding: 20px;
    &:hover {
        background: #bbb;
        color: white;
        & .M__textPrompt-label .M__textPrompt-labelContent {
            background: white;
            color: #bbb;
        }
    }
}
.M__textPrompt-text {
    vertical-align: middle;
    padding: 0 20px 0 20px;
    font: 700 16px Roboto;
    width: 100%;
}
.M__textPrompt-label {
    width: 100px;
    vertical-align: middle;
}
.M__textPrompt-labelContent {
    background: #222222;
    color: white;
    padding: 5px 10px;
    width: 100px;
}
.M__textPrompt-arrow {
    vertical-align: middle;
}
.M__textPrompt-main--report:hover .M__textPrompt-col1--report .M__textPrompt-col1-row1 .M__textPrompt-arrow .M__textPrompt-arrowContent {
    @extend .icon-arrowWhite
}


.M__textPrompt-main--report:hover .M__textPrompt-col1--report .M__textPrompt-col1-row0  {
    color: white
}


.M__textPrompt-col1-row0 {
    display: none !important; color: lightgrey;
}
@include tablet {
    .M__textPrompt-container {
        height: 80px;
        padding: 0 10px 0 10px;
    }
    .M__textPrompt-col1 {
        padding-top: 28px
    }
}
@include mobile {
    .M__textPrompt-col1-row0 {
        text-align: center;
        text-transform: uppercase;
        display: block !important;
    }
    .M__textPrompt-label {
        display: none !important;
    }
    .M__textPrompt-arrow {
        display: none !important;
    }
    .M__textPrompt-text.u-tableCell {
        padding: 0;
        padding-top: 10px;
    }
}


.O__textPrompt-row2--tender {padding: 10px !important;}
.O__textPrompt-tenderData {padding: 5px 0;}

.M__textPrompt-text--blue {color: white; text-transform: uppercase; padding: 0px}

.M__textPrompt-text--otherTender {text-transform: uppercase !important; margin-bottom: 2px;}
.M__textPrompt-col2-row1 {margin-left: 20px;}


.M__textPrompt-container--otherTender{ padding: 10px 0;}
.M__textPrompt-deadline--otherTenders {margin-left: 10px;}
.M__textPrompt-container-main--otherTenders {color: black;
    &:hover {background: #bbb; color: white;
    }

}

.M__textPrompt-container-main--otherTenders:hover .M__textPrompt-container .M__textPrompt-row .M__textPrompt-col1 .M__textPrompt-col2-row1 .M__textPrompt-location .M__textPrompt-field {color: white;}

.M__textPrompt-container-main--otherTenders:hover .M__textPrompt-container .M__textPrompt-row .M__textPrompt-col1 .M__textPrompt-col2-row1 .M__textPrompt-location .M__textPrompt-data {color: white;}

.M__textPrompt-container-main--otherTenders:hover .M__textPrompt-container .M__textPrompt-row .M__textPrompt-col1 .M__textPrompt-col2-row1 .M__textPrompt-deadline .M__textPrompt-field {color: white;}

.M__textPrompt-container-main--otherTenders:hover .M__textPrompt-container .M__textPrompt-row .M__textPrompt-col1 .M__textPrompt-col2-row1 .M__textPrompt-deadline .M__textPrompt-data {color: white;}

.M__textPrompt-container-main--otherTenders:hover .M__textPrompt-container .M__textPrompt-row .M__textPrompt-col2 .M__textPrompt-arrow {@extend .icon-arrowWhite}

//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    MOLECULE                                                                 //
//-   ---------------                                                           //
//-    INSIDE CONTENT STYLED BOX DIV - SHORTCODE                                //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


.M__shortcodeBox-main {
    padding: 30px;
    background: #eeeeee;
    border: solid 1px #cdcdcd;
    margin: 30px 0;
    font-size: 18px;
    line-height: 26px;
}


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    MOLECULE                                                                 //
//-   ---------------                                                           //
//-    FOOT DISCLAIMER ADDITIONAL LINKS BUTTON ITEM                             //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


.M__disclaimerLink-main {
    padding: 0 0 0 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 13px;
}
.M__disclaimerLink-icon {
    padding-right: 10px;
}
.M__disclaimerLink-text {
    color: #ccc;
    &:hover {
        color: red;
    }
}
.M__disclaimerLink-dot {
    margin-top: 6px;
}
@include tablet {
    .M__disclaimerLink-dot--tabletHide {
        display: none;
    }
    .M__disclaimerLink-dot {
        display: none;
        text-align: center;
    }
}
@include mobile {
    .M__disclaimerLink-text {
        width: 100%;
        text-align: center
    }
    .M__disclaimerLink-main {
        padding: 0;
    }
}


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    MOLECULE                                                                 //
//-   ---------------                                                           //
//-    SECONDARY NAVIGATION MENU BUTTON ITEM                                    //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


.M__secondaryNavButton-container {
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    border-right: 1px solid #999999;
}
.M__secondaryNavButton-main {
    padding: 10px 0;
    color: black;
    height: 100%;
    &:hover {
        color: red;
    }
}
@include tablet {
    .M__secondaryNavButton-container {
        font-size: 13px;
        padding-top: 20px;
    }
    .M__secondaryNavButton-main {
        height: 80px;
    }
    .M__secondaryNavButton-container {
        height: 60px;
        vertical-align: middle;
    }
}


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    MOLECULE                                                                 //
//-   ---------------                                                           //
//-    ENTIRE SEARCH FUNCTIONALITY EMBEDDED INSIDE DROPDOWN MENU                //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


.M__Search-keywordContainer {
    width: 400px;
}
.M__Search-keyword {
    font-weight: 700;
    color: #999;
    height: 40px;
    padding: 0 10px;
    width: 100%;
}
.M__Search-categoryContainer {
    padding-left: 20px;
}
.M__Search-category {
    text-transform: uppercase;
    font-weight: 700;
    color: #999;
    height: 40px;
    padding: 0 10px;
    cursor: pointer;
    width: 100%;
}
.M__Search-buttonContainer {
    padding-left: 20px;
}
.M__Search-button {
    height: 40px;
    background: #ed1b25;
    color: white;
    border: none;
    text-transform: uppercase;
    font-family: "Roboto Condensed";
    font-weight: 700;
    &:hover {
        background: #777;
    }
}
@include tablet {
    .M__Search-button {
        padding-left: 32px;
        padding-right: 32px
    }
}
@include mobile {
    .M__Search-keywordContainer {
        float: none;
        width: 100%
    }
    .M__Search-categoryContainer {
        float: none;
        width: 100%
    }
    .M__Search-buttonContainer {
        float: none;
        width: 100%
    }
    .M__Search-keyword {
        width: 100%
    }
    .M__Search-category {
        width: 100%
    }
    .M__Search-button {
        width: 100%
    }
}
@include tablet {
    .M__Search-keywordContainer {
        width: 50%;
    }
    .M__Search-buttonContainer {
        width: 20%;
    }
    .M__Search-categoryContainer {
        width: 30%;
    }
    .M__Search-keyword {
        width: 100%;
        max-width: 100%;
    }
    .M__Search-button {
        width: 100%;
        max-width: 100%;
    }
    .M__Search-category {
        width: 100%;
        max-width: 100%;
    }
    .M__Search-keyword {
        height: 60px;
    }
    .M__Search-button {
        height: 60px;
    }
    .M__Search-category {
        height: 60px;
    }
    .M__Search-main {
        height: 100px;
    }
    .M__Search-button {
        padding: 0;
    }
}
@include mobile {
    .M__Search-keywordContainer {
        width: 100%; max-width: 100%;
    }
    .M__Search-categoryContainer {
        width: 100%;
        padding: 20px 0
    }
    .M__Search-buttonContainer {
        width: 100%;
        padding: 0
    }
    .M__Search-keyword {
        height: 90px;  width: 100% !important; max-width: 100% !important;
    }
    .M__Search-category {
        height: 90px;
    }
    .M__Search-button {
        height: 90px;
    }
}



//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    MOLECULE                                                                 //
//-   ---------------                                                           //
//-    SEARCH ICON INSIDE MAIN MENU NAVIGATION BAR                              //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


.M__mainNavsearch-main {
    border-left: 1px solid white;
    border-right: 1px solid white;
}
.M__mainNavsearch-container {
    border-bottom: 4px solid #aaaaaa;
    height: 50px;
    padding-top: 14px;
    &.is-activated {
        border-bottom: 4px solid #cdcdcd;
        background: #cdcdcd;
    }
    &:hover:not(.is-activated) {
        border-bottom: 4px solid red;
    }
}
.M__mainNavsearch-main {
    &:hover:not(.is-activated) {
        background: red;
    }
}
.M__mainNavsearch-icon {
    margin: 0 auto;
}
.M__mainNavsearch-main:hover .M__mainNavsearch-container:not(.is-activated) .M__mainNavsearch-icon {
    @extend .icon-searchWhite
}
.M__Search-keyword {
    max-width: 400px
}
.M__Search-button {
    padding: 0 40px;
}
@include tablet {
    .M__mainNavsearch-container {
        height: 100px;
    }
    .M__mainNavsearch-icon {
        margin-top: 22px;
    }
}


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    MOLECULE                                                                 //
//-   ---------------                                                           //
//-    INSIDE CONTENT PULL QUOTE - SHORTCODE                                    //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


.M__pullQuote-main {
    height: auto;
    background: white;
    font-family: "Roboto Condensed";
    font-weight: 700;
    padding: 5px 0;
    width: 240px;
}
.M__pullQuote-quote:hover .M__pullQuote-text {
    color: red;
}
.M__pullQuote-quote:hover .M__pullQuote-retweet {
    color: red;
}
.M__pullQuote-quote:hover .M__pullQuote-icon {
    @extend .icon-articleShareRed
}
.M__pullQuote-quote {
    border-left: 1px solid grey;
    padding-left: 20px;
    margin-left: 20px;
    margin-bottom: 40px;
}
.M__pullQuote-text {
    color: black;
    font-size: 20px;
}
.M__pullQuote-icon {
    margin-top: 10px;
    margin-right: 10px;
}
.M__pullQuote-retweet {
    margin-bottom: 12px;
    margin-top: 22px;
    color: grey;
    font-size: 12px;
    margin-left: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
@include tablet {
    .M__pullQuote-main {
        max-width: 300px;
        width: 100%;
    }
}
@include tablet {
    .M__pullQuote-main {
        max-width: 100%;
        margin: 30px 0;
        padding: 20px 0;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }
    .M__pullQuote-quote {
        margin: 0;
        padding: 0;
        border-left: 0;
    }
}
@include mobile {
    .M__pullQuote-main {
        margin: 50px 0
    }
}


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    MOLECULE                                                                 //
//-   ---------------                                                           //
//-    FOOT SITEMAP COLUMN ITEM                                                 //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


.M__footColumn-main {
    padding-left: 20px;
}
.M__footColumn-link {
    margin-bottom: 13px;
    color: #ccc;
    font-size: 13px;
    &:hover {color: red;}
}

.M__footColumn-heading {
    font: 700 16px "Roboto Condensed";
    text-transform: uppercase;
    color: white;
    margin-bottom: 15px;
    color: #ccc;
    &:hover {color: red;}
}


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    MOLECULE                                                                 //
//-   ---------------                                                           //
//-    SOCIAL LINK ICON BUTTON (HEADER / FOOTER)                                //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////



.M__socialLinkButton-icon.icon-facebook:hover {
    @extend .icon-facebookRed
}
.M__socialLinkButton-icon.icon-twitter:hover {
    @extend .icon-twitterRed
}
.M__socialLinkButton-icon.icon-google:hover {
    @extend .icon-googleRed
}
.M__socialLinkButton-icon.icon-rss:hover {
    @extend .icon-rssRed
}
.M__socialLinkButton-icon.icon-youtube:hover {
    @extend .icon-youtubeRed
}
.M__socialLinkButton-icon.icon-linkedin:hover {
    @extend .icon-linkedinRed
}
@include tablet {
    .M__socialLinkButton-circle {
        background: #444;
        height: 80px;
        border-radius: 40px;
    }
    .M__socialLinkButton-container {
        padding-top: 30px;
    }
    .M__socialLinkButton-icon {
        margin: 0 auto;
    }
}


///////////////////////////////////////////////////

.M__eventIntro-location:hover {color: red;}
.M__eventIntro-location:hover .M__eventIntro-locationIcon {@extend .icon-mapRed}

.M__eventIntro-additional {display: none;}

.M__eventIntro-dateContainer {color: red; text-transform: uppercase; font: 700 16px "Roboto Condensed"}
.M__eventIntro-seperator {margin: 0 5px;}
.M__eventIntro-dateIcon, .M__eventIntro-locationIcon  {margin-right: 5px;}
.M__eventIntro-location {color: #bbb; text-transform: uppercase; font: 700 16px "Roboto Condensed"; margin-top: 5px;}

.M__eventIntro-buttonsContainer {font: 700 13px Roboto; text-transform: uppercase; }
.M__eventIntro-button {border: 1px solid #bbb; padding: 3px 10px; margin-right: 5px; margin-top: 10px; color: #bbb;}

.M__eventIntro-button:hover {background: #bbb; color: white;}


@include tablet {
    .M__eventIntro-button {width: 100%; text-align: center; padding: 30px 0;}
.M__eventIntro-buttonsContainer {margin-bottom: 60px;}


        .M__eventIntro-locationIcon {display: none;}
    .M__eventIntro-textLocation {width: 100%;}
    }


@include mobile  {

    .M__eventIntro-text, .M__eventIntro-button {float:none !important}


.M__eventIntro-dateIcon, .M__eventIntro-locationIcon {display: none;}
.M__eventIntro-additional {display: block;}
.M__eventIntro-seperator {display: none;}
.M__eventIntro-text {font-size: 22px;}
.M__eventIntro-additional {margin-right: 3px;}
.M__eventIntro-dateContainer {padding-bottom: 20px; margin-bottom: 20px;}
.M__eventIntro-location{ margin-bottom: 40px;}

.M__eventIntro-button {width: 100%; text-align: center; padding: 30px 0;}
.M__eventIntro-buttonsContainer {margin-bottom: 60px;}
}

@include tablet {

      .M__eventIntro-location {border: 1px solid #666; padding: 3px 10px; margin-right: 5px; margin-top: 10px; color: #666; padding: 30px; text-align: center; border-radius:60px; margin-bottom: 30px;}

    .M__eventIntro-dateContainer {display: table; margin: 0 auto; }

    a:nth-last-child(1) .M__eventIntro-button {border-bottom: 1px solid #bbb;}
    .M__eventIntro-button{margin-top: 0}

    .M__eventIntro-button {border: 0; border-top: 1px solid #bbb;}

}

//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    MOLECULE                                                                 //
//-   ---------------                                                           //
//-    MENU TOP NAVIGATION BAR LOGIN BUTTON                                     //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


.M__Login-main {
    color: #ccc;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    height: 100%;
    &:hover {
        color: red;
    }
}
.M__Login-container {
    padding: 0 15px;
    margin: 15px 0
}
.M__Login-icon {
    margin-right: 7px
}
.M__Login-icon {
    margin-top: 1px;
}
.M__Login-main:hover .M__Login-container .icon-login {
    @extend .icon-loginRed
}


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    MOLECULE                                                                 //
//-   ---------------                                                           //
//-    MENU MAIN NAVIGATION BUTTON                                              //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


.M__mainNavButton-main {
    text-align: center;
    font-family: "Roboto Condensed"
}
.M__mainNavButton-centre {
    display: table;
    margin: 0 auto;
}
.M__mainNavButton-text {
    text-transform: uppercase;
    font-weight: 700;
}
.M__mainNavButton-main {
    color: black;
    border-left: 1px solid white;
    &:hover:not(.is-activated) {
        background: red;
        color: white;
    }
    &:hover .M__mainNavButton-container {
        border-bottom: 4px solid red;
    }
    &.is-activated .M__mainNavButton-container {
        border-bottom: 4px solid #cdcdcd;
        background: #cdcdcd;
    }
}
.M__mainNavButton-main:hover:not(.is-activated) .M__mainNavButton-container .M__mainNavButton-centre .M__mainNavButton-arrow {
    @extend .icon-dropdownWhite;
}
.M__mainNavButton-container {
    border-bottom: 4px solid #aaaaaa;
    padding-top: 15px;
    height: 50px;
}
.M__mainNavButton-arrow {
    margin-top: 6px;
    margin-left: 3px;
}
@include tablet {
    .M__mainNavButton-container {
        height: 100px;
    }
    .M__mainNavButton-arrow {
        display: none;
    }
    .M__mainNavButton-centre {
        font-size: 13px
    }
    .M__mainNavButton-centre {
        padding-top: 27px;
    }
}


//-////

//-EXTERNAL

.ninja-forms-cont {border: 1px solid #ccc; margin: 60px 0;}
.ninja-forms-required-items {font-size: 16px; color: white; background: #333; padding: 10px 20px;  }
.nf-desc { background: #eee; font: 700 16px "Roboto Condensed"; text-transform: uppercase; padding: 5px 20px;}
.ninja-forms-field {}
.nf-desc p {line-height: 19px;}


.field-wrap { margin: 30px 20px;}

label {font: 400 16 Roboto; color: #aaa; }
select.ninja-forms-field , input.ninja-forms-field  {height: 40px;  width: 100%; margin-top: 10px ; padding: 5px; font: 700 16px Roboto; border: 1px solid #ccc;}


selectn.ninja-forms-field  {background: #eee;}

input[type='submit'].ninja-forms-field  {background: #ed1b25; color: white; text-transform: uppercase; padding: 13px; font: 700 26px "Roboto Condensed"; height: auto; border: none;}















