//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    ORGANISM                                                                 //
//-   ---------------                                                           //
//-    ???                                                                      //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    ORGANISM                                                                 //
//-   ---------------                                                           //
//-    ???                                                                      //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    ORGANISM                                                                 //
//-   ---------------                                                           //
//-    ???                                                                      //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    ORGANISM                                                                 //
//-   ---------------                                                           //
//-    ???                                                                      //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    ORGANISM                                                                 //
//-   ---------------                                                           //
//-    ???                                                                      //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    ORGANISM                                                                 //
//-   ---------------                                                           //
//-    MAGAZINE MOCKUP BLOCK                                                    //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


mixin O__magazineMockupBlock
    .O__magazineMockupBlock-main
        .O__magazineMockupBlock-row1
            +M__magazineMockup
        .O__magazineMockupBlock-row2
            +A__magazineMockupText
        .O__magazineMockupBlock-row3
            +M__magazineReadPrompt


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    ORGANISM                                                                 //
//-   ---------------                                                           //
//-    PHOTO GALLERY LIST                                                       //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


mixin O__photoGalleryList
    .O__photoGalleryList-main.u-cf
        each val in article.content.header.photoGallery
            .O__photoGalleryList-item.u-floatLeft
                +M__photoGalleryItem




//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    ORGANISM                                                                 //
//-   ---------------                                                           //
//-    NEWS THUMBNAILS LIST                                                     //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


mixin O__newsThumbList
    .O__newsThumbList-main.u-cf
        each val, index in content.dynamic.pressReleases
            .O__newsThumbList-item.u-floatLeft
                +M__newsThumbItem(val.image, val.label, val.title, index)


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    ORGANISM                                                                 //
//-   ---------------                                                           //
//-    LABELED TEXT LINKS LIST                                                  //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


mixin O__labeledLinksList--otherFiles
    a(href="#").u-noUnderline
        .O__labeledLinksList-main
            each val in article.content.footer.otherFiles
                .O__labeledLinksList-item
                        +M__labeledLinkItem('val.label', 'val.text')


mixin O__labeledLinksList--presentationFiles--noLinks
        .O__labeledLinksList-main
            each val in article.content.footer.speakerSlides
                .O__labeledLinksList-item
                        +M__labeledLinkItem--presentation--noLinks('val.label', 'val.text')


mixin O__labeledLinksList--presentationFiles
        .O__labeledLinksList-main
            each val in article.content.footer.speakerSlides
                .O__labeledLinksList-item
                        +M__labeledLinkItem--presentation--noLinks('val.label', 'val.text')



mixin O__labeledLinksList--partnerFiles
    a(href="#").u-noUnderline
        .O__labeledLinksList-main
            each val in [1,2,3,4,5,6,7]
                .O__labeledLinksList-item
                        +M__labeledLinkItem('val.label', 'val.text')


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    ORGANISM                                                                 //
//-   ---------------                                                           //
//-    MAGAZINE PREVIEW BLOCK                                                   //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


mixin O__magazinePreview
    .O__magazinePreview-main.u-cf
        .O__magazinePreview-col1.u-floatLeft
            +M__magazinePreviewThumb
        .O__magazinePreview-col2.u-floatLeft
            .O__magazinePreview-col2-row1
                +A__magazinePreviewTitle
            .O__magazinePreview-col2-row2
                +O__magazinePreviewArticles
            .O__magazinePreview-col2-row3.u-cf
                .O__magazinePreview-col2-row3-col1.u-floatLeft
                    +M__magazinePreviewButton('Read Current Issue')
                .O__magazinePreview-col2-row3-col2.u-floatLeft
                    +M__magazinePreviewButton('View Previous Issues', '--grey')
        .O__magazinePreview-col3.u-floatRight
            +M__quote('--red')


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    ORGANISM                                                                 //
//-   ---------------                                                           //
//-    MAGAZINE PREVIEW ARTICLE LIST                                            //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


mixin O__magazinePreviewArticles
    .O__magazinePreviewArticles-main
        each val in head.dynamic.magazine.articles
            .O__magazinePreviewArticles-item
                +M__magazinePreviewArticle(val.text)


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    ORGANISM                                                                 //
//-   ---------------                                                           //
//-    SOCIAL MEDIA LINKS LIST                                                  //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


mixin O__socialLinkList
        .O__socialLinkList--head-main.u-cf
            each val in foot.socialMedia
                .O__socialLinkList-item.u-floatLeft
                    +M__socialLinkButton(val.icon)



//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    ORGANISM                                                                 //
//-   ---------------                                                           //
//-    DISCLAIMER TEXT LINKS LIST                                               //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


mixin O__disclaimerLinksList
    .O__disclaimerLinksList-main
        each val, index in foot.bottomLinks
            .O__disclaimerLinksList-item.u-floatLeft
                +M__disclaimerLink(index, val)


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    ORGANISMS                                                                //
//-   ---------------                                                           //
//-    PAGE INTRODCUTION BUTTONS LIST                                           //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////





//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    ORGANISMS                                                                //
//-   ---------------                                                           //
//-    RELATED CONTENT LIST            //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


mixin O__relatedContentList(modifier)
        .O__relatedContentList-main
            each val, index in article.content.footer.relatedContent
                .O__relatedContentList-item
                    +M__thumbnail

//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    ORGANISMS                                                                //
//-   ---------------                                                           //
//-    RELATED CONTENT LIST WITHOUT COMMENTS                                    //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////

mixin O_noCommentrelated
    .O__relatedContentList-main.u-cf
        each val, index in article.content.footer.relatedContentAlt
            if (index<3)
                .O__relatedContentList-item--noComments.u-floatLeft
                    .O__relatedContentList-container--noComments
                        +M__thumbnail

 mixin O_noCommentrelated--pressReleases
    .O__relatedContentList-main.u-cf
        each val, index in article.content.footer.pressRelease
            .O__relatedContentList-item--noComments.u-floatLeft
                .O__relatedContentList-container--noComments
                    +M__thumbnail

 mixin O_noCommentrelated--media
    .O__relatedContentList-main.u-cf
        each val, index in article.content.footer.media
            .O__relatedContentList-item--noComments.u-floatLeft
                .O__relatedContentList-container--noComments
                    +M__thumbnail



//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    ORGANISMS                                                                //
//-   ---------------                                                           //
//-    SECONDARY NAVIGATION MENU LIST                                           //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


mixin O__secondaryNavList
    .O__secondaryNavList-main.u-cf
        each val, index in head.static.secondaryNav
            .O__secondaryNavList-item.u-floatLeft
                +M__secondaryNavButton(index, val.text)


///////////////////////









////////////////////////


mixin O__textPrompt--report
    .O__textPrompt-main
        .O__textPrompt-row1
            .O__textPrompt-heading Download Report Files
        .O__textPrompt-row2
            each val in article.content.article.report
                .O__textPrompt-item
                    +M__textPrompt--report('val.type', 'val.title')



mixin O__textPrompt--tender
    .O__textPrompt-main
        .O__textPrompt-row1
            .O__textPrompt-heading TENDER DETAILS
        .O__textPrompt-row2.O__textPrompt-row2--tender
            .O__textPrompt-tenderData
                span.M__textPrompt-field Location:
                span.M__textPrompt-data Cape Town, South Africa
            .O__textPrompt-tenderData
                span.M__textPrompt-field Deadline:
                span.M__textPrompt-data 13 September 2016
            .O__textPrompt-tenderData
                span.M__textPrompt-field Contact Name:
                span.M__textPrompt-data Radomir Drodz
            .O__textPrompt-tenderData
                span.M__textPrompt-field Contact Number:
                span.M__textPrompt-data +42 054 512 0278


mixin O__textPrompt--tender--signedOut
    .O__textPrompt-main
        .O__textPrompt-row1
            .O__textPrompt-heading You need an account to download this report
        a(href="#").u-noUnderline
            .O__textPrompt-row2.O__textPrompt-row2--tender
                .O__textPrompt-tenderData
                    span.M__textPrompt-field Sign in
                    span.M__textPrompt-data or
                    span.M__textPrompt-field Register
                    span.M__textPrompt-data for a free Metering.com account to view this report


mixin O__textPrompt--tender--expired
    .O__textPrompt-main
        .O__textPrompt-row1
            .O__textPrompt-heading This tender expired on 10 September 2016
        a(href="#").u-noUnderline
            .O__textPrompt-row2.O__textPrompt-row2--tender
                .O__textPrompt-tenderData
                    span.M__textPrompt-field Visit our tender library micro-site, updated daily with similar tenders



mixin O__textPrompt--otherTenders
    .O__textPrompt-main
        .O__textPrompt-row2
            each val in article.content.article.otherTenders
                .O__textPrompt-item
                    +M__textPrompt--otherTender(val.title, val.location, val.deadline)





//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    ORGANISMS                                                                //
//-   ---------------                                                           //
//-   TEMPLATE FOOT COLUMN LIST                                                 //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


mixin O__footColumnList
    .O__footColumnList-main.u-cf
        each val in foot.columns
            .O__footColumnList-item.u-floatLeft
                +M__footColumn(val.title, val.links[0], val.links[1], val.links[2], val.links[3], val.links[4], val.links[5], val.links[6], val.links[7], val.links[8] )


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    ORGANISMS                                                                //
//-   ---------------                                                           //
//-    MAIN NAVIGATION MENU LIST                                                //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


mixin O__mainNavList
    .O__mainNavList-main.u-cf
        each val,index in head.static.mainNav.data
            if(index!=2)
                .O__mainNavList-item.u-floatLeft
                    if val.active
                        +M__mainNavButton(val.text, val.arrow, true)
                    else
                        +M__mainNavButton(val.text, val.arrow)
            else
                .O__mainNavList-item.O__mainNavList-item--magazine.u-floatLeft
                    if val.active
                        +M__mainNavButton(val.text, val.arrow, true)
                    else
                        +M__mainNavButton(val.text, val.arrow)


mixin O__mainNavList--mobile
    select.O__mainNavList-main--mobile(onChange="window.location.href=this.value")
        if (head.static.mainNav.homepage)
                option.O__mainNavList-item--mobile(disabled selected) Homepage
            if (head.static.mainNav.homepage==false)
                option.O__mainNavList-item--mobile Homepagess
        each val,index in head.static.mainNav.data
            if(val.active==true)
                option.O__mainNavList-item--mobile(disabled selected)(value="http://www.google.coms")= val.text
            if(val.active==false)
                option.O__mainNavList-item--mobile(value="http://www.google.coms")= val.text

//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    ORGANISMS                                                                //
//-   ---------------                                                           //
//-    TOP NAVIGATION MENU LIST                                                 //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


mixin O__topNav
    .O__topNav-main.u-cf
        each val in head.static.topNav
            .O__topNav-item.u-floatLeft
                +M__topNavButton(val.text)


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    ORGANISMS                                                                //
//-   ---------------                                                           //
//-    DIRECT PAGINATION NUMBERS LIST                                           //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////



mixin O__paginationNumbers
    .O__paginationNumbers-main.u-cf
        each val, index in content.dynamic.pagination.direct
            .O__paginationNumbers-item.u-floatLeft
                +M__paginationButton(val)


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    ORGANISMS                                                                //
//-   ---------------                                                           //
//-    SOCIAL SHARE BUTTONS LIST                                                //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


mixin O__socialShareList
    .O__socialShareList-main.u-cf
        each val in article.content.article.socialShare
            +M__socialShareButton(val.icon, val.text, val.link.prepend, val.link.data, val.link.append)


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    ORGANISMS                                                                //
//-   ---------------                                                           //
//-    BASIC TEXT PROMPT BUTTON LIST                                            //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


mixin O__textPromptList
        .O_textPromptList-main
            each val in article.content.footer.submitButtons
                .O_textPromptList-item
                    +M__textPrompt(val.text)


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    ORGANISMS                                                                //
//-   ---------------                                                           //
//-    BASIC TEXT PROMPT BUTTON LIST                                            //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


mixin O__textPromptList--tenders
        .O_textPromptList-main
            each val in article.content.footer.otherTenders
                .O_textPromptList-item
                    +M__textPrompt--tenders(val.text, val.location, val.deadline)


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    ORGANISMS                                                                //
//-   ---------------                                                           //
//-    BASIC TEXT PROMPT BUTTON LIST                                            //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


mixin O__textPromptList--heading
        .O_textPromptList-main
            each val in article.content.footer.submitButtons
                .O_textPromptList-item
                    +M__textPrompt--heading(val.text, 'asd')



//////


mixin O__horizontalSectionList
    .O__horizontalSectionList-main
        each val in article.staticPages.landscapeSections
            .O__horizontalSectionList-item
                +M__horizontalSectionItem(val.heading, val.text)





