p We reach those responsible for AMI and smart meters, smart grid, smart energy and billing and customer services on a worldwide basis.

p And we have the world’s most powerful and up to date metering and smart energy database in the industry – over 100,000 names and details – and each one of them receive the content-rich bi-monthly publication.
