p By accessing Metering & Smart Energy International web pages you agree to the following terms. If you do not agree to the following terms, please notice that you are not permitted to use the site.

p The content of this website is only for general information and use, and does not constitute any form of advice, recommendation or arrangement by Spintelligent, and in particular, should not be used by the user to make any financial, investment or other decisions. These decisions should only be made once appropriate independent advice has been obtained. Any arrangement between you and any third party listed on this website is at your sole risk and responsibility.

p The contents of this website are copyrighted by Spintelligent. Any rights not expressly granted herein are reserved. Reproduction, transfer, distribution or storage of part or all of the contents in any form without the prior written permission of Spintelligent is prohibited.

p Spintelligent provides all information and services on this website on an 'as is', 'with all faults' and 'as available' basis. To the extent allowed by law, Spintelligent hereby disclaims all warranties, conditions or duties of every nature whatsoever (except duties of good faith). In addition, Spintelligent makes no warranty that the website services are free from infection of viruses or anything else that has contaminating or destructive properties.

p To the full extent allowed by applicable law, you agree that Spintelligent will not be liable to you and/or any third party for any consequential or incidental damages, or for any indirect, special or punitive damages whatsoever that arise out of or are related to the website or its services and information.

p You agree that your only recovery for any damages that you incur, and your exclusive remedy, shall be limited to the direct damages you actually incur in reasonable reliance on the applicable site services up to the limit of the actual amount paid to Spintelligent (if any) in total during the month the damage is first incurred, or at the sole discretion of Spintelligent, the correction of replacement of the service.

p Spintelligent does not and cannot review all the content posted by users on this website and is not responsible for such content. Spintelligent may at any time at its discretion remove any content posted by users.

p By submitting material to this website or any of Spintelligent’s servers (e.g by e-mail), you agree that: (a) the material will not contain any item that is unlawful or otherwise unfit for publication; (b) you will use reasonable efforts to scan and remove any viruses or other contaminating or destructive features before submitting any material; and (c) you own the material or have the unlimited right to provide it to us and Spintelligent may publish the material free of charge and/or incorporate it or any concepts described in it in our products or services without accountability or liability (d) you agree not to take action against us in relation to material that you submit and you agree to indemnify us if any third party takes action against us in relation to the material you submit.

p The website contains links to other world wide web sites provided by independent third parties, either directly or through frames. Spintelligent is not responsible for availability or content of such third party sites, and will not be party to, or in any way responsible for, any transaction concerning goods or services available from such third party sites.

p The terms and conditions of this disclaimer shall be governed by, and construed in accordance with South African law. The user irrevocably agrees that the courts of South Africa shall have exclusive jurisdiction to settle any dispute which may arise out of, under, or in connection with these terms and conditions or the legal relationship established by them, and for those purposes irrevocably submit all disputes to the jurisdiction of the South African courts.


h1 Contact Information

p
    strong
        |Spintelligent (Pty) Ltd<br>
        |2nd floor, North Wing, Great Westerford<br>
        |240 Main Road, Rondebosch, 7700, South Africa<br>
        |+27 21 700 3500<br>
        |Spintelligent is a Level 2 BBBEE contributor



