

//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    LAYOUT                                                                   //
//-   ---------------                                                           //
//-    FOOT SECTION                                                             //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////



#__foot-main {
    background: #2b2b2b;
    color: #cccccc
}
#__footTopBar-centre {
    width: 1255px;
    margin: 0 auto;
}
#__footContent-centre {
    width: 1255px;
    margin: 0 auto;
}
#__footBottomBar-centre {
    width: 1255px;
    margin: 0 auto;
}
#__footContent-centre {
    border-top: 1px solid white;
    border-bottom: 1px solid #cccccc;
    padding: 30px 0 40px 0;
}
#__footBottomBar-centre {
    padding: 30px 0;
}
#__foot-BottomBar-row2 {
    padding-top: 20px;
    padding-bottom: 60px;
}
#__footTopBar-main {
    padding: 35px 0;
}
#__footBottomBar-row1{
        padding-top: 30px;

}


@include laptop {
       #__footContent-centre {
        width: 90%;
    }
    #__footTopBar-centre {
        width: 90%;
    }
        #__footBottomBar {
        width: 90%;
    }

}

@include tablet {
    #__foot-BottomBar-row2 {
        width: 500px;
        margin: 30px auto 0 auto;
    }
    #__foot-BottomBar-row2 {
        float: none;
        margin-top: 30px;
    }

    #__footBottomBar-row1 {
        margin-top: 30px;
    }

    #__footTopBar-col1 {
        float: none;
        margin: 0 auto;
        display: table;
    }
    #__footTopBar-col2 {
        float: none;
        //margin: 0 auto;
        display: table;
        width: 100%;
    }

    #__footTopBar-col2{padding-top: 20px;}
    #__foot-BottomBar-row2 {
        width: 410px;

    }



}

@include mobile{

    #__foot-BottomBar-row2{ display: block; width: 90%; }
       #__footContent-centre {border-bottom: 0; padding: 0;}

}











/* This class gets applied by JavaScript */
.sticky {
    position: fixed;
    background: red;
    left: 0;
    top: 0;
}
/* The scripts also wraps the element in this to avoid jumpy behaviour when switching to pos: fixed */
.article-sticky-wrapper {}





