


$laptop-width: 1300px;
$tablet-width: 1000px;
$mobile-width: 700px;



@mixin laptop {
  @media (max-width: #{$laptop-width}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$tablet-width}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}



//---------------------------------------------------------- EM functiosn
$browser-context: 16;
@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em
}

@function col($number) {
    @return #{100/$number}%
}

/////

//---------------------------------------------------------- Imports
@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css);


//---------------------------------------------------------- Fonts
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300italic,300,400italic,700,700italic);

@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300italic,300,400italic,700,700italic);

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,700,700italic);

* { Box-sizing: border-box }

body {
    font-family: Roboto, Arial;
}
h1 {
    font-size: 38px;
    font-weight: 700;
    line-height: 40px;
    font-weight: 700;
}

h2 {
  font-size: 26px;
  line-height: 32px;
    font-weight: 400;
}

h3 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
    line-height: 32px;
}

p {
    font-size: 18px;
    line-height: 26px;
    margin-top: 16px;
    margin-bottom: 16px;
}


ul {
    font-size: 18px;
    line-height: 26px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-decoration: none;
}

li {
    margin-bottom: 7px;
}


.u-cf:after {
  content: "" !important;
  display: table !important;
  clear: both !important;
}

.u-floatLeft {
  float: left;
}

.u-floatRight {
  float: right;
}

.u-absolute {
  position: absolute;
}

.u-relative {
  position: relative;
}

.u-fixed {
  position: fixed;
}

.u-overflowHidden{
    overflow: hidden;
}

.u-noUnderline {
    text-decoration: none;
}

.u-table {
    display: table;
}

.u-tableRow {
    display: table-row;
}

.u-tableCell {
    display: table-cell;
}


.u-borderLeft{
    border-left: 1px solid #999999;

}
.u-tableColumn {
    display: table-column;
}


.u-col1 {width: col(1); padding-left: 0; padding-left: 0; padding-bottom: 20px;}


.u-col2 {width: col(2); padding-left: 0; padding-left: 0; padding-bottom: 20px;}
.u-col2:nth-of-type(2n+1) {padding-left: 0; padding-right: 10px;}
.u-col2:nth-of-type(2n) { padding-left: 10px; padding-right: 0; }


.u-col3 {width: col(3); padding-left: 5px; padding-right: 5px; padding-bottom: 20px;}
.u-col3:nth-of-type(3n+1) {padding-left: 0; padding-right: 10px;}
.u-col3:nth-of-type(3n) { padding-left: 10px; padding-right: 0;}


.u-col4 {width: col(4); padding-bottom: 20px;}
.u-col4:nth-of-type(4n+1) {padding-left: 0; padding-right: 20px;}
.u-col4:nth-of-type(4n+2) { padding-left: 0; padding-right: 10px;}
.u-col4:nth-of-type(4n+3) { padding-left: 10px; padding-right: 0;}
.u-col4:nth-of-type(4n) { padding-left: 20px; padding-right: 0;}

.u-col5 {width: col(5); padding-bottom: 20px; padding-left: 10px; padding-right: 10px; }
.u-col5:nth-of-type(5n+1) {padding-left: 0; padding-right: 20px;}
.u-col5:nth-of-type(5n+2) { padding-left: 0; padding-right: 10px;}
.u-col5:nth-of-type(5n+4) { padding-left: 10px; padding-right: 0;}
.u-col5:nth-of-type(5n) { padding-left: 20px; padding-right: 0;}


@include mobile {
    .u-col1:nth-of-type(n),
    .u-col2:nth-of-type(n),
    .u-col3:nth-of-type(n),
    .u-col4:nth-of-type(n),
    .u-col5:nth-of-type(n) {
        width: 100%;
        padding-left:0;
        padding-right: 0;
        padding-top: 0;
        padding-bottom: 20px;
    }
    .u-col1:nth-last-of-type(1),
    .u-col2:nth-last-of-type(1),
    .u-col3:nth-last-of-type(1),
    .u-col4::nth-last-of-type(1),
    .u-col5:nth-last-of-type(1) {
        padding-bottom: 0px;
    }
}

.u-col1--noGutter{width: col(1);}
.u-col2--noGutter{width: col(2);}
.u-col3--noGutter{width: col(3);}
.u-col4--noGutter{width: col(4);}
.u-col5--noGutter{width: col(5);}
.u-col6--noGutter{width: col(6);}
.u-col7--noGutter{width: col(7);}
.u-col8--noGutter{width: col(8);}

//---------------------------------------------------------- Base Styles

