include ../_global/includes/layout.jade
include ../_global/includes/head/head.jade


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    LAYOUT                                                                   //
//-   ---------------                                                           //
//-    MAGAZINE                                                                 //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


#__contentWrapper



//-////////////////////////////////////////////////////////////////////////////////
//-                                                                              //
//-                                                                              //
//-                                                                              //
//-                                                                              //
//-                                                                              //
//-                                                                              //
//-                                                                              //
//-                                                                              //
//-                                                                              //
//-                                      END                                     //
//-                                                                              //
//-                                                                              //
//-                                                                              //
//-                                                                              //
//-                                                                              //
//-                                                                              //
//-                                                                              //
//-                                                                              //
//-                                                                              //
//-////////////////////////////////////////////////////////////////////////////////


include ../_global/includes/foot/foot.jade