
//- JSON CONTENT


- var head = {"static":{"topNav":[{"text":"About us","link":"*insert"},{"text":"Advertise","link":"*insert"},{"text":"Contact Us","link":"*insert"},{"text":"Register","link":"*insert"}],"mainNav":{"data":[{"text":"News","arrow":false,"link":"*insert","active":false},{"text":"Features","arrow":false,"link":"*insert","active":false},{"text":"Magazine","arrow":true,"link":"*insert","active":false},{"text":"Reports","arrow":false,"link":"*insert","active":false},{"text":"Tenders","arrow":false,"link":"*insert","active":false},{"text":"Multimedia","arrow":false,"link":"*insert","active":false},{"text":"Event","arrow":false,"link":"*insert","active":true},{"text":"Partners","arrow":false,"link":"*insert","active":false}],"homepage":false},"secondaryNav":[{"text":"Upcoming Events","link":"*insert","lines":1},{"text":"Past Events","link":"*insert","lines":1}]},"dynamic":{"page":{"signin":true,"account":"John Smith"},"adverts":{"leaderboard":{"desktop":"Community_968x100.jpg","tablet":"Community_680x100.jpg","color":"#017795"},"superbanner":"*insert"},"magazine":{"image":"*insert","articles":[{"text":"Praesent nonummy mi in odio","link":"*insert"},{"text":"Aenean leo ligula porttitor eu","link":"*insert"},{"text":"Praesent ut ligula non mi","link":"*insert"},{"text":"Praesent venenatis metus at tortor","link":"*insert"}]}}}









//- article


- var article = {"content":{"footer":{"relatedContentAlt":[null,null],"otherFiles":null,"speakerSlides":null,"media":null,"comments":null,"relatedContent":null,"otherTenders":null,"pressRelease":null,"submitButtons":null},"header":{"magazineAdvertisement":null,"largeSkyscraperAdvert":true,"photoGallery":null,"imageHeader":{"text1":"Press Release","text2":"View Event"}},"article":{"tenderDetail__expired":null,"tenderDetails__signedOut":null,"tenderDetails":null,"report__signedOut":null,"report":null,"socialShare":[{"icon":"twitterShare","text":"share","link":{"data":"1","prepend":"2","append":"3"}},{"icon":"linkedinShare","text":"Share","link":{"data":"1","prepend":"2","append":"3"}},{"icon":"facebookShare","text":"share","link":{"data":"1","prepend":"2","append":"3"}},{"icon":"googleShare","text":"share","link":{"data":"1","prepend":"2","append":"3"}},{"icon":"emailShare","text":"Email","link":{"data":"1","prepend":"2","append":"3"}},{"icon":"commentShare","text":"share","link":{"data":"1","prepend":"2","append":"3"}}],"content":true,"regularIntro":true,"eventIntro":null}}}




//- JSON FOOT


- var foot = {"columns":[{"title":"News","links":["Europe and UK","North America","Asia","Afirca and Middle East","Australia and New Zealand","Central and Latin America"]},{"title":"Features","links":["Industry Insights","How-to Guides","Engerati's Week in Smart Energy"]},{"title":"Magazines","links":["Latest Issue","Back Issue"]},{"title":"Reports","links":["Free White Paper","Industry Reports","Special Reports"]},{"title":"Tenders","links":["Free Tenders","Tender Library"]},{"title":"Multimedia","links":["Video","Audio","Webinar Archive"]},{"title":"Events","links":["MSEI Events","Partner Events","Training Academy"]},{"title":"Partners","links":["View Partners","Become a Partner"]}],"bottomLinks":["Terms of Use","Privacy Policy","Sitemap","About Us","Advisory Board","Association Partners","Contact"],"socialMedia":[{"icon":"facebook","link":null},{"icon":"google","link":null},{"icon":"linkedin","link":null},{"icon":"rss","link":null},{"icon":"twitter","link":null},{"icon":"youtube","link":null}]}


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                       █                                     //
//-                                       █                                     //
//-                                    █  █  █                                  //
//-                                     █ █ █                                   //
//-                                      ███                                    //
//-                                       █                                     //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


include ../#__layout.jade

