.sprite {
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-Comment-share-01 {
    width: 30px;
    height: 30px;
    background-position: -5px -5px;
}

.sprite-Comment-share-white {
    width: 30px;
    height: 30px;
    background-position: -45px -5px;
}

.sprite-Email-share-01 {
    width: 30px;
    height: 30px;
    background-position: -85px -5px;
}

.sprite-Email-share-white {
    width: 30px;
    height: 30px;
    background-position: -125px -5px;
}

.sprite-Google-share-01 {
    width: 30px;
    height: 30px;
    background-position: -165px -5px;
}

.sprite-Google-share-white {
    width: 30px;
    height: 30px;
    background-position: -205px -5px;
}

.sprite-Linkedin-share-01 {
    width: 30px;
    height: 30px;
    background-position: -245px -5px;
}

.sprite-Linkedin-share-white {
    width: 30px;
    height: 30px;
    background-position: -5px -45px;
}

.sprite-Twitter-quote-blue {
    width: 26px;
    height: 26px;
    background-position: -45px -45px;
}

.sprite-Twitter-quote-blue-01 {
    width: 27px;
    height: 28px;
    background-position: -81px -45px;
}

.sprite-Twitter-share-01 {
    width: 30px;
    height: 31px;
    background-position: -118px -45px;
}

.sprite-Twitter-share-white {
    width: 30px;
    height: 30px;
    background-position: -158px -45px;
}

.sprite-Untitled-4 {
    width: 20px;
    height: 16px;
    background-position: -198px -45px;
}

.sprite-arrow-blue {
    width: 9px;
    height: 15px;
    background-position: -228px -45px;
}

.sprite-arrow-grey {
    width: 10px;
    height: 16px;
    background-position: -247px -45px;
}

.sprite-arrow-white {
    width: 10px;
    height: 16px;
    background-position: -267px -45px;
}

.sprite-cal-icon {
    width: 14px;
    height: 17px;
    background-position: -198px -71px;
}

.sprite-cal-icon-red {
    width: 16px;
    height: 18px;
    background-position: -222px -71px;
}

.sprite-close-quote-blue-01 {
    width: 32px;
    height: 26px;
    background-position: -5px -99px;
}

.sprite-close-quote-grey-01 {
    width: 32px;
    height: 26px;
    background-position: -47px -99px;
}

.sprite-downarrow-01 {
    width: 9px;
    height: 7px;
    background-position: -248px -71px;
}

.sprite-downarrow-blue-01 {
    width: 9px;
    height: 7px;
    background-position: -267px -71px;
}

.sprite-email-black {
    width: 20px;
    height: 15px;
    background-position: -89px -88px;
}

.sprite-email-blue {
    width: 20px;
    height: 15px;
    background-position: -119px -88px;
}

.sprite-email-grey {
    width: 20px;
    height: 15px;
    background-position: -149px -88px;
}

.sprite-email-white {
    width: 20px;
    height: 15px;
    background-position: -248px -88px;
}

.sprite-facebook-black {
    width: 8px;
    height: 17px;
    background-position: -179px -88px;
}

.sprite-facebook-blue {
    width: 8px;
    height: 17px;
    background-position: -89px -113px;
}

.sprite-facebook-grey {
    width: 8px;
    height: 17px;
    background-position: -107px -113px;
}

.sprite-facebook-share-01 {
    width: 30px;
    height: 30px;
    background-position: -125px -113px;
}

.sprite-facebook-share-white {
    width: 30px;
    height: 30px;
    background-position: -197px -113px;
}

.sprite-facebook-white {
    width: 8px;
    height: 17px;
    background-position: -237px -113px;
}

.sprite-footer-dot {
    width: 4px;
    height: 3px;
    background-position: -165px -113px;
}

.sprite-google-black {
    width: 18px;
    height: 18px;
    background-position: -255px -113px;
}

.sprite-google-blue {
    width: 18px;
    height: 18px;
    background-position: -5px -141px;
}

.sprite-google-grey {
    width: 18px;
    height: 18px;
    background-position: -33px -141px;
}

.sprite-google-white {
    width: 18px;
    height: 18px;
    background-position: -61px -141px;
}

.sprite-linkedin-black {
    width: 18px;
    height: 17px;
    background-position: -89px -141px;
}

.sprite-linkedin-blue {
    width: 18px;
    height: 17px;
    background-position: -165px -141px;
}

.sprite-linkedin-grey {
    width: 18px;
    height: 17px;
    background-position: -237px -141px;
}

.sprite-linkedin-white {
    width: 18px;
    height: 17px;
    background-position: -89px -168px;
}

.sprite-login-blue-01 {
    width: 13px;
    height: 13px;
    background-position: -265px -141px;
}

.sprite-login-grey-01 {
    width: 13px;
    height: 13px;
    background-position: -117px -164px;
}

.sprite-map-icon {
    width: 11px;
    height: 15px;
    background-position: -140px -164px;
}

.sprite-open-quote-blue-01 {
    width: 32px;
    height: 26px;
    background-position: -193px -164px;
}

.sprite-open-quote-grey {
    width: 32px;
    height: 26px;
    background-position: -235px -168px;
}

.sprite-play-blue {
    width: 81px;
    height: 81px;
    background-position: -287px -5px;
}

.sprite-play-blue-small {
    width: 31px;
    height: 31px;
    background-position: -283px -96px;
}

.sprite-play-white {
    width: 81px;
    height: 81px;
    background-position: -288px -137px;
}

.sprite-play-white-small {
    width: 31px;
    height: 31px;
    background-position: -324px -96px;
}

.sprite-rss-black {
    width: 16px;
    height: 16px;
    background-position: -5px -228px;
}

.sprite-rss-blue {
    width: 16px;
    height: 16px;
    background-position: -31px -228px;
}

.sprite-rss-grey {
    width: 16px;
    height: 16px;
    background-position: -57px -228px;
}

.sprite-rss-white {
    width: 16px;
    height: 16px;
    background-position: -83px -228px;
}

.sprite-search_black-01 {
    width: 20px;
    height: 20px;
    background-position: -109px -228px;
}

.sprite-search_black-02 {
    width: 20px;
    height: 20px;
    background-position: -139px -228px;
}

.sprite-search_blue {
    width: 19px;
    height: 19px;
    background-position: -169px -228px;
}

.sprite-submenubreak-01 {
    width: 2px;
    height: 15px;
    background-position: -365px -96px;
}

.sprite-top-break-01 {
    width: 2px;
    height: 17px;
    background-position: -198px -228px;
}

.sprite-twitter-black {
    width: 18px;
    height: 15px;
    background-position: -210px -228px;
}

.sprite-twitter-blue {
    width: 20px;
    height: 16px;
    background-position: -238px -228px;
}

.sprite-twitter-grey {
    width: 20px;
    height: 16px;
    background-position: -268px -228px;
}

.sprite-twitter-quote {
    width: 26px;
    height: 26px;
    background-position: -298px -228px;
}

.sprite-twitter-quote-01 {
    width: 27px;
    height: 28px;
    background-position: -334px -228px;
}

.sprite-twitter-white {
    width: 20px;
    height: 16px;
    background-position: -5px -266px;
}

.sprite-youtube-black {
    width: 22px;
    height: 16px;
    background-position: -35px -266px;
}

.sprite-youtube-blue {
    width: 22px;
    height: 16px;
    background-position: -67px -266px;
}

.sprite-youtube-grey {
    width: 22px;
    height: 16px;
    background-position: -99px -266px;
}

.sprite-youtube-white {
    width: 22px;
    height: 16px;
    background-position: -131px -266px;
}
