@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300italic,300,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300italic,300,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,700,700italic);
/* line 10, C:/Users/Schalk/Desktop/MSEI-frontEnd/src/utilities/utilities.scss */
* {
  Box-sizing: border-box; }

/* line 12, C:/Users/Schalk/Desktop/MSEI-frontEnd/src/utilities/utilities.scss */
body {
  font-family: Roboto, Arial; }

/* line 15, C:/Users/Schalk/Desktop/MSEI-frontEnd/src/utilities/utilities.scss */
h1 {
  font-size: em(38);
  font-weight: 700;
  line-height: 55px;
  font-weight: 700; }

/* line 22, C:/Users/Schalk/Desktop/MSEI-frontEnd/src/utilities/utilities.scss */
h2 {
  font-size: em(26);
  line-height: 32px; }

/* line 27, C:/Users/Schalk/Desktop/MSEI-frontEnd/src/utilities/utilities.scss */
h3 {
  font-size: em(26);
  font-weight: 700;
  margin-bottom: em(20);
  line-height: 32px; }

/* line 34, C:/Users/Schalk/Desktop/MSEI-frontEnd/src/utilities/utilities.scss */
p {
  font-size: em(18);
  line-height: em(26);
  margin-top: 0em;
  margin-bottom: 2em; }

/* line 41, C:/Users/Schalk/Desktop/MSEI-frontEnd/src/utilities/utilities.scss */
ul {
  font-size: em(18);
  line-height: em(26);
  margin-top: 2.5em;
  margin-bottom: 2.5em;
  text-decoration: none; }

/* line 49, C:/Users/Schalk/Desktop/MSEI-frontEnd/src/utilities/utilities.scss */
li {
  margin-bottom: 0.5em; }

/* line 54, C:/Users/Schalk/Desktop/MSEI-frontEnd/src/utilities/utilities.scss */
.u-cf:after {
  content: "" !important;
  display: table !important;
  clear: both !important; }

/* line 60, C:/Users/Schalk/Desktop/MSEI-frontEnd/src/utilities/utilities.scss */
.u-floatLeft {
  float: left; }

/* line 64, C:/Users/Schalk/Desktop/MSEI-frontEnd/src/utilities/utilities.scss */
.u-floatRight {
  float: right; }

/* line 68, C:/Users/Schalk/Desktop/MSEI-frontEnd/src/utilities/utilities.scss */
.u-absolute {
  position: absolute !important; }

/* line 72, C:/Users/Schalk/Desktop/MSEI-frontEnd/src/utilities/utilities.scss */
.u-relative {
  position: relative !important; }

/* line 76, C:/Users/Schalk/Desktop/MSEI-frontEnd/src/utilities/utilities.scss */
.u-noUnderline {
  text-decoration: none !important; }

/* line 80, C:/Users/Schalk/Desktop/MSEI-frontEnd/src/utilities/utilities.scss */
.u-noMargin {
  margin: 0 !important; }

/* line 84, C:/Users/Schalk/Desktop/MSEI-frontEnd/src/utilities/utilities.scss */
.u-table {
  display: table !important; }

/* line 88, C:/Users/Schalk/Desktop/MSEI-frontEnd/src/utilities/utilities.scss */
.u-tableRow {
  display: table-row !important; }

/* line 92, C:/Users/Schalk/Desktop/MSEI-frontEnd/src/utilities/utilities.scss */
.u-tableCell {
  display: table-cell !important; }

/* line 144, C:/Users/Schalk/Desktop/MSEI-frontEnd/src/utilities/utilities.scss */
.sprite {
  background-image: url(spritesheet.png);
  background-repeat: no-repeat;
  display: block; }

/* line 150, C:/Users/Schalk/Desktop/MSEI-frontEnd/src/utilities/utilities.scss */
.sprite-play {
  width: 49px;
  height: 49px;
  background-position: -5px -5px; }

/*# sourceMappingURL=utilities.css.map */