include ../_global/includes/layout.jade
include ../_global/includes/head/head.jade


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    LAYOUT                                                                   //
//-   ---------------                                                           //
//-    NEWS HOME                                                                //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////

#NewsHome-main
    #NewsHome-centre
        #NewsHome-row1
          +Heading('Breaking News', 'More News')
        #NewsHome-row2.u-cf
            #NewsHome-row2-col1.u-floatLeft
                +Thumbnail--showcase
            #NewsHome-row2-col2.u-floatRight
                +Advert--smallSkyscraper
            #NewsHome-row2-col3.u-floatLeft.u-cf
                    each val in [1,2,3,4,5,6]
                        .u-col3.u-floatLeft
                            +Thumbnail--news
        #NewsHome-row3
            +Advert

//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    LAYOUT                                                                   //
//-   ---------------                                                           //
//-    FEATURES HOME                                                            //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////

#FeaturesHome-main
    #FeaturesHome-centre.u-cf
        #FeaturesHome-col1.u-floatLeft
            #FeaturesHome-col1-row1
                +Heading('Top Stories')
            #FeaturesHome-col1-row2.u-cf
                    each val in [1,2,3,4]
                        .u-col4.u-floatLeft
                            +Thumbnail--news
            #FeaturesHome-col1-row3
                +Advert--largeSuperbanner
            #FeaturesHome-col1-row4
                +Heading('Latest Feature')
            #FeaturesHome-col1-row5
                +Thumbnail--showcase
        #FeaturesHome-col2.u-floatRight
            +Advert--container
                #FeaturesHome-group.u-cf
                    each val in [1,2,3,4]
                        .FeaturesHome-container
                            a(href="#")
                                img(src="http://lorempixel.com/260/250")
        #FeaturesHome-col4.u-floatLeft
            #FeaturesHome-col4-row1
                +Heading('Feature', 'View more Features')
            #FeaturesHome-col4-row2.u-cf
                each val in [1,2,3,4,5,6]
                    .u-col3.FeaturesHome-container.FeaturesHome-container--hide.u-floatLeft
                        +Thumbnail--homeResize
        #FeaturesHome-col5.u-floatRight
            +Advert--largeSkyscraper
//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    LAYOUT                                                                   //
//-   ---------------                                                           //
//-    REPORT HOME                                                              //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


#ReportHome-main
    #ReportHome-centre
        #ReportHome-row1.u-cf
            #ReportHome-col1.u-floatLeft
                #ReportHome-col1-row1
                    +Advert--largeSuperbanner
                #ReportHome-col1-row2
                    +Heading('Industry Reports', 'More Reports')
                #ReportHome-col1-row3
                    +TextButton--bold--grey('Browse the MSEI Report Library')
                #ReportHome-col1-row4
                    +TextButton--files(1,2,3,4)
            #ReportHome-col2.u-floatRight
                +Advert--largeSkyscraper
        #ReportHome-row2
            +Advert


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    LAYOUT                                                                   //
//-   ---------------                                                           //
//-    MEDIA HOME                                                               //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////

#MediaHome-main
    #MediaHome-centre
        #MediaHome-row1.u-cf
            #MediaHome-row1-col1.u-floatLeft
                #MediaHome-row1-col1-row1
                    +Heading('Upcoming Webinar')
                #MediaHome-row1-col1-row2
                    +Thumbnail--event--large--webinar
                #MediaHome-row1-col1-row3
                    +TextButton--bold--webinar


            #MediaHome-row1-col2.u-floatRight
                #MediaHome-row1-col2-row1
                    +Heading('Featured Video')
                #MediaHome-row1-col2-row2
                    +Thumbnail--media--showcase
        #MediaHome-row2
                +Heading('Latest Media' , 'View All Media')
        #MediaHome-row3.u-cf
                each val in [1,2,3]
                    .u-col3.MediaHome-container.u-floatLeft
                        +Thumbnail--media





//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    LAYOUT                                                                   //
//-   ---------------                                                           //
//-    MEDIA HOME                                                               //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////

#TenderHome-main
    #TenderHome-centre
        #TenderHome-row1
            +Heading('latest Tenders', 'View all Tenders')
        #TenderHome-row2
            #FeaturesHome-col4-row3
                +TextButton--bold--blue
            #FeaturesHome-col4-row5
                +TextButton--files--noLabel



//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    LAYOUT                                                                   //
//-   ---------------                                                           //
//-    MAGAZINE HOME                                                            //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////

#MagazineHome-main
    #MagazineHome-centre
        #MagazineHome-row1
            +Heading('Free Online Magazine', 'View Previous Issues')
        #MagazineHome-row2.u-table
            #MagazineHome-row2-col1.u-tableCell
                +Thumbnail--magazine
            #MagazineHome-row2-col2.u-tableCell
                +TextButton--files--noLabel
            #MagazineHome-row2-col3.u-tableCell
                +Quote--grey
        #MagazineHome-row3
            +Advert

//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    LAYOUT                                                                   //
//-   ---------------                                                           //
//-    MAGAZINE HOME                                                            //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////

#EventsHome-main
    #EventsHome-centre
        #EventsHome-row1
            +Heading('Upcoming Events', 'View All Events')
        #EventsHome-row2.u-cf
            each val in [1,2,3]
                .u-col3.u-floatLeft
                    +Thumbnail--event--large
        #EventsHome-row3
            +Advert


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    LAYOUT                                                                   //
//-   ---------------                                                           //
//-    END                                                                      //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////

include ../_global/includes/foot/foot.jade
