include ../_global/includes/layout.jade
include ../_global/includes/head/head.jade


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    LAYOUT                                                                   //
//-   ---------------                                                           //
//-    NEWS HOME                                                                   //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////

#NewsHome-main
    #NewsHome-centre
        #NewsHome-row1
          +Heading('Breaking News', 'More News')
        #NewsHome-row2.u-cf
            #NewsHome-row2-col1.u-floatLeft
                +Thumbnail--showcase
            #NewsHome-row2-col2.u-floatRight
                +Advert--smallSkyscraper

            #NewsHome-row2-col3.u-floatLeft.u-cf
                    each val in [1,2,3,4,5,6]
                        .u-col3.u-floatLeft
                            +Thumbnail--news

//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    LAYOUT                                                                   //
//-   ---------------                                                           //
//-    FEATURES HOME                                                            //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////

#FeaturesHome-main
    #FeaturesHome-centre.u-cf
        #FeaturesHome-col1.u-floatLeft
            #FeaturesHome-col1-row1
                +Heading('Top Stories')
            #FeaturesHome-col1-row2.u-cf
                    each val in [1,2,3,4]
                        .u-col4.u-floatLeft
                            +Thumbnail--news
            #FeaturesHome-col1-row3
                +Advert--largeSuperbanner
            #FeaturesHome-col1-row4
                +Heading('Popular News')
            #FeaturesHome-col1-row5
                +Thumbnail--showcase
        #FeaturesHome-col2.u-floatRight
            +Advert--islandAdverts
        #FeaturesHome-col4.u-floatLeft
            #FeaturesHome-col4-row1
                +Heading('Feature', 'View more Features')
            #FeaturesHome-col4-row2
                each val in [1,2,3,4,5,6]
                    .u-col3.u-floatLeft
                        +Thumbnail



//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    LAYOUT                                                                   //
//-   ---------------                                                           //
//-    REPORT HOME                                                              //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


#__reportHome-main
    #__reportHome-centre.u-cf
        #__reportHome-col1.u-floatLeft
            #__reportHome-col1-row1
                +Advert--largeSuperbanner
            #__reportHome-col1-row2
                +Heading('Industry Reports', 'More Reports')
            #__reportHome-col1-row3
                +TextButton--bold--grey('Browse the MSEI Report Library')
            #__reportHome-col1-row4a
                +TextButton--files(1,2,3,4)
        #__reportHome-col2.u-floatRight
            +Advert--largeSkyscraper


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    LAYOUT                                                                   //
//-   ---------------                                                           //
//-    MEDIA HOME                                                               //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////

#__mediaHome-main
    #__mediaHome-centre
        #__mediaHome-row1.u-cf
            #__mediaHome-row1-col1.u-floatLeft
                #__mediaHome-row1-col1-row1
                    +Heading('Upcoming Webinar')
                #__mediaHome-row1-col1-row2
                    +Thumbnail--event--large--noHover
                #__mediaHome-row1-col1-row3
                    +TextButton--bold--webinar


            #__mediaHome-row1-col2.u-floatRight
                #__mediaHome-row1-col2-row1
                    +Heading('Featured Video')
                #__mediaHome-row1-col2-row2
                    +Thumbnail--media--showcase
        #__mediaHome-row2
                +Heading('Latest Media' , 'View All Media')
        #__mediaHome-row3.u-cf
                each val in [1,2,3]
                    .u-col3.u-floatLeft
                        +Thumbnail--media

//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    LAYOUT                                                                   //
//-   ---------------                                                           //
//-    MEDIA HOME                                                               //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////

#__tendersHome-main
    #__tendersHome-centre
        #__tendersHome-row1
            //+M__heading('latest Tenders', 'View all Tenders')
        #FeaturesHome-col4-row3
            //+M__textPrompt--blue--noHead
        #FeaturesHome-col4-row5
            //+O__labeledLinksList--partnerFiles s

//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    LAYOUT                                                                   //
//-   ---------------                                                           //
//-    MAGAZINE HOME                                                               //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////

#__magazineHome-main
    #__magazineHome-centre
        #__magazineHome-row1
            +M__heading('Free Online Magazine', 'View Previous Issues')
        #__magazineHome-row2.u-table
            #__magazineHome-row2-col1.u-tableCell
                +Thumbnail--magazine
            #__magazineHome-row2-col2.u-tableCell
                +TextButton--files--noLabel
            #__magazineHome-row2-col3.u-tableCell
                +Quote--grey


#__eventsHome-main
    #__eventsHome-centre
        #__eventsHome-row1
            +Heading('Upcoming Events', 'View All Events')
        #__eventsHome-row2.u-cf
            each val in [1,2,3]
                .u-col3.u-floatLeft
                    +Thumbnail--event--large




//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    LAYOUT                                                                 //
//-   ---------------                                                           //
//-    END            s                                                        //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////

include ../_global/includes/foot/foot.jade
