



















//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    LAYOUT                                                                   //
//-   ---------------                                                           //
//-    START                                                                    //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////

#__topNewsHome-centre {width: 1255px; margin: 0 auto;}

#__topNewsHome-row1 {width: 1035px;}


#__topNewsHome-row2-col1 {width: 415px; margin-right: 20px;}

#__topNewsHome-row2-col2 {width: 200px; }


#__topNewsHome-row2-col3 {width: 600px;}


.M__contentThumb-container--newsCrop {height: 336px !important;}


.M__contentThumb-container--showcase {height: 690px !important;}
//.O__categoryList-item{width: col(3)}

.M__contentThumb-showcase--showcase {display: block !important;}

.M__contentThumb-title--showcase {font-size: 38px; line-height: 42px;  margin: 10px 0 20px 0;}

.M__contentThumb-subheading--showcase {display: block !important;}





////


#__featuresHome-centre {width: 1255px; margin: 0 auto;}

.O__categoryList-item--fiveColumn {width: col(4) !important;}
.O__categoryList-item--fiveColumn {padding-right: 10px !important; padding-left: 5px; padding-top: 0px; padding-bottom: 0px;}

#__featuresHome-col1 { width: 800px;}
#__featuresHome-col1 { width: 800px;}


#__featuresHome-col2 {width:455px;}

#__featuresHome-col4 {width: 100%;}

#__featuresHome-col5 {background: blue; width: 400px;}


#__eventsHome-centre {width: 1255px; margin: 0 auto;}


.M__contentThumb-container--event {height: 336px !important;}

#__magazineHome-centre {width: 1255px;margin: 0 auto;}

#__tendersHome-centre{width: 1255px; margin: 0 auto;}

#__mediaHome-centre {width: 1255px; margin: 0 auto;}


#__mediaHome-col1{width: 50%;}
#__mediaHome-col2{width: 50%;}
#__mediaHome-col3{width: 100%;}






//////



#__topNewsHome-main {padding-top: 60px; padding-bottom: 50px;}




#__featuresHome-col1-row1 {width: 790px;}


#__featuresHome-col2 {padding-left: 25px;}

#__featuresHome-col1-row2 {padding-right: 10px;}