

#Registration-centre {width: 1255px; margin: 90px auto;}

#Registration-col1, #Registration-col2 {width: 600px;}

.TextButton-col2--benefits {color: black;}

.TextButton-text--benefits {padding-left: 10px;}

#Registration-heading {font-weight: 700;}

#Registration-col2-row2 {margin-top: 35px;}

#Registration-col1-row2 {background: #eee;}

.login-username, login-password, login-remember  {padding: 0; margin: 0;}





.ninja-forms-cont {border: 1px solid #ccc; margin: 60px 0;}

.ninja-forms-required-items {font-size: 16px; color: white; background: #333; padding: 10px 20px;  }

.nf-desc { background: #eee; font: 700 16px "Roboto Condensed", Arial; text-transform: uppercase; padding: 5px 20px;}

.nf-desc p {line-height: 19px;}


.field-wrap { margin: 30px 20px;}

label {font: 400 16 Roboto, Arial; color: #aaa; }
select.ninja-forms-field , input.ninja-forms-field, #user_login, #user_pass,
input[class^="s2"], select[class^="s2"]
 {height: 40px;  width: 100%; margin-top: 10px ; padding: 5px; font: 700 16px Roboto, Arial; border: 1px solid #ccc; margin-bottom: 25px;}


select.ninja-forms-field  {background: #eee;}


input[type='submit'].ninja-forms-field, #s2member-pro-paypal-registration-submit  {background: #ed1b25; color: white; text-transform: uppercase; padding: 13px; font: 700 26px "Roboto Condensed", Arial; height: auto; border: none; width: 100%;}


input[type='submit'].ninja-forms-field:hover {background: #aaa !important;}
#s2member-pro-paypal-registration-submit:hover {background: #aaa !important;}
#wp-submit:hover {background: #aaa !important;}

.login-username label {display: none;}

.login-password label {display: none;}

#Registration-col1-row2 {padding: 20px;}

.login-password {margin-top: 3px;}


#wp-submit {background: #ed1b25; color: white; text-transform: uppercase; padding: 13px; font: 700 16px "Roboto Condensed", Arial; height: auto; border: none; width: 250px;}


#gpd_Login-forgot{padding-left: 15px; font-size: 14px !important; margin-top: 15px; padding-left: 20px;}
#gpd_Login-remember{padding-left: 30px; margin-top: 14px;}
#gpd_Login-button{}


#gpd_Login-rememberItem {color: red !important; font-size: 14px; padding-left: 5px;  vertical-align: top; line-height: 22px;}
input[type="checkbox"] {width: 20px; height: 20px;}

#s2member-pro-paypal-registration-form-options-section-title {display: none;}
#s2member-pro-paypal-registration-options {display: none;}

#Registration-col1-row3 {margin-top: 40px;}
#Registration-s2 {border: 1px solid #ccc;}
#Registration-s2Box {padding: 20px;}
#s2member-pro-paypal-registration-form-registration-section-title {display: none;}

#s2member-pro-paypal-registration-password1 {margin-bottom: 0 !important;}

#s2member-pro-paypal-registration-form-custom-fields-section-title {display: none;}
#s2member-pro-paypal-registration-form-password-strength {display: none;}
#s2member-pro-paypal-registration-form-custom-reg-field-user-phone-divider-section {display: none;}

#s2member-pro-paypal-registration-custom-reg-field-user-phone {color: #cdcdcd; font-weight: 400}


#s2member-pro-paypal-registration-form-custom-reg-field-terms-conditions-divider-section {display: none;}

#s2member-pro-paypal-registration-form-submission-section-title {display: none;}
#s2member-pro-paypal-registration-form-captcha-section-title {display: none;}

#s2member-pro-paypal-registration-form-captcha-div {display: table; margin: 0 auto; padding-bottom: 40px;}

#user_login {margin-bottom: 0px;}
#user_pass {margin-bottom: 5px;}


#s2member-pro-paypal-registration-custom-reg-field-terms-conditions {margin: 0;}
#s2member-pro-paypal-registration-custom-reg-field-subscribe {margin: 0;}
#s2member-pro-paypal-registration-form-custom-reg-field-position-title-divider-section {display: none;}

textarea[class^="s2"] {margin-bottom: 25px;}

#s2member-pro-paypal-registration-custom-reg-field-terms-conditions {margin-bottom:  0px;}

input[class^="s2"] {color: black !important;}
#s2member-pro-paypal-registration-custom-reg-field-user-address{color: black !important; font-weight: 700 !important; padding: 5px;}

#s2member-pro-paypal-registration-custom-reg-field-user-phone {font-weight: 700 !important;}




@include laptop {

    #Registration-centre {width: 90%;}
    #Registration-col1 {width: 60%; padding-right: 60px;}

#Registration-col2 {width: 40%;}

}

@include tablet {

    #s2member-pro-paypal-registration-form-custom-reg-field-terms-conditions-div {margin-top: 20px;  margin-bottom: 30px;}
    #s2member-pro-paypal-registration-custom-reg-field-subscribe {margin-bottom: 30px;}




    select.ninja-forms-field, input.ninja-forms-field, #user_login, #user_pass,
input[class^="s2"]:not[type="checkbox"] , select[class^="s2"]:not[type="checkbox"] , #user_login, #user_pass {height: 70px; font-size: 30px; padding: 0 10px;}


}


@include tablet {    #Registration-col1 {width: 100%; padding-right: 100px; padding-right: 0;}

#Registration-col2 {display: none; }
    #gpd_Login-button {width: 100%;}
   #gpd_Login-button, {float: none; text-align: center; font-size: 20px;}
    #gpd_Login-remember {float: left;}
    #wp-submit {width: 100%; padding-top: 30px; padding-bottom: 30px; margin-bottom: 20px;}
    #gpd_Login-forgot {float: right; padding-right: 40px;}
    #Registration-col1-row1 {display: none;}
    #s2member-pro-paypal-registration-custom-reg-field-terms-conditions {margin-bottom: 20px;}
    #s2member-pro-paypal-registration-submit {padding: 22px 0;}
    #user_login, #user_pass {height: 80px; font-size: 22px; padding-left: 10px;}
}

@media (max-width: 450px)
{#gpd_Login-remember {padding: 0;}

    #gpd_Login-forgot {padding: 0;}


}


//h


.toc-main {width: 320px; margin-left: 22px; margin-bottom: 30px; text-transform: uppercase;}