|<!doctype html>
|<html>
|<head>
link(rel="stylesheet" type="text/css" href="../../../../dist/css/stylesheet.css")
|<meta charset="utf-8">
|</head>
|<body>
include ../../../_global/includes/layout.jade
style
    |div[class$="main"] {margin: 100px 0;}
    |h1 {text-transform: uppercase;; background: #ddd; width: 100%; text-align: center; padding: 30px 0;}



//h1 Adverts
//+M__advert
//+M__advert--largeSkyscraper
//+M__advert--partnerLogo
//+M__advert--smallSkyscraper
//+M__advert--largeSuperbanner
//+M__advert--islandAdverts



h1 Thumbnails
div(style="width: 400px;") +M__thumbnail--media
    +M__thumbnail--media

div(style="width: 400px;") +M__thumbnail--event
    +M__thumbnail--event

div(style="width: 400px;") +M__thumbnail
    +M__thumbnail

div(style="width: 400px;") +M__thumbnail--showcase
    +M__thumbnail--showcase

div(style="width: 400px;") +M__thumbnail--event--large
    +M__thumbnail--event--large

div(style="width: 400px;") +M__thumbnail--report
    +M__thumbnail--report

div(style="width: 400px;") +M__thumbnail--tender
    +M__thumbnail--tender





|</body>
|</html>
























