//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    LAYOUT                                                                   //
//-   ---------------                                                           //
//-    INTRODUCTION                                                             //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


#__introduction-centre {
    width: 1255px;
    margin: 0 auto;
    margin-top: 60px;
}
#__introduction-row1-col1 {
    width: 67%;

    background: #eee;
    padding: 20px 10px;
}
#__introduction-row1-col2 {
    width: 32%
}

@include laptop {
    #__introduction-centre {
        width: 90%;

    }

}

@include tablet {
    #__introduction-row1-col1 {
        width: 100%;
        padding-right: 0px;
    }
    #__introduction-row1-col2 {
        width: 100%;
        border-top: 2px solid white;
    }
}


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    LAYOUT                                                                   //
//-   ---------------                                                           //
//-    ISSUE CONTENT                                                            //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


#__issueContent-main {
    padding-bottom: 60px;
}
#__issueContent-centre {
    width: 1255px;
    margin: 0 auto;
    margin-top: 60px;
}
#__issueContent-col1 {
    width: 400px;
}
#__issueContent-col1-row2 {
    border: 1px solid #bbb;
    padding: 0 30px;
}
#__issueContent-col1-row2-row1 {
    border-bottom: 1px solid #bbb;
    padding: 40px 0;
}
#__issueContent-col1-row2-row3 {
    padding: 30px 0 30px 0
}
#__issueContent-col2 {
    width: 830px;
}
#__issueContent-col2-row1 {margin-top: 30px;}
#__issueContent-col2-row3 {margin-top: 40px;}
@include laptop {
    #__issueContent-centre {
        width: 90%;

    }
    #__issueContent-col1 {
        width: 30%;
    }
    #__issueContent-col2 {
        width: 68%;
    }
}
@media (max-width: 1220px) {
    #__issueContent-col1-row1 {
        display: none;
    }
}
@include tablet {
     #__issueContent-col1 {
        width: 100%;
    }
    #__issueContent-col2 {
        width: 100%;
    }
}

//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    LAYOUT                                                                   //
//-   ---------------                                                           //
//-    ISSUE CONTENT                                                            //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


#__otherIssues-main {
    background: #e6e7e8;
    padding: 60px 0 80px 0;
}
#__otherIssues-centre {
    // width: 1150px;
    margin: 0 auto;
    width: 1255px;
}
#__otherIssues-row1 {}
#__otherIssues-row2 {}
.__otherIssues-container {
    width: 200px;
    margin-right: 11px;
    margin-bottom: 20px;
}
.__otherIssues-container:nth-last-child(1) {
    margin-right: 0;
}

@include laptop {
    #__otherIssues-centre {
        width: 622px;
        margin: 0 auto;
    }
    .__otherIssues-container:nth-of-type(3n) {
        margin-right: 0;
    }
}
@include mobile {
    #__otherIssues-centre {
        width: 90%;

    }
    .__otherIssues-container {
        width: 150px;
        margin: 0 5px 20px 5px;
    }

    #__otherIssues-row2{
       padding-top: 30px;
        width: 480px;
            margin: 0 auto;
    }
}
@media (max-width: 560px){
    #__otherIssues-row2{

        width: 327px;


    }

       .__otherIssues-container:nth-of-type(n) {
        margin-right: 11px;
    }
          .__otherIssues-container:nth-of-type(2n) {
        margin-right: 0;
    }
}

@media (max-width: 410px){
   .__otherIssues-container:nth-of-type(n) {
       margin-right: 0;
       margin: 0 auto;

       display: table;
       text-align: center;
       width: 100%;
       margin-bottom: 50px;
}

        #__otherIssues-row2{

        width: 90%;


    }
}
