#__introduction-row1-col1 {width: 80%; padding-right: 4px;}
#__introduction-row1-col2 {width: 20%}

#__issueContent-col1 {width: 400px;}
#__issueContent-col2 {width: 830px;}

#__issueContent-col1-row2 {border: 1px solid #bbb; padding: 0 30px;}


#__issueContent-col1-row2-row1 {border-bottom: 1px solid #bbb; padding: 40px 0;
}

#__issueContent-col1-row2-row2 { padding: 30px 0 30px 0}


#__introduction-main {width: 1255px; margin: 0 auto;}

    #__issueContent-centre {width: 1255px; margin: 0 auto;}


#__otherIssues-main {width: 1150px; margin: 0 auto;}