/////////////////////////////////////////////////////////////////////////////////
//                                                                             //
//                                                                             //
//                                                                             //
//                                INTRODUCTION                                 //
//                                                                             //
//                                                                             //
//                                                                             //
/////////////////////////////////////////////////////////////////////////////////


// HACKS

//body {width: 300px; margin: 0 auto}
//@include tablet {
/////    body{ font-size: 20px;}
//}

/////////////////////////////////////////////////////////////////////////////////
//                                                                             //
//                                                                             //
//                                                                             //
//                                   IMPORTS                                   //
//                                                                             //
//                                                                             //
//                                                                             //
/////////////////////////////////////////////////////////////////////////////////


@import '../utilities/spritesheet.scss';
@import '../utilities/utilities.scss';


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                     A                                       //
//-                                    A A                                      //
//-                                   A   A                                     //
//-                                  AAAAAAA                                    //
//-                                 A       A                                   //
//-                                A         A                                  //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    ATOM                                                                     //
//-   ---------------                                                           //
//-    SMALL TITLE                                                              //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


    
.A__smallTitle-main {
    text-transform: uppercase;
    white-space: nowrap;
    font: 700 16px "Roboto Condensed";
    color: #aaaaaa;
}
.A__smallTitle-main--socialShare {
    text-align: center;
}
.M__socialShareButton-text {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    padding: 8px 0 8px 10px;
}


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                  M     M                                    //
//-                                  MM   MM                                    //
//-                                  M M M M                                    //
//-                                  M  M  M                                    //
//-                                  M     M                                    //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    MOLECULE                                                                 //
//-   ---------------                                                           //
//-    CONTENT THUMB                                                            //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////

//-CORE
.M__contentThumb-main {
    width: 100%;
    text-align: center;
    overflow: hidden;
    height: 200px;
    color: white;
    margin-bottom: 18px;
}
.M__contentThumb-showcase {
    margin-top: 15px;
    display: none;
    text-transform: uppercase;
    font-weight: 700;
}
.M__contentThumb-image {
    width: 100%;
    position: relative;
    left: 100%;
    margin-left: -200%;
}
.M__contentThumb-container.u-absolute {
    text-align: left;
    width: 100%;
    bottom: 0;
}
.M__contentThumb-label {
    padding: 5px 15px 5px 10px;
    background: red;
}
.M__contentThumb-overlay {
    padding: 0 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    height: 100px;
    width: 100%;
}
.M__contentThumb-mediaPlay {
    vertical-align: middle;
    width: 70px;
}
.M__contentThumb-title {
    font-weight: 700;
    margin-top: 20px;
}
.M__contentThumb-date {
    font-size: 13px;
    color: #ccc;
    margin-top: 10px;
    margin-bottom: 30px;
}
.M__contentThumb-subheading {
    display: none;
}


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    MOLECULE                                                                 //
//-   ---------------                                                           //
//-    HEADING                                                                  //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


//-CORE
.M__heading-main {
    border-bottom: solid em(8) black;
    font-family: "Roboto Condensed";
    font-weight: 700;
    text-transform: uppercase;
    height: 51px;
}
.M__heading-title {
    background: #ed1b25;
    font-size: em(26);
    color: white;
    text-align: center;
    padding: em(3) em(8) em(3) em(6);
    height: 100%;
}
.M__heading-prompt {
    height: 100%;
    background: #cdcdcd;
    color: black;
    font-size: em(16);
    text-align: center;
    padding: em(3) em(8) em(3) em(6);
    padding: 13px 12px;
    &:hover {
        background: #b8b8b8;
        color: white;
    }
    &:hover .sprite-arrow-grey {
        @extend .sprite-arrow-white
    }
}
.M__heading-arrow {
    margin-top: 1px;
}
.M__heading-promptText {
    margin-right: 10px;
}
.M__introParagraph-main {
    background: #eeeeee;
    padding: em(10) em(15);
}

//-RESPONSIVE
@include mobile {
    .M__heading-title {
        width: 100%;
    }
}


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    MOLECULE                                                                 //
//-   ---------------                                                           //
//-    CONTENT BUTTON                                                           //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


//-CORE
.M__contentButton-main {
    width: 100%;
    padding: 11px;
    font: 700 em(16) "Roboto Condensed";
    text-transform: uppercase;
    background: #eee;
    border: none;
    color: black;
    cursor: pointer;
    &:hover {
        background: #b8b8b8;
    }
}
.M__contentButton-main--filter {
    width: 100%;
    border-bottom: 2px solid white;
}
.M__contentButton-main--pagination {
    text-align: center;
}

//-RESPONSIVE
@include mobile {
    .M__contentButton-main {
        height: 100px;
    }
}


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    MOLECULE                                                                 //
//-   ---------------                                                           //
//-    FEATURED IMAGE                                                           //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


//-CORE
.M__featuredImage-container {
    width: 100%;
    text-align: center;
    overflow: hidden;
    height: 430px;
  
    color: white;
    margin-bottom: 18px;
}
.M__featuredImage-image {
    height: 430px;
    
    position: relative;
    left: 100%;
    margin-left: -200%;
}
.M__featuredImage-label {
    background: red;
    bottom: 0;
    padding: 5px 15px 5px 10px;
    color: white;
    background: red;
    margin-left: 20%;
}


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    MOLECULE                                                                 //
//-   ---------------                                                           //
//-    SOCIAL SHARE BUTTON                                                      //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


//-CORE
.M__socialShareButton-main {
   padding: 7px 4px;
   border-bottom: 1px solid #cdcdcd;
   color: #999999;
   &:hover {
       background: #b8b8b8;
       color: white
   }
   &:hover .sprite-facebook-share-01 {
       @extend .sprite-facebook-share-white;
   }
   &:hover .sprite-Twitter-share-01 {
       @extend .sprite-Twitter-share-white;
   }
   &:hover .sprite-Google-share-01 {
       @extend .sprite-Google-share-white;
   }
   &:hover .sprite-Linkedin-share-01 {
       @extend .sprite-Linkedin-share-white;
   }
   &:hover .sprite-Comment-share-01 {
       @extend .sprite-Comment-share-white;
   }
   &:hover .sprite-Email-share-01 {
       @extend .sprite-Email-share-white;
   }
}


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    MOLECULE                                                                 //
//-   ---------------                                                           //
//-    TEXT PROMPT                                                              //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////

//-CORE
.M_textPrompt-main {
    color: black;
    background: white;
    border: 1px solid #cdcdcd;
    height: 43px;
    padding: 10px 12px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Roboto Condensed";
    &:hover {
        background: #b8b8b8;
        color: white;
    }
    &:hover .sprite-arrow-grey {
        @extend .sprite-arrow-white
    }
}



//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    MOLECULE                                                                 //
//-   ---------------                                                           //
//-    SHORTCODE BOX                                                            //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


.M__shortcodeBox-main {
    padding: 30px;
    background: #eeeeee;
    border: solid 1px #cdcdcd;
}


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                   OOOOOOO                                   //
//-                                   O     O                                   //
//-                                   O     O                                   //
//-                                   O     O                                   //
//-                                   OOOOOOO                                   //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    ORGANISMS                                                                //
//-   ---------------                                                           //
//-    CATEGORY LIST                                                            //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////

//-CORE
.O__categoryList-item {
    width: col(3);
    padding: 0 10px;
}
.O__categoryList-item:nth-of-type(3n+1) {
    padding-left: 0;
}
.O__categoryList-item:nth-of-type(3n) {
    padding-right: 0;
}
.O__categoryList-item:nth-child(1) {
    width: col(1);
    padding: 0
}
.O__categoryList-item:nth-child(1) .M__contentThumb-showcase {
    display: block;
}
.O__categoryList-item:nth-child(-n+3) .M__contentThumb-title {
    font: 700 38px "Roboto Condensed";
    margin-top: 10px
}
.O__categoryList-item:nth-child(2) .M__contentThumb-title,
.O__categoryList-item:nth-child(3) .M__contentThumb-title {
    margin-top: 30px
}
.O__categoryList-item:nth-child(-n+3) .M__contentThumb-subheading {
    display: block;
    margin-top: 5px;
    margin-bottom: 40px
}
.O__categoryList-item:nth-child(-n+3) .M__contentThumb-date {
    display: none;
}
.O__categoryList-item:nth-child(1) .M__contentThumb-main {
    height: 450px;
}
.O__categoryList-item:nth-child(2) {
    width: col(2);
    padding-left: 0
}
.O__categoryList-item:nth-child(2) .M__contentThumb-main {
    height: 300px;
}
.O__categoryList-item:nth-child(3) {
    width: col(2);
    padding-right: 0
}
.O__categoryList-item:nth-child(3) .M__contentThumb-main {
    height: 300px;
}
O__categoryList-heading {
    width: 100%;
    margin-top: 60px;
}


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    ORGANISMS                                                                //
//-   ---------------                                                           //
//-    PAGINATION NUMBERS LIST                                                  //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


//-CORE
.O__paginationNumbers-item {width: 41px; margin-left: 5px;}


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    ORGANISMS                                                                //
//-   ---------------                                                           //
//-    SOCIAL SHARE LIST                                                        //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


//-CORE
.O__socialShareList-main {border-top: 1px solid #cdcdcd;}


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                     #  #                                    //
//-                                   ########                                  //
//-                                     #  #                                    //
//-                                   ########                                  //
//-                                     #  #                                    //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


#__leaderboard-main {
    background: blue;
}
#__leaderboard-centre {
    width: em(968);
    margin: 0 auto;
}
@include tablet {
    #__leaderboard-centre {
        width: em(680);
        margin: 0 auto;
    }
}
#__topNav-main {background: #26292a; color: white; }
#__menuContent-main {background: red;}
#__menuContent-centre {width: em(1255); margin: 0 auto;}
#__mainNav-main {background: #efefef}
#__mainNav-centre {width: em(1255); margin: 0 auto;}
#__secondaryNav-main {background: #cdcdcd; }
#__secondaryNav-centre {width: em(1255); margin: 0 auto;}


#__content-main {
    padding: 90px 0 0 0
}


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    LAYOUT                                                                   //
//-   ---------------                                                           //
//-    ARTICLE HEADER SECTION                                                   //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


#__articleHeader-centre {
    width: 1255px;
    margin: 0 auto;
}
#__articleHeader-col1 {
    width: 860px
}
#__articleHeader-col2 {
    width: 370px;
    margin-top: 43px;
}
#__articleHeader-main {
    height: 500px
}
#__articleHeader-centre {
    width: 1255px;
}


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    LAYOUT                                                                   //
//-   ---------------                                                           //
//-    ARTICLE CONTENT SECTION                                                  //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////

#__articleContent-col1-row1{margin-bottom: 15px;}
#__articleContent-centre {
    width: 1255px;
    margin: 0 auto;
}

#__articleContent-col1-row1 {
    width: 110px;
}

#__articleContent-col2 {
    margin-left: 150px;
    width: 600px;
}

//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    LAYOUT                                                                   //
//-   ---------------                                                           //
//-    ARTICLE FOOTER SECTION                                                   //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


#__articleFooter-main {
    background: #eeeeee;
    padding-top: 60px;
}
#__articleFooter-col1 {
    width: 827px;
}
#__articleFooter-col1-row3 {
    padding-top: 60px;
}
#__articleFooter-col2-row2 {width: 400px;}
#__articleFooter-centre {
    width: 1255px;
    margin: 0 auto;
}

//-^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^NEW





.M__largeSkyscraperAdvert-main {border: 1px solid #cdcdcd; background: #eeeeee; padding: 30px 0;}
.M__largeSkyscraperAdvert-title{font-size: 13px; text-transform: uppercase; font-weight: 700; color: #a5a5a5; letter-spacing: 1px; text-align: center; margin-bottom: 10px;}
.M__largeSkyscraperAdvert-container{display: table; margin: 0 auto;}





.M__pullQuote-main {
    height: auto;
    background: white;
    font-family: "Roboto Condensed";
    font-weight: 700;
    padding: em(5) 0;
    width: 240px;
}
.M__pullQuote-quote {
    border-left: em(1) solid grey;
    padding-left: em(20);
    margin-left: em(20);
    margin-bottom: em(40);
}
.M__pullQuote-text {
    color: black;
    font-size: em(20);
}
.M__pullQuote-icon {
    margin-top: em(10);
    margin-right: em(10);
}
.M__pullQuote-retweet {
    margin-bottom: em(12);
    margin-top: em(22);
    color: grey;
    font-size: em(12);
    margin-left: em(18);
    letter-spacing: 1px;
    text-transform: uppercase;
}


