include ../_global/includes/layout.jade
include ../_global/includes/head/head.jade


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    LAYOUT                                                                   //
//-   ---------------                                                           //
//-    HEADER                       s                                            //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////

#__articleHeader-main
    #__articleHeader-centre.u-cf(class="#{article.content.header.photoGallery!=null ? '__articleHeader-centre--photoGallery': '__none'}")


            //- 1 IMAGE HEADER
            if(article.content.header.imageHeader!=null)
                #__articleHeader-col1.u-floatLeft
                    #__articleHeader-col1-row1
                        +Heading(article.content.header.imageHeader.text1, article.content.header.imageHeader.text2, true)
                    #__articleHeader-col1-row2
                        +M__featuredImage('http://lorempixel.com/860/430/technics', '*WP Category*')

                    //- 2 PHOTO GALLERY
                    if(article.content.header.photoGallery!=null)
                        #__articleHeader-col1-row3
                            +O__photoGalleryList

            //- 3.1 PARTNER LOGO
            if(article.content.header.partnerLogo!=null)
                #__articleHeader-col2.u-floatRight
                    +Advert--partnerLogo

            //- 3.2 SKYSCRAPER ADVERT
            if(article.content.header.largeSkyscraperAdvert!=null)
                #__articleHeader-col2.u-floatRight
                    +Advert--largeSkyscraper

            //- 3.3 MAGAZINE ADVERT
            if(article.content.header.magazineAdvertisement!=null)
                #__articleHeader-col2--magazine.u-floatRight
                    #__issueContent-col1-row1
                        +MagazineMockup
                    #__issueContent-col1-row2
                        #__issueContent-col1-row2-row1.__issueContent--signedOut
                            .A__magazineMockupText-main This article originally <strong>appeared in the following issue of our bi-monthly print magazine</strong>. The digital version of the magazine can be read online or downloaded entirely free of charge.a
                        #__issueContent-col1-row2-row3
                            +TextButton--bold--red('READ ONLINE')


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    LAYOUT                                                                   //
//-   ---------------                                                           //
//-    ARTICLE CONTENT                                                          //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


#__articleContent-main
    #__articleContent-centre
        #__articleContent-container.u-cf
            #__articleContent-col2.u-floatRight

                //- 1.1 REPORT
                if(article.content.article.report!=null)
                    #__articleContent-typeAssets
                        +TextButton--report

                //- 1.2 REPORT--SIGNEDOUT
                if(article.content.article.report__signedOut!=null)
                    #__articleContent-typeAssets
                        +TextPrompt

                //- 2.1 TENDER
                if(article.content.article.tenderDetails!=null)
                    #__articleContent-typeAssets
                        +TextButton--tender

                //- 2.2 TENDER--SIGNEDOUT
                if(article.content.article.tenderDetails__signedOut!=null)
                    #__articleContent-typeAssets
                        +TextPrompt--tender--signedOut

                //- 2.3 TENDER--EXPIRED
                if(article.content.article.tenderDetail__expired!=null)
                    #__articleContent-typeAssets
                        +TextPrompt--tender--expired

                //- 3.1 INTRO
                if(article.content.article.regularIntro!=null)
                    #__articleContent-col2-row1
                        +A__smallTitle(null, '17 SEPTEMBER 2015')
                    #__articleContent-col2-row2
                        h1 Post Title
                    #__articleContent-col2-row3
                        h2 Post Sub-heading

                //- 3.2 INTRO--EVENT
                if(article.content.article.eventIntro!=null)
                    #__articleContent-col2-row0
                        #__articleContent-col2-row0-row1
                           +M__eventIntro
                    #__articleContent-col2-row2
                        h1 Post Heading
                    #__articleContent-col2-row3
                        h2 Post Sub-Heading

                //- 4 CONTENT (INCLUDE)
                if(article.content.article.content!=null)
                      #__articleContent-col2-row3
                        include includes/content.jade

                //- 5 CTA
                if(article.content.article.textCTA!=null)
                    #__textCTA-main
                        #__textCTA-row1
                            +Heading('Interested in more Tenders?')
                        #__textCTA-row2
                            +TextButton--bold--blue(article.content.article.textCTA)

                //- 6 OTHER TENDERS LIST
                if(article.content.article.otherTenders!=null)
                    #__otherTenders-main
                        #__otherTenders-row1
                            +Heading('Other Tenders')
                        #__otherTenders-row2
                            asdsd
                            +TextButton--otherTenders

                //- 7 FORM (INCLUDE)
                if(article.content.article.form!=null)
                    #__form-main
                        include includes/form.html

            //- 8 SOCIAL SHARE
            if(article.content.article.socialShare!=null)
                #__articleContent-col1.u-floatLeft
                    #__articleContent-sticky
                        #__articleContent-col1-row1
                            +A__smallTitle('--socialShare','Share Article')
                        #__articleContent-col1-row2
                            +O__socialShareList


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    LAYOUT                                                                   //
//-   ---------------                                                           //
//-    ARTICLE FOOTER                               s                            //
//-                                                          s    s s              //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


#__articleFooter-main
    #__articleFooter-centre.u-cf
        if(article.content.footer.comments!=null || article.content.footer.submitButton!=null)
        #__articleFooter-col1.u-floatLeft

            //- 1.1 COMMENTS (INCLUDE)
            if(article.content.footer.comments!=null)
                #__articleFooter-col1-row1
                    +Heading('Join the Discussion')
                #__articleFooter-col1-row2
                    |HTML_comments

            //- 1.2 SUBMIT BUTTONS
            if(article.content.footer.submitButton!=null)
                #__articleFooter-col1-row3
                    +Heading('Submit News Story')
                #__articleFooter-col1-row4
                    +O__textPromptList

        //- 2.1 RELATED CONTENT
        if(article.content.footer.relatedContentAlt!=null)
            #__articleFooterRelatedContentAlt-main
                #__articleFooterelatedContentAlt-center
                    #__articleFooterRelatedContentAlt-row1
                        +Heading('Related Content')
                    #__articleFooterRelatedContentAlt-row2.u-cf
                        each val in [1,2]
                            .u-col3.u-floatLeft
                                +Thumbnail

        //- 2.2 RELATED CONTENT -- PRESS RELEASE
        if(article.content.footer.pressRelease!=null)
            //- PRESS RELEASE
            #__pressReleases-main
                #__pressRelease-centre
                    #__pressRelease-row1
                        +Heading('Press Releases')
                    #__pressRelease-row2.u-cf
                        each val in [1,2,3,4,5]
                            .u-col3.u-floatLeft
                                +Thumbnail


        //- 2.3 RELATED CONTENT -- PARTNER CONTENT
        if(article.content.footer.partnerContent!=null)
            #__pressReleases-main
                #__pressRelease-centre
                    #__pressRelease-row1
                        +Heading('Partner Content')
                    #__pressRelease-row2.u-cf
                        each val in [1,2,3,4,5]
                            .u-col3.u-floatLeft
                                +Thumbnail

        //- 2.4 RELATED CONTENT -- WITH COMMENTS
        if(article.content.footer.relatedContent!=null)
            #__articleFooter-col2.u-floatRight
                #__articleFooter-col2-row1
                    +Heading('Related Content')
                #__articleFooter-col2-row2
                        each val in [1,2,3]
                            .u-col1
                                +Thumbnail

        //- 3.1 FILES
        if(article.content.footer.otherFiles!=null)
            //- OTHER FILES
            #__otherFiles-main
                #__otherFiles-centre
                    #__otherFiles-row1
                        +Heading('Other Files')
                    #__otherFiles-row2
                        +TextButton--files

        //- 3.2 FILES -- PARTNER
        if(article.content.footer.partnerFiles!=null)
            #__otherFiles-main
                #__otherFiles-centre
                    #__otherFiles-row1
                        +Heading('Partner Downloadable Files')
                    #__otherFiles-row2
                        +TextButton--files

        //- 3.3 FILES - SPEAKER PRESENTATIONS
        if(article.content.footer.speakerSlides!=null)
            #__presentationFiles-main
                #__presentationFiles-centre
                    #__presentationFiles-row1
                        +Heading('View Speaker Presentation Files')
                    #__presentationFiles-row2
                        +TextButton--files--speaker


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                      END                                    //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


include ../_global/includes/foot/foot.jade
